@import "~classcentral-style/dist/icon-thumbsup.css";

#reviews-summary {
  width: 275px;
  .bg-gray {
    height: 10px;
    top: 2px;
  }
}
@media (min-width: 641px) {
  .review-date {
    top: 3px;
  }
}
