{% extends 'ClassCentralSiteBundle::Mail/layout/moocreport.html.twig' %}

{%  block content %}
    <tr>
        <td valign="top" class="bodyContentMiddle" style="border-bottom: 1px solid #E2E3E4;">
            <img width="700" style="max-width: 100%;" src="https://d3r3mog6nu8pt4.cloudfront.net/mooc-report/2017-stats.png" alt="By he Numbers: MOOCs in 2017" />
        </td>
    </tr>
    <tr>
        <td valign="top" style="padding: 20px 50px 0px 50px;" class="small-padding-horz-small">
            <table style="border-radius: 10px; padding: 15px 15px 15px 15px; background-color: #F3F6F9;" border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                    <td valign="middle" align="center" width="40%" class="table-column">
                        <a href="http://www.class-central.com/write-a-review" style="color: #454545; text-decoration: none;" class="text--blue">
            <span style="color: #454545; text-decoration: none; font-size: 14px;">
              <span style="color: #FFCA65; font-size: 21px; padding-right: 5px;">★</span>
              Write a Review
            </span>
                        </a>
                    </td>
                    <td valign="middle" align="left" width="60%" class="table-column">
                        <p style="padding: 0px; margin: 0px; color: #454545; text-align: left; font-size: 14px; line-height: 18px;">
                            If you’ve ever taken a course, please consider
                            <a href="http://www.class-central.com/write-a-review" style="color: #5074E9; text-decoration: none;">
                                <span style="color: #5074E9;">leaving a review of it on Class Central</span>.
                            </a>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top" class="bodyContentMiddle">
            <div style="background: #ffffff; padding: 20px 50px 20px 50px;" class="small-padding-horz-small">
                <p style="color: #454545; text-align: left; font-size: 14px; line-height: 18px;">
                    Hello,<br><br>
                    I finally finished my analysis of the MOOC space in 2017. It consists of 14 different articles which can be found <a href="https://www.class-central.com/moocs-year-in-review-2017?utm_source=newsletter_february_2018&utm_medium=email&utm_campaign=cc_newsletter" style="color: #5074E9; text-decoration: none;">here</a>. <br><br>


                    <b>MOOC Stats and Trends in 2017</b><br>
                    The MOOC landscape has grown to include 9,400 courses, 500+ MOOC-based credentials, and more than a dozen graduate degrees. However, for the first time we are seeing a slowdown in the number of new learners. <a href="https://www.class-central.com/report/moocs-stats-and-trends-2017/?utm_source=newsletter_february_2018&utm_medium=email&utm_campaign=cc_newsletter" style="color: #5074E9; text-decoration: none;">A Product at Every Price: A Review of MOOC Stats and Trends in 2017</a>.
                    </a>
                    <br><br>

                    <b>Six Tiers of MOOC Monetization</b><br>
                    The big MOOC providers now have a product at every price point — from free to millions of dollars. I have identified <a href="https://www.class-central.com/report/six-tiers-mooc-monetization/?utm_source=newsletter_february_2018&utm_medium=email&utm_campaign=cc_newsletter" style="color: #5074E9; text-decoration: none;">six different tiers</a> on which MOOC providers have monetized.
                    <br><br>

                    <b>The Evolution of MOOCs: Six Years Later</b><br/>
                    I will be <a href="https://schedule.sxswedu.com/2018/events/PP73427?utm_source=newsletter_february_2018&utm_medium=email&utm_campaign=cc_newsletter" style="color: #5074E9; text-decoration: none;">speaking</a> at SXSW EDU 2018 which will be held in Austin, Texas from March 5th - March 8th. We are planning to hold the first ever Class Central meetup in Austin. If you are interested, please fill out this <a href="https://goo.gl/forms/FVAWFZj3oaPfJIDw1" style="color: #5074E9; text-decoration: none;">form with your email</a> and I will reach out when I have more details.
                    <br><br>

                    <b>Udacity’s 2017</b><br>
                    Udacity had a strong 2017 — Nanodegree enrollments grew 4x and revenue grew 2x. But Udacity seems to have pivoted away from free and also shut down their job guarantee program, 50% tution back, and Blitz.com. To learn more, read <a href="https://www.class-central.com/report/udacity-2017-review/?utm_source=newsletter_february_2018&utm_medium=email&utm_campaign=cc_newsletter" style="color: #5074E9; text-decoration: none;">Udacity's 2017: A Year in Review</a>.

                    <br><br>
                    <b>Coursera’s Completely Free Courses</b><br>
                    Here is a <a href="https://www.class-central.com/report/coursera-free-online-courses/?utm_source=newsletter_february_2018&utm_medium=email&utm_campaign=cc_newsletter" style="color: #5074E9; text-decoration: none;">list of 1150+ courses </a> (40% of Coursera’s active catalog) that are still completely free.
                    <br><br><br>
                    Sincerely,<br>
                    <img src="https://d3r3mog6nu8pt4.cloudfront.net/dhawal-shah-signature.png" border="0" alt="Dhawal Shah Signature" width="125" /><br>
                    Dhawal Shah<br>
                    Founder of Class Central
                    <br><br>
                </p>
            </div>
        </td>
    </tr>
    <tr>
        <td valign="top" align="center" style="padding: 20px 80px 0px 80px; border-top: 1px solid #E2E3E4;" class="small-padding-horz-small">
            <p style="color: #454545; text-align: center; font-size: 16px; line-height: 21px;">
                Click the button below to see a list of 2,000 free online courses starting in February.
            </p>
        </td>
    </tr>
    <tr>
        <td valign="middle" align="center" style="border-bottom: 1px solid #E2E3E4;">
            <div style="background: #ffffff; padding: 0px 20px 30px 20px; text-align: center;">
                <a href="https://www.class-central.com/report/mooc-course-report-february-2018/?utm_source=newsletter_february_2018&utm_medium=email&utm_campaign=cc_newsletter" class="btn-blue" style="background: #0E4DF1; border-radius: 10px; padding: 15px 50px 15px 50px; color: #ffffff; text-decoration: none; display: inline-block;">
                    <span style="color: #ffffff; text-decoration: none; font-size: 14px;">See all 2,000 courses</span>
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td valign="top" style="padding: 20px 50px 0px 50px;" class="small-padding-horz-small">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                    <td valign="top" align="left" style="text-align: left;" width="50%" class="table-column">
                        <h3 style="color: #454545; font-size: 18px; margin: 0px 0px 0px 0px;">Ten most popular MOOCs starting in February, 2018</h3>
                        <ol style="color: #454545; text-align: left; font-size: 14px; padding-left: 15px;">
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/mooc/7606/kadenze-camera-essentials?utm_source=newsletter_february_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Camera Essentials</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/mooc/9177/edx-introduction-to-accounting?utm_source=newsletter_february_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Introduction to Accounting</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/mooc/7096/edx-anatomy-gastrointestinal-reproductive-and-endocrine-systems?utm_source=newsletter_february_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Anatomy: Gastrointestinal, Reproductive and Endocrine Systems</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/mooc/9608/coursera-deep-learning-in-computer-vision?utm_source=newsletter_february_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Deep Learning in Computer Vision</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/mooc/9194/edx-industry-4-0-how-to-revolutionize-your-business?utm_source=newsletter_february_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Industry 4.0: How to Revolutionize your Business</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/mooc/9257/futurelearn-beyond-the-ballot-women-s-rights-and-suffrage-from-1866-to-today?utm_source=newsletter_february_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Beyond the Ballot: Women’s Rights and Suffrage from 1866 to Today</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/mooc/9180/edx-electric-cars-technology-business-and-policy?utm_source=newsletter_february_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Electric Cars: Technology, Business, and Policy</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/mooc/9738/edx-citiesx-the-past-present-and-future-of-urban-life?utm_source=newsletter_february_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">CitiesX: The Past, Present and Future of Urban Life</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/mooc/9603/coursera-natural-language-processing?utm_source=newsletter_february_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Natural Language Processing</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/mooc/10059/nptel-research-writing?utm_source=newsletter_february_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Research Writing</a></li>
                        </ol>

                        <h3 style="color: #454545; font-size: 18px;">Recent Articles</h3>
                        <ul style="color: #454545; text-align: left; font-size: 14px; padding-left: 15px;">
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/report/five-years-mooc-trends/?utm_source=newsletter_february_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Five Years of MOOC Trends</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/report/edx-2017-review/?utm_source=newsletter_february_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">EdX’s 2017: Year in Review</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/report/new-online-courses-january-2018/?utm_source=newsletter_february_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">New Online Courses and MOOCs added in January 2018</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/report/futurelearn-2017-year-review/?utm_source=newsletter_february_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">FutureLearn’s 2017: Year in Review</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/report/6-biggest-mooc-trends-2017/?utm_source=newsletter_february_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">6 Biggest MOOC Trends of 2017</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/report/mooc-stats-2017/?utm_source=newsletter_february_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">By The Numbers: MOOCS in 2017</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/report/mooc-trends-content-paywalls/?utm_source=newsletter_february_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">MOOC Trends in 2017: Content Paywalls</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/report/mooc-trends-online-degrees-corporate-learning/?utm_source=newsletter_february_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">MOOC Trends in 2017: Online Degrees and Corporate Learning</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/report/mooc-trends-increased-flexibility-and-convenience/?utm_source=newsletter_february_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">MOOC Trends in 2017: Increased Flexibility and Convenience</a></li>
                        </ul>
                    </td>
                    <td valign="top" align="left" style="text-align: left; padding-left: 20px;" width="50%" class="table-column">
                        <div style="padding: 15px 15px 15px 15px; border: 1px solid #cccccc;">
                            <h3 style="color: #FF8E6C; font-size: 16px; font-weight: 400; margin: 0px 0px 0px 0px; padding: 0px 0px 15px 0px;">Sponsored</h3>
                            <ul style="list-style: none; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
                                <li style="margin: 0px 0px 20px 0px; padding: 0px 0px 0px 0px;">
                                    <h4 style="font-size: 14px; padding: 0px 0px 5px 0px; margin: 0px 0px 0px 0px;">
                                        <a href="http://bit.ly/2DPEir3" style="color: #454545; text-decoration: none;">
                                            <span style="color: #454545;">Learn to Build the Flying Car</span>
                                        </a>
                                    </h4>
                                    <p style="margin: 0px 0px 0px 0px; font-size: 14px;">
                                      <a href="http://bit.ly/2DPEir3" style="color: #454545; text-decoration: none;">
                                        Learn to build the future of transportation with Udacity! Explore the program.
                                      </a>
                                    </p>
                                </li>
                                <li style="margin: 0px 0px 20px 0px; padding: 0px 0px 0px 0px;">
                                    <h4 style="font-size: 14px; padding: 0px 0px 5px 0px; margin: 0px 0px 0px 0px;">
                                        <a href="http://bit.ly/2slaYna" style="color: #454545; text-decoration: none;">
                                            <span style="color: #454545;">Become a Data Scientist</span>
                                        </a>
                                    </h4>
                                    <p style="margin: 0px 0px 0px 0px; font-size: 14px;">
                                      <a href="http://bit.ly/2slaYna" style="color: #454545; text-decoration: none;">
                                        Learn Python & R at your own pace. Start now for free.
                                      </a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
