{% extends 'ClassCentralSiteBundle::Mail/layout/moocreport.html.twig' %}

{%  block content %}
<tr>
  <td valign="top" class="bodyContentMiddle">
    <img width="700" style="max-width: 100%;" src="https://d3r3mog6nu8pt4.cloudfront.net/mooc-report/MOOC+Course+Report+-+January+2018.png" alt="New Courses for January 2018" />
  </td>
</tr>
<tr>
  <td valign="top" style="padding: 20px 50px 0px 50px;" class="small-padding-horz-small">
    <table style="border-radius: 10px; padding: 15px 15px 15px 15px; background-color: #F3F6F9;" border="0" cellpadding="10" cellspacing="0" width="100%">
      <tr>
        <td valign="middle" align="center" width="40%" class="table-column">
          <a href="http://www.class-central.com/write-a-review" style="color: #454545; text-decoration: none;" class="text--blue">
            <span style="color: #454545; text-decoration: none; font-size: 16px;">
              <img width="30" style="width: 30px; display: block; margin-bottom: 5px;" src="{{ baseUrl }}/bundles/classcentralsite/images/email/star-filled.png" />
              Write a Review
            </span>
          </a>
        </td>
        <td valign="middle" align="left" width="60%" class="table-column">
          <p style="padding: 0px; margin: 0px; color: #454545; text-align: left; font-size: 16px;">
            If you’ve ever taken a course, please consider
            <a href="http://www.class-central.com/write-a-review" style="color: #5074E9; text-decoration: none;">
              <span style="color: #5074E9;">leaving a review of it on Class Central</span>.
            </a>
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td valign="top" class="bodyContentMiddle">
    <div style="background: #ffffff; padding: 20px 50px 20px 50px;" class="small-padding-horz-small">
      <p style="color: #454545; text-align: left; font-size: 16px;">
        <b>Putting the “M” Back in MOOC</b><br>
        The days when forums in MOOCs buzzed with activity are well behind us. I have put forward the concept of a MOOC Semester to make MOOCs feel like a classroom again, instead of a Netflix-like solitary experience. I would love to hear your thoughts in the article’s comments section..
        <a href="#" style="color: #5074E9; text-decoration: none;">
          <span style="color: #5074E9;">Link</span>
        </a>
        <br><br>

        <b>Putting the “M” Back in MOOC</b><br>
        The days when forums in MOOCs buzzed with activity are well behind us. I have put forward the concept of a MOOC Semester to make MOOCs feel like a classroom again, instead of a Netflix-like solitary experience. I would love to hear your thoughts in the article’s comments section..
        <br><br>

        <b>Putting the “M” Back in MOOC</b><br>
        The days when forums in MOOCs buzzed with activity are well behind us. I have put forward the concept of a MOOC Semester to make MOOCs feel like a classroom again, instead of a Netflix-like solitary experience. I would love to hear your thoughts in the article’s comments section..
      </p>
    </div>
  </td>
</tr>
<tr>
  <td valign="top" align="center" style="padding: 20px 50px 0px 50px; border-top: 1px solid #E2E3E4;" class="small-padding-horz-small">
    <p style="color: #454545; text-align: center; font-size: 16px;">
      Click the button below to see a list of 2,300 free online courses starting in December.
    </p>
  </td>
</tr>
<tr>
  <td valign="middle" align="center" style="border-bottom: 1px solid #E2E3E4;">
    <div style="background: #ffffff; padding: 0px 20px 30px 20px; text-align: center;">
      <a href="#" class="btn-blue" style="background: #0E4DF1; border-radius: 10px; padding: 15px 50px 15px 50px; color: #ffffff; text-decoration: none; display: inline-block;">
        <span style="color: #ffffff; text-decoration: none; font-size: 16px;">See all 2,000 courses</span>
      </a>
    </div>
  </td>
</tr>
<tr>
  <td valign="top" style="padding: 20px 50px 0px 50px;" class="small-padding-horz-small">
    <table border="0" cellpadding="10" cellspacing="0" width="100%">
      <tr>
        <td valign="top" align="left" style="text-align: left;" width="50%" class="table-column">
          <h3 style="color: #454545; font-size: 18px; margin: 0px 0px 0px 0px;">Ten most popular MOOCs starting in January, 2018</h3>
          <ol style="color: #454545; text-align: left; font-size: 16px; padding-left: 15px;">
            <li>
              <a href="#" style="color: #5074E9; text-decoration: none;">
                <span style="color: #5074E9;">Religion, Conflict and Peace</span>
              </a>
            </li>
            <li>
              <a href="#" style="color: #5074E9; text-decoration: none;">
                <span style="color: #5074E9;">Young People and Their Mental Health</span>
              </a>
            </li>
            <li>
              <a href="#" style="color: #5074E9; text-decoration: none;">
                <span style="color: #5074E9;">Marketing Analytics</span>
              </a>
            </li>
            <li>
              <a href="#" style="color: #5074E9; text-decoration: none;">
                <span style="color: #5074E9;">Structural Materials: Selection and Economics</span>
              </a>
            </li>
            <li>
              <a href="#" style="color: #5074E9; text-decoration: none;">
                <span style="color: #5074E9;">Leading the Organization</span>
              </a>
            </li>
          </ol>

          <h3 style="color: #454545; font-size: 18px;">Recent Articles</h3>
          <ul style="color: #454545; text-align: left; font-size: 16px; padding-left: 15px;">
            <li>
              <a href="#" style="color: #5074E9; text-decoration: none;">
                <span style="color: #5074E9;">Religion, Conflict and Peace</span>
              </a>
            </li>
            <li>
              <a href="#" style="color: #5074E9; text-decoration: none;">
                <span style="color: #5074E9;">Young People and Their Mental Health</span>
              </a>
            </li>
            <li>
              <a href="#" style="color: #5074E9; text-decoration: none;">
                <span style="color: #5074E9;">Marketing Analytics</span>
              </a>
            </li>
            <li>
              <a href="#" style="color: #5074E9; text-decoration: none;">
                <span style="color: #5074E9;">Structural Materials: Selection and Economics</span>
              </a>
            </li>
            <li>
              <a href="#" style="color: #5074E9; text-decoration: none;">
                <span style="color: #5074E9;">Leading the Organization</span>
              </a>
            </li>
          </ul>
        </td>
        <td valign="top" align="left" style="text-align: left; padding-left: 20px;" width="50%" class="table-column">
          <div style="padding: 15px 15px 15px 15px; border: 1px solid #cccccc;">
            <h3 style="color: #FF8E6C; font-size: 18px; font-weight: 300; margin: 0px 0px 0px 0px; padding: 0px 0px 15px 0px;">Sponsored</h3>
            <ul style="list-style: none; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
              <li style="margin: 0px 0px 20px 0px; padding: 0px 0px 0px 0px;">
                <h4 style="font-size: 16px; padding: 0px 0px 5px 0px; margin: 0px 0px 0px 0px;">
                  <a href="#" style="color: #454545; text-decoration: none;">
                    <span style="color: #454545;">Learn Digital Marketing</span>
                  </a>
                </h4>
                <p style="margin: 0px 0px 0px 0px; font-size: 16px;">Gain real-world experience running live campaigns as you learn from top experts.</p>
              </li>
              <li style="margin: 0px 0px 20px 0px; padding: 0px 0px 0px 0px;">
                <h4 style="font-size: 16px; padding: 0px 0px 5px 0px; margin: 0px 0px 0px 0px;">
                  <a href="#" style="color: #454545; text-decoration: none;">
                    <span style="color: #454545;">Learn Digital Marketing</span>
                  </a>
                </h4>
                <p style="margin: 0px 0px 0px 0px; font-size: 16px;">Gain real-world experience running live campaigns as you learn from top experts.</p>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </table>
  </td>
</tr>
{% endblock %}
