{% extends 'ClassCentralSiteBundle::Mail/layout/moocreport.html.twig' %}

{%  block content %}
    <tr>
        <td valign="top" class="bodyContentMiddle" style="border-bottom: 0px solid #E2E3E4;">
            <img width="700" style="max-width: 100%;" src="https://d3r3mog6nu8pt4.cloudfront.net/mooc-report/new-course-page.png" alt="Redesigned Class Central course pages" />
        </td>
    </tr>
    {#
    <tr>
        <td valign="top" style="padding: 20px 50px 0px 50px;" class="small-padding-horz-small">
            <table style="border-radius: 10px; padding: 15px 15px 15px 15px; background-color: #F3F6F9;" border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                    <td valign="middle" align="center" width="40%" class="table-column">
                        <a href="http://www.class-central.com/write-a-review" style="color: #454545; text-decoration: none;" class="text--blue">
            <span style="color: #454545; text-decoration: none; font-size: 16px;">
              <img width="30" style="width: 30px; display: block; margin-bottom: 5px;" src="{{ baseUrl }}/bundles/classcentralsite/images/email/star-filled.png" />
              Write a Review
            </span>
                        </a>
                    </td>
                    <td valign="middle" align="left" width="60%" class="table-column">
                        <p style="padding: 0px; margin: 0px; color: #454545; text-align: left; font-size: 16px;">
                            If you’ve ever taken a course, please consider
                            <a href="http://www.class-central.com/write-a-review" style="color: #5074E9; text-decoration: none;">
                                <span style="color: #50a74E9;">leaving a review of it on Class Central</span>.
                            </a>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    #}
    <tr>
        <td valign="top" class="bodyContentMiddle">
            <div style="background: #ffffff; padding: 20px 50px 20px 50px;" class="small-padding-horz-small">
                <p style="color: #454545; text-align: left; font-size: 14px; line-height: 18px;">
                    Hello,<br><br>

                    Class Central's newly re-designed course pages are live now! Here is an <a href="https://www.class-central.com/course/coursera-learning-how-to-learn-powerful-mental-tools-to-help-you-master-tough-subjects-2161?utm_source=newsletter_april_2018&utm_medium=email&utm_campaign=cc_newsletter">example</a>.

                    <br><br>

                    <b>New MOOC-based Online Degrees</b><br>
                    Coursera announced <a href="https://www.class-central.com/report/coursera-new-bachelors-degree/?utm_source=newsletter_april_2018&utm_medium=email&utm_campaign=cc_newsletter">six new degrees</a> including a Bachelors degree in Computer Science from University of London. They also launched a new micro-credential called <a href="https://www.class-central.com/report/mastertrack-coursera/?utm_source=newsletter_april_2018&utm_medium=email&utm_campaign=cc_newsletter">MasterTrack</a>.
                    <br><br>


                    <b>Udacity's School of AI</b><br>
                    Udacity doubled down on their "Jobs of Tomorrow" approach by <a href="https://www.class-central.com/report/udacity-school-of-ai/?utm_source=newsletter_april_2018&utm_medium=email&utm_campaign=cc_newsletter">announcing</a>  a School of AI, a 3d virtual world/simulation environment, and a Robot learning lab.
                    <br><br>

                    <b>Become A Better Parent</b><br>
                    List of <a href="https://www.class-central.com/report/parenting-online-courses/?utm_source=newsletter_april_2018&utm_medium=email&utm_campaign=cc_newsletter">17 online courses</a> on subjects ranging from nutrition during pregnancy to teaching your child to read to helping your child to cope with divorce.
                    <br><br>

                    <b>Boeing and NASA Partner with MIT</b><br/>
                    MIT, Boeing, and NASA have <a href="https://www.class-central.com/report/boeing-nasa-mitxpro/?utm_source=newsletter_april_2018&utm_medium=email&utm_campaign=cc_newsletter">partnered to develop</a> a set of four professional development training courses. The potential revenue, based on the 5000 students enrolled in these courses is $12.5M.
                    <br><br><br>


                    Sincerely,<br>
                    <img src="https://d3r3mog6nu8pt4.cloudfront.net/dhawal-shah-signature.png" border="0" alt="Dhawal Shah Signature" width="125" /><br>
                    Dhawal Shah<br>
                    Founder of Class Central
                    <br><br>
                </p>
            </div>
        </td>
    </tr>
    <tr>
        <td valign="top" align="center" style="padding: 20px 80px 0px 80px; border-top: 1px solid #E2E3E4;" class="small-padding-horz-small">
            <p style="color: #454545; text-align: center; font-size: 16px; line-height: 21px;">
                Click the button below to see a list of 1,900 free online courses starting in April.
            </p>
        </td>
    </tr>
    <tr>
        <td valign="middle" align="center" style="border-bottom: 1px solid #E2E3E4;">
            <div style="background: #ffffff; padding: 0px 20px 30px 20px; text-align: center;">
                <a href="https://www.class-central.com/report/mooc-course-report-april-2018/?utm_source=newsletter_april_2018&utm_medium=email&utm_campaign=cc_newsletter" class="btn-blue" style="background: #0E4DF1; border-radius: 10px; padding: 15px 50px 15px 50px; color: #ffffff; text-decoration: none; display: inline-block;">
                    <span style="color: #ffffff; text-decoration: none; font-size: 14px;">See all 1,900 courses</span>
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td valign="top" style="padding: 20px 50px 0px 50px;" class="small-padding-horz-small">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                    <td valign="top" align="left" style="text-align: left;" width="50%" class="table-column">
                        <h3 style="color: #454545; font-size: 18px; margin: 0px 0px 0px 0px;">Ten most popular MOOCs starting in April, 2018</h3>
                        <ol style="color: #454545; text-align: left; font-size: 14px; padding-left: 15px;">
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/coursera-sustainable-development-in-the-21st-century-with-ban-ki-moon-10427?utm_source=newsletter_april_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Sustainable Development in the 21st Century with Ban Ki-moon</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/edx-fat-chance-probability-from-the-ground-up-10159?utm_source=newsletter_april_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Fat Chance: Probability from the Ground Up</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/edx-the-world-history-of-modern-wine-10445?utm_source=newsletter_april_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">The World History of Modern Wine</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/edx-storytelling-in-the-workplace-9183?utm_source=newsletter_april_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Storytelling in the Workplace</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/edx-organizational-behaviour-9176?utm_source=newsletter_april_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Organizational Behaviour</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/edx-leading-high-performing-teams-9182?utm_source=newsletter_april_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Leading High-Performing Teams</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/cartography-8812?utm_source=newsletter_april_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Cartography</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/coursera-deep-learning-in-computer-vision-9608?utm_source=newsletter_april_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Deep Learning in Computer Vision</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/edx-chasing-your-dream-how-to-end-procrastination-and-get-a-job-you-love-10157?utm_source=newsletter_april_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Chasing your Dream: How to End Procrastination and Get a Job You Love</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/kadenze-introduction-to-digital-fabrication-and-technical-design-9440?utm_source=newsletter_april_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;"> Introduction to Digital Fabrication and Technical Design</a></li>
                        </ol>

                        <h3 style="color: #454545; font-size: 18px;">Recent Articles</h3>
                        <ul style="color: #454545; text-align: left; font-size: 14px; padding-left: 15px;">
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/report/new-online-courses-march-2018/?utm_source=newsletter_april_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">70 Universities Just Launched 160 Free Online Courses. Here’s The Full List.</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/report/mastertrack-coursera/?utm_source=newsletter_april_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">MasterTrack: Coursera’s Newest Micro-Credential</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/report/udacity-school-of-ai/?utm_source=newsletter_april_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Udacity Doubles Down on Jobs of Tomorrow. Announces School of AI, Udacity Universe, and a Robot Learning Lab.</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/report/boeing-nasa-mitxpro/?utm_source=newsletter_april_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Boeing and NASA Partner with MIT’s Professional Development Arm to Produce Online Courses</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/report/pluralsight-stackoverflow/?utm_source=newsletter_april_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Human Learning #31 – Coursera Launches 6 New Degrees and Pluralsight Partners with StackOverflow</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/report/edx-eye-up-the-bachelor-degree/?utm_source=newsletter_april_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Human Learning #30 – edX eye up the Bachelor degree, General Assembly ponder if blended is the future</a></li>
                        </ul>
                    </td>
                    <td valign="top" align="left" style="text-align: left; padding-left: 20px;" width="50%" class="table-column">
                        <div style="padding: 15px 15px 15px 15px; border: 1px solid #cccccc;">
                            <h3 style="color: #FF8E6C; font-size: 16px; font-weight: 400; margin: 0px 0px 0px 0px; padding: 0px 0px 15px 0px;">Sponsored</h3>
                            <ul style="list-style: none; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
                                <li style="margin: 0px 0px 20px 0px; padding: 0px 0px 0px 0px;">
                                    <h4 style="font-size: 14px; padding: 0px 0px 5px 0px; margin: 0px 0px 0px 0px;">
                                        <a href="https://www.udacity.com/course/digital-marketing-nanodegree--nd018?utm_source=class-central&utm_medium=ads&utm_campaign=2018-04-class-central-newsletter-ad-digital-marketing" style="color: #454545; text-decoration: none;">
                                            <span style="color: #454545;">Learn Digital Marketing</span>
                                        </a>
                                    </h4>
                                    <p style="margin: 0px 0px 0px 0px; font-size: 14px;">
                                        <a href="https://www.udacity.com/course/digital-marketing-nanodegree--nd018?utm_source=class-central&utm_medium=ads&utm_campaign=2018-04-class-central-newsletter-ad-digital-marketing" style="color: #454545; text-decoration: none;">
                                            Gain real-world experience in a program built with Google, Facebook, and more.
                                        </a>
                                    </p>
                                </li>
                                <li style="margin: 0px 0px 20px 0px; padding: 0px 0px 0px 0px;">
                                    <h4 style="font-size: 14px; padding: 0px 0px 5px 0px; margin: 0px 0px 0px 0px;">
                                        <a href="http://bit.ly/2slaYna" style="color: #454545; text-decoration: none;">
                                            <span style="color: #454545;">Become a Data Scientist</span>
                                        </a>
                                    </h4>
                                    <p style="margin: 0px 0px 0px 0px; font-size: 14px;">
                                        <a href="http://bit.ly/2slaYna" style="color: #454545; text-decoration: none;">
                                            Learn Python & R at your own pace. Start now for free.
                                        </a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
