{% extends 'ClassCentralSiteBundle::Mail/layout/moocreport.html.twig' %}

{%  block content %}
    <tr>
        <td valign="top" class="bodyContentMiddle" style="border-bottom: 0px solid #E2E3E4;">
            <img width="700" style="max-width: 100%;" src="https://d3r3mog6nu8pt4.cloudfront.net/mooc-report/moocwatch-16.png" alt="MOOCs become big business illustration" />
        </td>
    </tr>
    {#
    <tr>
        <td valign="top" style="padding: 20px 50px 0px 50px;" class="small-padding-horz-small">
            <table style="border-radius: 10px; padding: 15px 15px 15px 15px; background-color: #F3F6F9;" border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                    <td valign="middle" align="center" width="40%" class="table-column">
                        <a href="http://www.class-central.com/write-a-review" style="color: #454545; text-decoration: none;" class="text--blue">
            <span style="color: #454545; text-decoration: none; font-size: 16px;">
              <img width="30" style="width: 30px; display: block; margin-bottom: 5px;" src="{{ baseUrl }}/bundles/classcentralsite/images/email/star-filled.png" />
              Write a Review
            </span>
                        </a>
                    </td>
                    <td valign="middle" align="left" width="60%" class="table-column">
                        <p style="padding: 0px; margin: 0px; color: #454545; text-align: left; font-size: 16px;">
                            If you’ve ever taken a course, please consider
                            <a href="http://www.class-central.com/write-a-review" style="color: #5074E9; text-decoration: none;">
                                <span style="color: #50a74E9;">leaving a review of it on Class Central</span>.
                            </a>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    #}
    <tr>
        <td valign="top" class="bodyContentMiddle">
            <div style="background: #ffffff; padding: 20px 50px 20px 50px;" class="small-padding-horz-small">
                <p style="color: #454545; text-align: left; font-size: 14px; line-height: 18px;">
                    Hello,<br><br>

                    On the occasion of the first iMBA graduation, I got the opportunity to interview Coursera’s CEO Jeff Maggioncalda and Dean of the University of Illinois College of Business Jeffrey Brown. You can read the <a href="https://www.class-central.com/report/interview-jeff-maggioncalda-jeffery-brown/?utm_source=newsletter_may_2018&utm_medium=email&utm_campaign=cc_newsletter">interview here</a>.
                    <br><br>

                    I further discuss the iMBA graduation with Laurie Pickard. You can watch the discussion on <a href="https://www.youtube.com/watch?v=q_Azziz6ZGU">YouTube here</a>.
                    <br><br>


                    <b>EdX to Start Testing Paywalls</b><br>
                    EdX <a href="https://www.class-central.com/report/edx-support-fee/?utm_source=newsletter_may_2018&utm_medium=email&utm_campaign=cc_newsletter">announced</a> they will move away from their policy of “offering virtually everything for free”. They plan to start testing a support fee, but the details are still unclear at this moment.
                    <br><br>

                    <b>Second Wave of MOOC Hype</b><br>
                    The recent spate of online degree announcements and the resources being spent by MOOC providers and universities alike, are giving me a feeling of deja vu. You can <a href="https://www.class-central.com/report/second-wave-of-mooc-hype/?utm_source=newsletter_june_2018&utm_medium=email&utm_campaign=cc_newsletter">read my thoughts</a> here on why I think we are seeing a second wave of MOOC hype.
                    <br><br>
                    <b>MOOCS, Present and Future</b><br/>
                    Last month, Futurist Bryan Alexander interviewed me on his Future Trends Forum. You can watch the interview on <a href="https://www.youtube.com/watch?v=EiZg_GTGMlI&feature=youtu.be">YouTube here</a>.
                    <br><br>
                    <b>MOOCs with College Credit</b><br>
                    Class Central recently made a <a href="https://www.class-central.com/report/free-for-credit-moocs/?utm_source=newsletter_may_2018&utm_medium=email&utm_campaign=cc_newsletter">list of all the courses</a>  we could find that are part of for-credit programs and are still free to access.
                    <br><br>


                    Don't forget to check out our list of <a href="https://www.class-central.com/report/ten-most-popular-june-2018/?utm_source=newsletter_june_2018&utm_medium=email&utm_campaign=cc_newsletter">ten most popular MOOCs</a> starting this month below.
                    <br><br>
                    Sincerely,<br>
                    <img src="https://d3r3mog6nu8pt4.cloudfront.net/dhawal-shah-signature.png" border="0" alt="Dhawal Shah Signature" width="125" /><br>
                    Dhawal Shah<br>
                    Founder of Class Central
                    <br><br>
                </p>
            </div>
        </td>
    </tr>
    <tr>
        <td valign="top" align="center" style="padding: 20px 80px 0px 80px; border-top: 1px solid #E2E3E4;" class="small-padding-horz-small">
            <p style="color: #454545; text-align: center; font-size: 16px; line-height: 21px;">
                Click the button below to see a list of 2,700+ free online courses from 265 universities starting in June.
            </p>
        </td>
    </tr>
    <tr>
        <td valign="middle" align="center" style="border-bottom: 1px solid #E2E3E4;">
            <div style="background: #ffffff; padding: 0px 20px 30px 20px; text-align: center;">
                <a href="https://www.class-central.com/report/mooc-course-report-june-2018/?utm_source=newsletter_june_2018&utm_medium=email&utm_campaign=cc_newsletter" class="btn-blue" style="background: #0E4DF1; border-radius: 10px; padding: 15px 50px 15px 50px; color: #ffffff; text-decoration: none; display: inline-block;">
                    <span style="color: #ffffff; text-decoration: none; font-size: 14px;">See all 2,700+ courses</span>
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td valign="top" style="padding: 20px 50px 0px 50px;" class="small-padding-horz-small">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                    <td valign="top" align="left" style="text-align: left;" width="50%" class="table-column">
                        <h3 style="color: #454545; font-size: 18px; margin: 0px 0px 0px 0px;">Ten most popular MOOCs starting in June, 2018</h3>
                        <ol style="color: #454545; text-align: left; font-size: 14px; padding-left: 15px;">
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/edx-financial-management-in-organizations-9109?utm_source=newsletter_june_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Financial Management in Organizations</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/coursera-health-care-innovation-10802?utm_source=newsletter_june_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Health Care Innovation</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/coursera-data-analysis-with-python-11177?utm_source=newsletter_june_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Data Analysis with Python</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/coursera-management-fundamentals-10801?utm_source=newsletter_june_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Management Fundamentals</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/coursera-financial-acumen-for-non-financial-managers-10797?utm_source=newsletter_june_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Financial Acumen for Non-Financial Managers</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/edx-entrepreneurial-leadership-toolbox-10288?utm_source=newsletter_june_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Entrepreneurial Leadership Toolbox</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/edx-writing-for-social-media-10284?utm_source=newsletter_june_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Writing for Social Media</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/futurelearn-understanding-innovation-in-the-healthcare-sciences-10776?utm_source=newsletter_june_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Understanding Innovation in the Healthcare Sciences</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/coursera-international-organizations-management-11072?utm_source=newsletter_june_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">International Organizations Management </a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/futurelearn-blended-learning-essentials-digitally-enriched-apprenticeships-11102?utm_source=newsletter_june_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Blended Learning Essentials: Digitally-Enriched Apprenticeships</a></li>
                        </ol>

                        <h3 style="color: #454545; font-size: 18px;">Recent Articles</h3>
                        <ul style="color: #454545; text-align: left; font-size: 14px; padding-left: 15px;">
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/report/new-online-courses-may-2018/?utm_source=newsletter_june_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">48 Universities Just Launched 90+ Free Online Courses. Here’s The Full List.</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/report/tecnologico-de-monterrey-moocs-help-anticipate-the-future-of-higher-ed/?utm_source=newsletter_may_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">At Mexico’s Tecnológico de Monterrey MOOCs Help Anticipate the Future of Higher Ed</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/report/moocs-stage-2018-asu-gsv-summit/?utm_source=newsletter_may_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">MOOCs On Stage at the 2018 ASU + GSV Summit
                                </a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/report/rise-of-edtech-titans/?utm_source=newsletter_may_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">
                                    Human Learning #33 — Rise of the Edtech titans heralded by IPOs, Bootcamps prepare to leap into the mainstream</a></li>

                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/report/staffing-recruitment-edtech/?utm_source=newsletter_may_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">
                                    Human Learning #34 — Staffing and recruitment firms are the new gang in the Edtech playground
                                </a></li>
                        </ul>
                    </td>
                    <td valign="top" align="left" style="text-align: left; padding-left: 20px;" width="50%" class="table-column">
                        <div style="padding: 15px 15px 15px 15px; border: 1px solid #cccccc;">
                            <h3 style="color: #FF8E6C; font-size: 16px; font-weight: 400; margin: 0px 0px 0px 0px; padding: 0px 0px 15px 0px;">Sponsored</h3>
                            <ul style="list-style: none; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
                                <li style="margin: 0px 0px 20px 0px; padding: 0px 0px 0px 0px;">
                                    <h4 style="font-size: 14px; padding: 0px 0px 5px 0px; margin: 0px 0px 0px 0px;">
                                        <a href="http://bit.ly/2szKeRN style="color: #454545; text-decoration: none;">
                                            <span style="color: #454545;">Become a Data Scientist</span>
                                        </a>
                                    </h4>
                                    <p style="margin: 0px 0px 0px 0px; font-size: 14px;">
                                        <a href="http://bit.ly/2HIRHTU" style="color: #454545; text-decoration: none;">
                                            Get direct access to top data scientists at Airbnb, Google, and Netflix.
                                        </a>
                                    </p>
                                </li>
                                <li style="margin: 0px 0px 20px 0px; padding: 0px 0px 0px 0px;">
                                    <h4 style="font-size: 14px; padding: 0px 0px 5px 0px; margin: 0px 0px 0px 0px;">
                                        <a href="http://bit.ly/2slaYna" style="color: #454545; text-decoration: none;">
                                            <span style="color: #454545;">Become a Data Scientist</span>
                                        </a>
                                    </h4>
                                    <p style="margin: 0px 0px 0px 0px; font-size: 14px;">
                                        <a href="http://bit.ly/2slaYna" style="color: #454545; text-decoration: none;">
                                            Learn Python & R at your own pace. Start now for free.
                                        </a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
