{% extends 'ClassCentralSiteBundle::Mail/layout/moocreport.html.twig' %}

{%  block content %}
    <tr>
        <td valign="top" class="bodyContentMiddle" style="border-bottom: 0px solid #E2E3E4;">
            <img width="700" style="max-width: 100%;" src="https://d3r3mog6nu8pt4.cloudfront.net/mooc-report/social-sxsw-meetup-2018.png" alt="SXSW EDU 2018 Class Central Meetup" />
        </td>
    </tr>
    {#
    <tr>
        <td valign="top" style="padding: 20px 50px 0px 50px;" class="small-padding-horz-small">
            <table style="border-radius: 10px; padding: 15px 15px 15px 15px; background-color: #F3F6F9;" border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                    <td valign="middle" align="center" width="40%" class="table-column">
                        <a href="http://www.class-central.com/write-a-review" style="color: #454545; text-decoration: none;" class="text--blue">
            <span style="color: #454545; text-decoration: none; font-size: 16px;">
              <img width="30" style="width: 30px; display: block; margin-bottom: 5px;" src="{{ baseUrl }}/bundles/classcentralsite/images/email/star-filled.png" />
              Write a Review
            </span>
                        </a>
                    </td>
                    <td valign="middle" align="left" width="60%" class="table-column">
                        <p style="padding: 0px; margin: 0px; color: #454545; text-align: left; font-size: 16px;">
                            If you’ve ever taken a course, please consider
                            <a href="http://www.class-central.com/write-a-review" style="color: #5074E9; text-decoration: none;">
                                <span style="color: #50a74E9;">leaving a review of it on Class Central</span>.
                            </a>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    #}
    <tr>
        <td valign="top" class="bodyContentMiddle">
            <div style="background: #ffffff; padding: 20px 50px 20px 50px;" class="small-padding-horz-small">
                <p style="color: #454545; text-align: left; font-size: 14px; line-height: 18px;">
                    Hello,<br><br>

                    We are just a few days away from Class Central's first ever meetup in Austin during SXSW EDU. We will be joined by a professor from our Top 50 MOOCs of all time, CEO of eCornell, a VP from edX, and the host of The Edtech Podcast. RSVP here: <a href="http://bit.ly/cc-austin-2018" style="color: #5074E9; text-decoration: none;">http://bit.ly/cc-austin-2018</a>

                    <br><br>

                    <b>Udacity Makes $70M in 2017</b><br>
                    Early this week, Udacity made a <a href="https://www.class-central.com/report/udacity-revenues-2017/?utm_source=newsletter_march_2018&utm_medium=email&utm_campaign=cc_newsletter"  style="color: #5074E9; text-decoration: none;" >stunning announcement</a> – the company’s revenues touched $70M in 2017, up from $29M in 2016.
                    <br><br>

                    <b>Credit For MOOCs From Other Universities</b><br>
                    TU Delft students can earn credit for MOOCs from courses offered by other universities through a <a href="https://www.class-central.com/report/delft-virtual-exchange-program/?utm_source=newsletter_march_2018&utm_medium=email&utm_campaign=cc_newsletter" style="color: #5074E9; text-decoration: none;">virtual exchange program.</a>
                    <br><br>

                    <b>Class Central’s Best Online Courses of 2017</b><br/>
                    The results are in! We are back with a list of the <a href="https://www.class-central.com/report/best-free-online-courses-2017/?utm_source=newsletter_march_2018&utm_medium=email&utm_campaign=cc_newsletter" style="color: #5074E9; text-decoration: none;">best online courses of 2017</a>. Like <a href="https://www.class-central.com/report/best-free-online-courses-2016/?utm_source=newsletter_march_2018&utm_medium=email&utm_campaign=cc_newsletter" style="color: #5074E9; text-decoration: none;">last year</a>  and the <a href="https://www.class-central.com/report/best-free-online-courses-2015/?utm_source=newsletter_march_2018&utm_medium=email&utm_campaign=cc_newsletter" style="color: #5074E9; text-decoration: none;">year before</a>, this year’s list is based on thousands of reviews written by our users.
                    <br><br><br>

                    Sincerely,<br>
                    <img src="https://d3r3mog6nu8pt4.cloudfront.net/dhawal-shah-signature.png" border="0" alt="Dhawal Shah Signature" width="125" /><br>
                    Dhawal Shah<br>
                    Founder of Class Central
                    <br><br>
                </p>
            </div>
        </td>
    </tr>
    <tr>
        <td valign="top" align="center" style="padding: 20px 80px 0px 80px; border-top: 1px solid #E2E3E4;" class="small-padding-horz-small">
            <p style="color: #454545; text-align: center; font-size: 16px; line-height: 21px;">
                Click the button below to see a list of 1,800 free online courses starting in March.
            </p>
        </td>
    </tr>
    <tr>
        <td valign="middle" align="center" style="border-bottom: 1px solid #E2E3E4;">
            <div style="background: #ffffff; padding: 0px 20px 30px 20px; text-align: center;">
                <a href="https://www.class-central.com/report/mooc-course-report-march-2018/?utm_source=newsletter_march_2018&utm_medium=email&utm_campaign=cc_newsletter" class="btn-blue" style="background: #0E4DF1; border-radius: 10px; padding: 15px 50px 15px 50px; color: #ffffff; text-decoration: none; display: inline-block;">
                    <span style="color: #ffffff; text-decoration: none; font-size: 14px;">See all 1,800 courses</span>
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td valign="top" style="padding: 20px 50px 0px 50px;" class="small-padding-horz-small">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                    <td valign="top" align="left" style="text-align: left;" width="50%" class="table-column">
                        <h3 style="color: #454545; font-size: 18px; margin: 0px 0px 0px 0px;">Ten most popular MOOCs starting in March, 2018</h3>
                        <ol style="color: #454545; text-align: left; font-size: 14px; padding-left: 15px;">
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/edx-critical-thinking-problem-solving-9181?utm_source=newsletter_march_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Critical Thinking & Problem-Solving</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/edx-demand-and-supply-analytics-8206?utm_source=newsletter_march_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Demand and Supply Analytics</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/edx-online-marketing-strategies-8176?utm_source=newsletter_march_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Online Marketing Strategies</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/edx-entrepreneurial-opportunities-5351?utm_source=newsletter_march_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Entrepreneurial Opportunities</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/edx-the-writing-process-10271?utm_source=newsletter_march_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">The Writing Process</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/coursera-the-science-of-well-being-10346?utm_source=newsletter_march_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">The Science of Well-Being</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/kadenze-introduction-to-digital-fabrication-and-technical-design-9440?utm_source=newsletter_march_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;"> Introduction to Digital Fabrication and Technical Design</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/edx-financial-management-in-organizations-9109?utm_source=newsletter_march_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Financial Management in Organizations</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/edx-chasing-your-dream-how-to-end-procrastination-and-get-a-job-you-love-10157?utm_source=newsletter_march_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Chasing your Dream: How to End Procrastination and Get a Job You Love</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/edx-the-medieval-icelandic-sagas-9734?utm_source=newsletter_march_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">The Medieval Icelandic Sagas</a></li>
                        </ol>

                        <h3 style="color: #454545; font-size: 18px;">Recent Articles</h3>
                        <ul style="color: #454545; text-align: left; font-size: 14px; padding-left: 15px;">
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/report/delft-virtual-exchange-program/?utm_source=newsletter_march_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">TU Delft Students Can Earn Credit For MOOCs From Other Universities</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/report/new-online-courses-february-2018/?utm_source=newsletter_march_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">New Online Courses and MOOCs added in February 2018</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/report/oxford-mooc-review/?utm_source=newsletter_march_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">In-Depth Review: Oxford’s From Poverty to Prosperity: Understanding Economic Development</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/report/mooc-market-cooling-wework-education/?utm_source=newsletter_march_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Human Learning #29: Is the MOOC market cooling? What are WeWork after in Education?
                                </a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/report/6-biggest-mooc-trends-2017/?utm_source=newsletter_february_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">6 Biggest MOOC Trends of 2017</a></li>
                        </ul>
                    </td>
                    <td valign="top" align="left" style="text-align: left; padding-left: 20px;" width="50%" class="table-column">
                        <div style="padding: 15px 15px 15px 15px; border: 1px solid #cccccc;">
                            <h3 style="color: #FF8E6C; font-size: 16px; font-weight: 400; margin: 0px 0px 0px 0px; padding: 0px 0px 15px 0px;">Sponsored</h3>
                            <ul style="list-style: none; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
                                <li style="margin: 0px 0px 20px 0px; padding: 0px 0px 0px 0px;">
                                    <h4 style="font-size: 14px; padding: 0px 0px 5px 0px; margin: 0px 0px 0px 0px;">
                                        <a href="http://bit.ly/2HTnJ04" style="color: #454545; text-decoration: none;">
                                            <span style="color: #454545;">Become a Data Analyst</span>
                                        </a>
                                    </h4>
                                    <p style="margin: 0px 0px 0px 0px; font-size: 14px;">
                                        <a href="http://bit.ly/2HTnJ04" style="color: #454545; text-decoration: none;">
                                            Learn to use Python, R, SQL, and Tableau to uncover insights.
                                        </a>
                                    </p>
                                </li>
                                <li style="margin: 0px 0px 20px 0px; padding: 0px 0px 0px 0px;">
                                    <h4 style="font-size: 14px; padding: 0px 0px 5px 0px; margin: 0px 0px 0px 0px;">
                                        <a href="http://bit.ly/2slaYna" style="color: #454545; text-decoration: none;">
                                            <span style="color: #454545;">Become a Data Scientist</span>
                                        </a>
                                    </h4>
                                    <p style="margin: 0px 0px 0px 0px; font-size: 14px;">
                                        <a href="http://bit.ly/2slaYna" style="color: #454545; text-decoration: none;">
                                            Learn Python & R at your own pace. Start now for free.
                                        </a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
