{% extends 'ClassCentralSiteBundle::Mail/layout/moocreport.html.twig' %}

{%  block content %}
    <tr>
        <td valign="top" class="bodyContentMiddle" style="border-bottom: 0px solid #E2E3E4;">
            <img width="700" style="max-width: 100%;" src="https://d3r3mog6nu8pt4.cloudfront.net/mooc-report/moocwatch-17-illustration-crop.png" alt="MOOCs become big business illustration" />
        </td>
    </tr>
    {#
    <tr>
        <td valign="top" style="padding: 20px 50px 0px 50px;" class="small-padding-horz-small">
            <table style="border-radius: 10px; padding: 15px 15px 15px 15px; background-color: #F3F6F9;" border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                    <td valign="middle" align="center" width="40%" class="table-column">
                        <a href="http://www.class-central.com/write-a-review" style="color: #454545; text-decoration: none;" class="text--blue">
            <span style="color: #454545; text-decoration: none; font-size: 16px;">
              <img width="30" style="width: 30px; display: block; margin-bottom: 5px;" src="{{ baseUrl }}/bundles/classcentralsite/images/email/star-filled.png" />
              Write a Review
            </span>
                        </a>
                    </td>
                    <td valign="middle" align="left" width="60%" class="table-column">
                        <p style="padding: 0px; margin: 0px; color: #454545; text-align: left; font-size: 16px;">
                            If you’ve ever taken a course, please consider
                            <a href="http://www.class-central.com/write-a-review" style="color: #5074E9; text-decoration: none;">
                                <span style="color: #50a74E9;">leaving a review of it on Class Central</span>.
                            </a>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    #}
    <tr>
        <td valign="top" class="bodyContentMiddle">
            <div style="background: #ffffff; padding: 20px 50px 20px 50px;" class="small-padding-horz-small">
                <p style="color: #454545; text-align: left; font-size: 14px; line-height: 18px;">
                    Hello,<br><br>

                    Class Central will be at the <a href="https://con.openedx.org/">Open edX Conference</a> later this month in Montreal, Canada. If you are around, we would love to meet you. <a href="https://goo.gl/forms/DYdrFMPtkSSxJxM23">RSVP here</a>.

                    <br><br>
                    This week, at Future Trends Forum with Bryan Alexander I’ll be discussing the current state of MOOCs, MOOC hype, and where the industry is headed. Join us on the <a href="http://bit.ly/2HMqQGA">interactive livestream</a> on May 3rd, 2PM ET.

                    <br><br>

                    <b>How Open University (OU) Works</b><br>
                    Class Central user Manoel Cortes Mendez graduated with a bachelor's degree in CS from OU. He explains in fascinating detail how the the <a href="https://www.class-central.com/report/open-university-insiders-perspective/?utm_source=newsletter_may_2018&utm_medium=email&utm_campaign=cc_newsletter">OU works</a> from a student’s perspective.
                    <br><br>


                    <b>MOOC-Based Master’s Degree in Electrical Engineering</b><br>
                    The University of Colorado, Boulder (CU) became the fifth US university to announce a MOOC-based online degree. The Master’s in EE will have no formal application process. <a href="https://www.class-central.com/report/cu-boulder-mooc-masters-electrical-engineering/?utm_source=newsletter_may_2018&utm_medium=email&utm_campaign=cc_newsletter">Learn more</a>.
                    <br><br>

                    <b>MOOCs Become Big Business</b><br>
                    MOOC providers have started earning the big bucks, and are increasingly looking upstream at higher ticket items—specifically, online degrees and corporate training. Read our <a href="https://www.class-central.com/report/moocs-become-big-business/?utm_source=newsletter_may_2018&utm_medium=email&utm_campaign=cc_newsletter">latest edition</a> of MOOCWatch to learn more.
                    <br><br>

                    <b>Learn Faster</b><br/>
                    Serial MOOC-taker Pat Bowden shares her <a href="https://www.class-central.com/report/learn-faster-training-brain-focus/?utm_source=newsletter_may_2018&utm_medium=email&utm_campaign=cc_newsletter">tips</a> on how to learn faster by training your brain to focus.
                    <br><br><br>

                    Don't forget to check out our list of <a href="https://www.class-central.com/report/ten-most-popular-may-2018/?utm_source=newsletter_may_2018&utm_medium=email&utm_campaign=cc_newsletter">ten most popular MOOCs</a> starting this month below.

                    Sincerely,<br>
                    <img src="https://d3r3mog6nu8pt4.cloudfront.net/dhawal-shah-signature.png" border="0" alt="Dhawal Shah Signature" width="125" /><br>
                    Dhawal Shah<br>
                    Founder of Class Central
                    <br><br>
                </p>
            </div>
        </td>
    </tr>
    <tr>
        <td valign="top" align="center" style="padding: 20px 80px 0px 80px; border-top: 1px solid #E2E3E4;" class="small-padding-horz-small">
            <p style="color: #454545; text-align: center; font-size: 16px; line-height: 21px;">
                Click the button below to see a list of 1,950 free online courses from 250 universities starting in May.
            </p>
        </td>
    </tr>
    <tr>
        <td valign="middle" align="center" style="border-bottom: 1px solid #E2E3E4;">
            <div style="background: #ffffff; padding: 0px 20px 30px 20px; text-align: center;">
                <a href="https://www.class-central.com/report/mooc-course-report-may-2018/?utm_source=newsletter_may_2018&utm_medium=email&utm_campaign=cc_newsletter" class="btn-blue" style="background: #0E4DF1; border-radius: 10px; padding: 15px 50px 15px 50px; color: #ffffff; text-decoration: none; display: inline-block;">
                    <span style="color: #ffffff; text-decoration: none; font-size: 14px;">See all 1,950 courses</span>
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td valign="top" style="padding: 20px 50px 0px 50px;" class="small-padding-horz-small">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                    <td valign="top" align="left" style="text-align: left;" width="50%" class="table-column">
                        <h3 style="color: #454545; font-size: 18px; margin: 0px 0px 0px 0px;">Ten most popular MOOCs starting in May, 2018</h3>
                        <ol style="color: #454545; text-align: left; font-size: 14px; padding-left: 15px;">
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/coursera-deep-learning-in-computer-vision-9608?utm_source=newsletter_may_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Deep Learning in Computer Vision</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/fundamentals-of-deep-learning-for-computer-vision-10730?utm_source=newsletter_may_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Fundamentals of Deep Learning for Computer Vision</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/edx-social-network-analysis-sna-9134?utm_source=newsletter_may_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Social Network Analysis (SNA)</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/futurelearn-business-model-thinking-10588?utm_source=newsletter_may_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Business Model Thinking</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/futurelearn-the-science-of-learning-10576?utm_source=newsletter_may_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">The Science of Learning</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/edx-data-analytics-for-business-8222?utm_source=newsletter_may_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Data Analytics for Business</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/futurelearn-introduction-to-applied-linguistics-and-tesol-10725?utm_source=newsletter_may_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Introduction to Applied Linguistics and TESOL</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/futurelearn-how-to-make-a-poem-10516?utm_source=newsletter_may_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">How To Make A Poem</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/coursera-marketing-digital-10711?utm_source=newsletter_may_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Marketing Digital</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/course/coursera-computer-science-algorithms-theory-and-machines-10671?utm_source=newsletter_may_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Computer Science:  Algorithms, Theory, and Machines</a></li>
                        </ol>

                        <h3 style="color: #454545; font-size: 18px;">Recent Articles</h3>
                        <ul style="color: #454545; text-align: left; font-size: 14px; padding-left: 15px;">
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/report/new-online-courses-april-2018/?utm_source=newsletter_may_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">60 Universities Just Launched 100 Free Online Courses. Here’s The Full List.</a></li>
                            <li style="margin-bottom: 4px;"><a href='https://www.class-central.com/report/2018-open-edx-conference/?utm_source=newsletter_may_2018&utm_medium=email&utm_campaign=cc_newsletter' style="color: #5074E9; text-decoration: none;">Sessions We’re Excited About at the 2018 Open edX Conference</a></li>
                        </ul>
                    </td>
                    <td valign="top" align="left" style="text-align: left; padding-left: 20px;" width="50%" class="table-column">
                        <div style="padding: 15px 15px 15px 15px; border: 1px solid #cccccc;">
                            <h3 style="color: #FF8E6C; font-size: 16px; font-weight: 400; margin: 0px 0px 0px 0px; padding: 0px 0px 15px 0px;">Sponsored</h3>
                            <ul style="list-style: none; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
                                <li style="margin: 0px 0px 20px 0px; padding: 0px 0px 0px 0px;">
                                    <h4 style="font-size: 14px; padding: 0px 0px 5px 0px; margin: 0px 0px 0px 0px;">
                                        <a href="http://bit.ly/2HIRHTU" style="color: #454545; text-decoration: none;">
                                            <span style="color: #454545;">Learn To Code With Udacity</span>
                                        </a>
                                    </h4>
                                    <p style="margin: 0px 0px 0px 0px; font-size: 14px;">
                                        <a href="http://bit.ly/2HIRHTU" style="color: #454545; text-decoration: none;">
                                            Udacity's Intro to Programming course is your first step towards a new career.
                                        </a>
                                    </p>
                                </li>
                                <li style="margin: 0px 0px 20px 0px; padding: 0px 0px 0px 0px;">
                                    <h4 style="font-size: 14px; padding: 0px 0px 5px 0px; margin: 0px 0px 0px 0px;">
                                        <a href="http://bit.ly/2slaYna" style="color: #454545; text-decoration: none;">
                                            <span style="color: #454545;">Become a Data Scientist</span>
                                        </a>
                                    </h4>
                                    <p style="margin: 0px 0px 0px 0px; font-size: 14px;">
                                        <a href="http://bit.ly/2slaYna" style="color: #454545; text-decoration: none;">
                                            Learn Python & R at your own pace. Start now for free.
                                        </a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
