{% extends 'ClassCentralSiteBundle::base.html.twig' %}
{% block headmeta %}
    <title>Review</title>
    <meta name="robots" content="noindex" />
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-9">
    <form class="color-scheme-brand form" action="#" method="post">
        <div class="padded-input-group padded-input-group--border-bot">
            <h2 class="heading-colored">Your first hand experience really helps other students! </h2>

            <div class="row">
                <div class="col-lg-6">
                    <span class="review-form-error" id="full-name-error" style="display:none;">
                            Should be atleast three letters
                   </span>
                    <div class="bordered-box bordered-box--input">
                        <label class="cc-input-label" for="edit-profile-full-name">Rating</label>
                        <div class="plain-input credential-rating-page" data-score=0 style="width: auto"></div>
                    </div>

                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <span class="review-form-error" id="full-name-error" style="display:none;">
                            Should be atleast three letters
                   </span>
                    <div class="bordered-box bordered-box--input">
                        <label class="cc-input-label" for="edit-profile-full-name">Title</label>
                        <input class="plain-input" type="text" name="full-name" placeholder="Summarize the review or highlight an interesting detail" id="edit-profile-full-name" value="">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="bordered-box bordered-box--input">
                        <label class="cc-input-label" for="edit-profile-about-me">Your Review</label>
                        <textarea class="plain-input plain-input--textarea" name="about-me" id="edit-profile-about-me"
                                  placeholder="By sharing your experiences, you're helping students make better choices. Thank you!"></textarea>
                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-lg-6">
                    <span class="review-form-error" id="full-name-error" style="display:none;">
                            Should be atleast three letters
                   </span>
                    <div class="bordered-box bordered-box--input">
                        <label class="cc-input-label" for="edit-profile-full-name">When did you finish?</label>
                        <input class="plain-input" type="text" name="full-name" placeholder="Date Completed" id="edit-profile-full-name" value="">
                    </div>
                </div>


                <div class="col-lg-6">
                    <span class="review-form-error" id="full-name-error" style="display:none;">
                            Should be atleast three letters
                   </span>
                    <div class="bordered-box bordered-box--input">
                        <label class="cc-input-label" for="edit-profile-full-name">Link to Credential</label>
                        <input class="plain-input" type="text" name="full-name" placeholder="Link to your certificate?" id="edit-profile-full-name" value="">
                    </div>
                </div>
            </div>

        </div>

        <div class="padded-input-group padded-input-group--border-bot">
            <h2 class="heading-colored">Could you say a little more about it? (optional)</h2>

            <div class="row">
                <div class="col-lg-6">
                    <div class="bordered-box bordered-box--input">
                        <label class="cc-input-label" for="edit-profile-twitter">Topic Coverage</label>
                        <div class="plain-input credential-rating-page" data-score =0></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="bordered-box bordered-box--input">
                        <label class="cc-input-label" for="edit-profile-twitter"> Job Readiness</label>
                        <div class="plain-input credential-rating-page" data-score =0></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="bordered-box bordered-box--input">
                        <label class="cc-input-label" for="edit-profile-twitter">Community/Staff support</label>
                        <div class="plain-input credential-rating-page" data-score =0></div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="bordered-box bordered-box--input">
                        <label class="cc-input-label" for="edit-profile-field-of-study">Effort</label>
                        <input class="plain-input" type="number" name="full-name" placeholder="Hours per week?" id="edit-profile-full-name" value="">
                    </div>
                </div>

                <!-- Duration -->
                <div class="col-lg-6">
                    <div class="bordered-box bordered-box--input">
                        <label class="cc-input-label" for="edit-profile-qualifications">Duration</label>
                        <input class="plain-input" type="number" name="full-name" placeholder="How Many Months" id="edit-profile-full-name" value="">
                    </div>
                </div>

            </div>


        </div>

        <div class="padded-input-group">
            <h2 class="heading-colored">About you?</h2>

            <div class="row">
                <div class="col-lg-6">
                    <div class="bordered-box bordered-box--input">
                        <label class="cc-input-label" for="edit-profile-twitter">Name</label>
                        <input class="plain-input" type="text" name="profile-twitter" placeholder="Full Name" id="edit-profile-twitter" value="">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="bordered-box bordered-box--input">
                        <label class="cc-input-label" for="edit-profile-twitter">Email</label>
                        <input class="plain-input" type="text" name="profile-twitter" placeholder="Email" id="edit-profile-twitter" value="">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="bordered-box bordered-box--input">
                        <label class="cc-input-label" for="edit-profile-twitter">Job Title</label>
                        <input class="plain-input" type="text" name="profile-twitter" placeholder="Job Title" id="edit-profile-twitter" value="">
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="bordered-box bordered-box--input">
                        <label class="cc-input-label" for="edit-profile-twitter">Highest Education Achieved</label>
                        <select class="plain-input plain-input--select js-colorize-select" name="highest-degree" id="edit-profile-qualifications">
                            <option value="" class="select-placeholder">Degrees</option>
                            {% for id,degree in degrees%}
                                <option value="{{ id }}">{{ degree }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="bordered-box bordered-box--input">
                        <label class="cc-input-label" for="edit-profile-twitter">Field of Study</label>
                        <input class="plain-input" type="text" name="profile-twitter" placeholder="Highest Education Achieved" id="edit-profile-twitter" value="">
                    </div>
                </div>
            </div>

        </div>

        <input class="full-width-button" type="submit" name="submit" id="save-profile" value="Save">
    </form>
</div></div>
{% endblock %}
