{% extends 'ClassCentralSiteBundle::base.html.twig' %}


 {% block headmeta %}
     <title>Top 50 Free Online Courses | Class Central</title>
     <meta name="description" content="The 50 best FREE online courses & MOOCs from top universities around the world"/>

     <meta property="og:title" content="Top 50 Free Online Courses | Class Central"/>
     <meta property="og:type" content="website"/>
     <meta property="og:url" content="https://www.class-central.com/collection/best-free-online-courses"/>
     <meta property="og:image" content="https://www.class-central.com/bundles/classcentralsite/slashpixel/images/top_50.png">
     <meta property="og:site_name" content="Class Central" />
     <meta property="fb:admins" content="{{ fb_admins }}" />
     <meta property="og:description"
           content="The 50 best free online courses & MOOCs from top universities around the world" />

     <meta name="twitter:card" content="summary_large_image">
     <meta name="twitter:site" content="@classcentral">
     <meta name="twitter:creator" content="@dhawalhshah">
     <meta name="twitter:title" content="Top 50 Free Online Courses">
     <meta name="twitter:description" content="The 50 best FREE online courses & MOOCs from top universities around the world">
     <meta name="twitter:image" content="https://www.class-central.com/bundles/classcentralsite/slashpixel/images/top_50.png">
 {% endblock %}

{% block contentheader %}
    <section class="headerArea headerArea-slim">
        <div class="container">
            <div class="headerIntro">

                <div class="headerIntro_topText">
                    Highest Rated MOOCs of All Time
                </div>

                <h1 class="headerIntro_title headerIntro_title-noSpacing">Top 50 Free Online Courses</h1>
                <h2 class="headerIntro_subTitle">The 50 best free online courses & MOOCs from top universities around the world</h2>

                <div class="headerIntro_buttons">
                    <div class="headerIntro_button">
                        <a href="#" class="action-button action-button--transparent">

                        <span class="action-button__container">
                            <span class="action-button__unit action-button__unit-bordered">
                                <div class="action-button__icon">
                                    <div class="u-scaling-svg">
                                        <svg class="u-scalingSvg__shape">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-cc-single-letter"></use>
                                        </svg>
                                    </div>
                                </div>
                            </span>
                            <span class="action-button__unit action-button__unit-bordered btn-follow-item-box">
                            Follow<span> Top 50</span> </span>
                        </span>
                            <!-- /.action-button__container -->
                        </a>
                        <span class="headerIntro_buttonSub headerIntro_buttonSub-larger"></span>
                    </div>
                </div>
            </div>

        </div><!-- /container -->
        <div class="headerArea_tilt"></div>
    </section>
{% endblock %}

{% block content %}



    <section class="courses">
        <h2 class="section-heading">
            <span>Courses</span>
        </h2>
        <div id="filter-wrap">
            <div class="mobile-filter-btn-wrap">
                <a href="#" class="mobile-filter-btn">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
            <div class="row">
                <div class="col-sm-4 col-lg-3 filter-column">
                    {% include 'ClassCentralSiteBundle:Helpers:filters.html.twig' with {'offSubjects':allSubjects,'offLanguages':allLanguages} %}
                </div>
                <div class="col-sm-8 col-lg-9 table-column">
                    <div class="tables-wrap">
                        {% include 'ClassCentralSiteBundle:Helpers:course.table.html.twig' with{'results':results,'tableId':'collectiontable'} %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}