<a href="#" class="action-button action-button--transparent btn-follow-item {% if followed %}active{% endif %}" data-item="{{ item }}" data-item-id="{{ item_id }}" data-item-name="{{ itemName }}">
    <span class="action-button__container">
        <span class="action-button__unit action-button__unit-bordered">

            <div class="action-button__icon">
                <div class="u-scaling-svg">
                    <svg class="u-scalingSvg__shape">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-cc-single-letter"></use>
                    </svg>
                </div>
            </div>

        </span>

        <span class="action-button__unit">{% if followed %}Following {% else %}Follow {% endif %} <i>{{ itemName }}</i></span>
    </span><!-- /.action-button__container -->
</a>