{% extends 'ClassCentralSiteBundle:Layouts:standard.html.twig' %}

{% block headmeta %}
    <title>Courses List | Class Central</title>

{% endblock %}

{%  block content %}

  <div class="classcentral-style">
    <header class="width-centered padding-horz-large margin-top-large" style="max-width: 1250px;">
      <div class="row">
        <div class="col width-100 large-up-width-3-5 padding-right-large">
          <h1 class="margin-vert-medium">
            <strong class="head-2 medium-up-head-1 text--bold">Course Recommendations <sup class="text-4">BETA</sup></strong>
          </h1>

          <p class="text--charcoal text-1 margin-top-medium">
            {% if numFollows < 10 %}
                To unlock your personalized course recommendations you need  at least 10 follows. <a class="text--blue" href="{{ path('user_follows') }}">Update your follows</a>.
            {% elseif not isFollowingASubject %}
                To unlock your personalized course recommendations you need to follow at least one subject. <a class="text--blue" href="{{ path('user_follows') }}">Update your follows</a>.
            {% else %}
                The recommendations below are based on your follows. <a class="text--blue" href="{{ path('user_follows') }}">Update your follows</a>.
            {% endif %}
          </p>
        </div>

        <div class="col width-100 large-up-width-2-5 margin-vert-medium large-up-margin-top-large">
          {%  include 'ClassCentralSiteBundle:Helpers:pageHeaderImageAds.html.twig' %}
        </div>
      </div>
    </header>


    {% if results is not empty %}
    <section class="width-centered large-up-padding-horz-large" style="max-width: 1250px;">
      {% include 'ClassCentralSiteBundle:Helpers:course.table.nav.html.twig' %}
        <div class="row">
          <div class="col width-100 large-up-width-1-4 large-up-padding-right-xlarge filters-wrap">
            {% include 'ClassCentralSiteBundle:Helpers:filters.html.twig' %}
          </div>
          <div class="col width-100 large-up-width-3-4 tables-wrap">
            {% include 'ClassCentralSiteBundle:Helpers:course.table.html.twig' with{'results':results,'tableId':'suggestions',allowSorting: false} %}
          </div>
        </div>
      </section>
    {% endif %}
  </div>
{% endblock %}
