.idea/*

# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.yml
!/app/logs/.gitkeep

/*.sh

bin/*
!/bin/.htaccess
!/bin/provision.sh


extras/cc_db.sql

composer.phar

*.sql
