.idea/*

# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.yml
!/app/logs/.gitkeep

/*.sh

bin/*
!/bin/.htaccess
!/bin/provision.sh


extras/cc_db.sql
extras/.gitkeep
extras/add_course_info.json
extras/collection.json
extras/text_row_ads.json

web/webpack/development
node_modules

composer.phar

*.sql

.DS_Store
