<div class="classcentral-style">
  <div data-modal>
    <div data-modal-blanket class="scrollable-y z-top border-box fixed top left height-100 padding-small large-up-padding-xlarge row width-100" style="background-color: rgba(80, 116, 233, 0.85)">
      <div data-content class="bg-white radius border-box width-centered width-100 relative" style="max-width: 900px;">
        <p class="loading-pulse absolute cc-search-loading-pulse" style="top: 40%; left: 50%;"></p>
      </div>
      <div data-modal-close class="text-center padding-vert-medium">
        <button data-modal-blanket class="text--white text--bold text-2">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
