<div id="cc-overlay" style="display: none;">
  <div id="cc-container" class="classcentral-style" style="width: 400px; min-height: 250px; position: relative;">
    <div class="absolute width-100 height-100 top left">
      <p class="loading-pulse absolute cc-search-loading-pulse" style="top: 40%; left: 50%;"></p>
    </div>
  </div>
</div>
