<div class="padding-medium">
  <ol>
    <li>1. 50% money back if done in 12 months</li>
    <li>2. $299/month for Nanodegree plus which comes with a job guarantee</li>
    <li>3. Currently at a promotional price of $999, but will increase to $1199</li>
  </ol>
</div>
