{% extends 'ClassCentralSiteBundle::base.html.twig' %}

 {% block headmeta %}               
    <title>Class Central - Frequently Asked Questions</title>
    <meta name="description" content="Frequently Asked Questions for Stanford's free online learning initiative"/>
 {% endblock %}  

{%  block content %}

<h2>Frequently Asked Questions</h2>

<div class='faq-qa-block'>
    <div class='faq-question'>Q. What is this all about?</div> 
    <div class='faq-answer'>
        Stanford University started offering <strong>free</strong> online courses since Fall 2011. They are calling it a "<em>bold experiment in distributed education</em>". Initially they started with 3 classes and now for Spring 2012 they have expanded to more than a dozen courses, with a few being offered from other universities.
    </div>
</div>

<div class='faq-qa-block'>
    <div class='faq-question'>Q. What type of the courses are offered?</div> 
    <div class='faq-answer'>
        Currently the courses announced are from the following fields of study: Civil Engineering, Complex Systems, Computer Science, Electrical Engineering, Entrepreneurship and Medicine.
    </div>
</div>

<div class='faq-qa-block'>
    <div class='faq-question'>Q. How is this different than MIT Open Courseware or any of the previously offered free online courses?</div> 
    <div class='faq-answer'>
        This initiative by Stanford University  to provide online courses has an an element of feedback and is time sensitive. By engaging students in quizzes and exams they go above the normal methodology of online courses. In their own words:<br/><br/>

        <blockquote><p>Students will have access to lecture videos, lecture notes, receive regular feedback on progress, and receive answers to question</p></blockquote>

        It's basically  a free course from a top university. So, why not try?
    </div>
</div>

<div class='faq-qa-block'>
    <div class='faq-question'>Q. Do I get university credit?</div> 
    <div class='faq-answer'>
        No, but some of them might offer a statement of accomplishment. 
    </div>
</div>

<div class='faq-qa-block'>
    <div class='faq-question'>Q. Okay, now I understand. But why Class Central?</div> 
    <div class='faq-answer'>
        Well you see, Class Central is a way to get  an overview of all the courses being offered. Making it easier to decide which courses to register for.
    </div>
</div>
{% endblock %}  