{% extends 'ClassCentralSiteBundle::base.html.twig' %}

 {% block headmeta %}               
    <title>Class Central - Frequently Asked Questions</title>
    <meta name="description" content="Frequently Asked Questions for Stanford's free online learning initiative"/>
 {% endblock %}  

{%  block content %}

<div class="breadcrumb-wrap">
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li><a href="#test3">FAQ</a></li>
    </ul>
</div>
 <div class="faq-wrap">
        <h5 class="faq-heading">Frequently Asked Questions</h5>

        <div class="faq-item">
            <div class="faq-question">
                <span>What are MOOCs?</span>
                <span class="triangle"></span>
            </div>
            <div class="faq-answer">
                MOOCs stand for Massive Open Online Courses. These are<span style="text-decoration: underline;"> <em>free online courses</em></span> from universities around the world (eg. <a title="Stanford University MOOCs" href="https://www.class-central.com/university/stanford" target="_blank">Stanford</a> <a title="Harvard University MOOCs" href="https://www.class-central.com/university/harvard" target="_blank">Harvard</a> <a title="MIT MOOCs" href="https://www.class-central.com/university/mit" target="_blank">MIT</a>) offered to anyone with an internet connection.

                Several popular MOOC provider platforms have emerged, such as <a title="Coursera" href="https://www.coursera.org/" target="_blank">Coursera</a>, <a title="Udacity" href="https://www.udacity.com/" target="_blank">Udacity</a>, <a title="edX" href="https://www.edx.org/" target="_blank">EdX</a>, and <a title="NovoEd" href="https://novoed.com/" target="_blank">NovoEd</a>, that partner with universities and professors to offer MOOCs on their platforms.
                {#
                <div class="question">Was this helpful to you?
                    <span class="yes-no">
                        <a href="#">YES</a> | <a href="#">NO</a>
                    </span>
                </div>
                #}
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question">
                <span>How much do they cost?</span>
                <span class="triangle"></span>
            </div>
            <div class="faq-answer">
                They are free!

            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question">
                <span>Who can signup for MOOCs?</span>
                <span class="triangle"></span>
            </div>
            <div class="faq-answer">
                Anyone can signup!

            </div>
        </div>

     <div class="faq-item">
         <div class="faq-question">
             <span>How do these MOOCs or free online courses work?</span>
             <span class="triangle"></span>
         </div>
         <div class="faq-answer">
             MOOCs are designed for an online audience, teaching primarily through short (5-20 min.) pre recorded video lectures, that you watch on weekly schedule when convenient for you.  They also have student discussion forums, homework/assignments, and online quizzes or exams.
         </div>
     </div>

     <div class="faq-item">
         <div class="faq-question">
             <span>How do I register for a course?</span>
             <span class="triangle"></span>
         </div>
         <div class="faq-answer">
             To register for a course, click on "Go to Class" button on the course page. This will take you to the providers website where you can register for the course.
         </div>
     </div>

     <div class="faq-item">
         <div class="faq-question">
             <span>Will I receive any course credit for completing a class?</span>
             <span class="triangle"></span>
         </div>
         <div class="faq-answer">
             Generally not.  Although universities may sponsor a MOOC course, online students are not registered with the university directly, but are taking the course through the course provider.  Some courses offer a ‘Statement of Accomplishment’ (sometimes with ‘Distinction’), but these are issued in the name of the MOOC provider, with only mention of the professor and university.  Recently, Coursera has offered a ‘Signature Track’, which, for a fee, verifies that the student has actually completed the course.

             Note that although MOOCs generally do not result in college credit, many individuals who have completed MOOCs list them as training experiences on their profiles or resumes.

         </div>
     </div>

     <div class="faq-item">
         <div class="faq-question">
             <span>What types of courses are offered?</span>
             <span class="triangle"></span>
         </div>
         <div class="faq-answer">
             Although initially many MOOCs were focused on computer science and engineering, MOOCs have expanded and now a wide range of subjects are being offered, in fields such as business, medicine, music, social science, literature, the humanities, and more. New courses are being added everyday!

         </div>
     </div>

     <div class="faq-item">
         <div class="faq-question">
             <span>What is Class Central’s role in all of this?</span>
             <span class="triangle"></span>
         </div>
         <div class="faq-answer">
             Class Central is an aggregator of MOOC course listings and continually looks for and bring you high-quality MOOCs from reputable providers (and not just from the major providers).

         </div>
     </div>
 </div>

    <div class="faq-box-wrap">
        <table class="table table-striped table-bordered faq-box">
            <thead>
            <tr>
                <th>Contact us</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="question">
                        <span><a href="mailto:contact@class-central.com">Email us</a></span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


{% endblock %}  