{% extends 'ClassCentralSiteBundle::base.html.twig' %}

 {% block headmeta %}               
<title>Class Central  • Free online courses AKA MOOC aggregator</title>
<meta name="description" 
      content="Class Central is a free online course aka MOOC aggregator from top universities like Stanford, MIT, Harvard, etc. offered via Coursera, Udacity, edX, Venture Lab, & others."/>

{% include 'ClassCentralSiteBundle:Helpers:fb_opengraph.html.twig' %}
{% endblock %}

{% block contentheader %}
<div class="main-background"></div>
<div class="hero-unit span9">
        <h1>Class Central is a free online course aka MOOC aggregator from top universities like Stanford, MIT, Harvard, etc. offered via
            <a href="http://www.coursera.org" title="Coursera" class="tagline-initiative-links" onclick="recordTaglineClicks('http://www.coursera.org','Coursera');return false" target="_blank" >Coursera</a>,
            <a href="https://www.udacity.com/" title="Udacity" class="tagline-initiative-links" onclick="recordTaglineClicks('https://www.udacity.com/','Udacity');return false" target="_blank" >Udacity</a>,
            <a href="https://www.edx.org/" title="edX" class="tagline-initiative-links" onclick="recordTaglineClicks('https://www.edx.org/','edX');return false" target="_blank" >edX</a>,
            <a href="https://venture-lab.org/" title="Venture Lab" class="tagline-initiative-links" onclick="recordTaglineClicks('https://venture-lab.org/','Venture Lab');return false" target="_blank" >Venture Lab</a>, &
            <a href="http://www.class-central.com/initiative/others" title="Other MOOC initiatives" class="tagline-initiative-links" onclick="recordTaglineClicks('http://www.class-central.com/initiative/others','Others');return false" target="_blank" >others</a>. <span><a data-toggle="modal" href="#learnmore">Learn More ></a></span>
        </h1>

    {% include 'ClassCentralSiteBundle:Helpers:search_form.html.twig' with {'keywords': null} %}

    {% if app.environment == 'prod' and page is defined %}
        <ul class="social-btn-nav">
            <li>
                <a href="https://twitter.com/classcentral" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @classcentral</a>
                <!-- <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.class-central.com" data-text="Free online courses from Stanford,MIT,Harvard etc offered via Coursera,Udacity,edX &amp; others" data-via="classcentral" data-hashtags="mooc">Tweet</a> -->
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </li>
            <li>
                <div class="fb-like" data-href="https://www.facebook.com/classcentral" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
            </li>
            <li style="margin-left: 10px;">
                <div class="g-plusone" data-size="medium" data-href="http://www.class-central.com"></div>
            </li>
            <li><iframe src="http://ghbtns.com/github-btn.html?user=dhawalhshah&repo=class-central&type=watch&count=true"
                                               allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe></li>
        </ul>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="course-table-wrapper">
    {% for offeringType, offeringDetails in offeringTypes %}
        {% if offerings[offeringType] is not null and offerings[offeringType]|length > 0 %}
                <h2 class="tabletitle" id="{{offeringType}}">{{offeringDetails.desc}} ({{ offerings[offeringType]|length }})</h2>
                {% include 'ClassCentralSiteBundle:Default:courses.table.html.twig' with{'offerings':offerings[offeringType],'tableId':offeringType} %}
        {% endif %}
    {% endfor %}
</div>

{# Include the learn more model box #}
{% include 'ClassCentralSiteBundle:Helpers:faq.html.twig' with{} %}       
        
{% endblock %}  
