{% extends 'ClassCentralSiteBundle::base.html.twig' %}

 {% block headmeta %}

 {% endblock %}

{%  block content %}

    <h1>MOOC Tracker</h1>

    <h2>Courses</h2>

    {% if courses|length > 0 %}
        <div id='mooc-tracker-courses-grid'>
        {% for course in courses %}
                <div id="mooc-tracker-course-box">
                    <div id="mooc-tracker-course-box-inner">
                        <div id="mooc-tracker-course-box-content">
                            <div id="mooc-tracker-course-box-content-title">
                                {{ course.name }}
                            </div>
                            <a class="btn btn-primary btn-mooc-tracker-box" href="{{ path('ClassCentralSiteBundle_mooc',{'id': course.id, 'slug':course.slug}) }}">VIEW COURSE</a>
                        </div>
                    </div>
                </div>
        {% endfor %}
        </div>
    {% else %}
        {# no courses added to MOOC tracker #}
        <i>No search terms added to MOOC tracker</i>
    {% endif %}

    <h2>Search Terms</h2>
    {% if searchTerms|length > 0 %}
        <ul>
            {% for searchTerm in searchTerms %}
                <li>
                    <a href="{{ path("ClassCentralSiteBundle_search", {'q' : searchTerm }) }}" >{{ searchTerm }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {# no search terms found #}
        <i>No search terms added to MOOC tracker</i>
    {% endif %}

{% endblock %}


