<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="write-modal-title-here">

<div class="modal-dialog modal-dialog__large" role="document">

<div class="modal-base-wrap">
<div class="modal-base">
<div class="modal-base__brand-logo">
    <svg class="icon" viewBox="0 0 32 32">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cc-logo-circle"></use>
    </svg>
</div>
<div class="modal-base__content">
<div class="modal-base__col modal-base__col--left">
<div class="mini-slider js-mini-slider">
<div class="mini-slider__slides js-mini-slider-slides">
<div class="mini-slider__slide js-mini-slider-slide">
    <div class="media-card">
        <h2 class="media-card__title media-card__title--large">Welcome back!</h2>

        <div class="media-card__text">Track courses that match your interests and receive recommendations</div>
        <div class="media-card__media">
            <img src="/bundles/classcentralsite/slashpixel/images/Illustration-desk.png" alt="desk">
        </div>
    </div>
</div>
<div class="mini-slider__slide js-mini-slider-slide">
    <div class="media-card">
        <h2 class="media-card__title">Never miss a course</h2>

        <div class="media-card__text">Receive course reminders and notifications with MOOC Tracker</div>
        <div class="media-card__media">
            <img src="/bundles/classcentralsite/slashpixel/images/Illustration-letter.png" alt="letter">
        </div>
    </div>
</div>
<div class="mini-slider__slide js-mini-slider-slide">
<div class="media-card">
<h2 class="media-card__title media-card__title--large">What are you waiting for?</h2>

<div class="media-card__text">Come join the<br>Class Central community.</div>
<div class="media-card__media">
<div class="media-card__portraits">
<div class="portraits-container portraits-container--reduced-spacing">
<div class="portrait-col">
    <a href="/u/28764" title="Duarte Harris Cruz's Class Central profile" class="fluid-portrait"
       onmousedown="ga('send','event','User Profile Click - Course Page','Software as a Service','28764')">
                                                        <span class="fluid-portrait-image">
                                                            <div class="fluid-portrait-crop">
                                                                <img src="https://kuber.s3.amazonaws.com/users/profile_pic/3756645638de.jpeg"
                                                                     alt="Duarte Harris Cruz">
                                                            </div>
                                                        </span>
    </a>
</div>
<div class="portrait-col">
    <a href="/u/28764" title="Duarte Harris Cruz's Class Central profile" class="fluid-portrait"
       onmousedown="ga('send','event','User Profile Click - Course Page','Software as a Service','28764')">
                                                        <span class="fluid-portrait-image">
                                                            <div class="fluid-portrait-crop">
                                                                <img src="https://kuber.s3.amazonaws.com/users/profile_pic/3756645638de.jpeg"
                                                                     alt="Duarte Harris Cruz">
                                                            </div>
                                                        </span>
    </a>
</div>
<div class="portrait-col">
    <a href="/u/28764" title="Duarte Harris Cruz's Class Central profile" class="fluid-portrait"
       onmousedown="ga('send','event','User Profile Click - Course Page','Software as a Service','28764')">
                                                        <span class="fluid-portrait-image">
                                                            <div class="fluid-portrait-crop">
                                                                <img src="https://kuber.s3.amazonaws.com/users/profile_pic/3756645638de.jpeg"
                                                                     alt="Duarte Harris Cruz">
                                                            </div>
                                                        </span>
    </a>
</div>
<div class="portrait-col">
    <a href="/u/28764" title="Duarte Harris Cruz's Class Central profile" class="fluid-portrait"
       onmousedown="ga('send','event','User Profile Click - Course Page','Software as a Service','28764')">
                                                        <span class="fluid-portrait-image">
                                                            <div class="fluid-portrait-crop">
                                                                <img src="https://kuber.s3.amazonaws.com/users/profile_pic/3756645638de.jpeg"
                                                                     alt="Duarte Harris Cruz">
                                                            </div>
                                                        </span>
    </a>
</div>
<div class="portrait-col">
    <a href="/u/28764" title="Duarte Harris Cruz's Class Central profile" class="fluid-portrait"
       onmousedown="ga('send','event','User Profile Click - Course Page','Software as a Service','28764')">
                                                        <span class="fluid-portrait-image">
                                                            <div class="fluid-portrait-crop">
                                                                <img src="https://kuber.s3.amazonaws.com/users/profile_pic/3756645638de.jpeg"
                                                                     alt="Duarte Harris Cruz">
                                                            </div>
                                                        </span>
    </a>
</div>
<div class="portrait-col">
    <a href="/u/28764" title="Duarte Harris Cruz's Class Central profile" class="fluid-portrait"
       onmousedown="ga('send','event','User Profile Click - Course Page','Software as a Service','28764')">
                                                        <span class="fluid-portrait-image">
                                                            <div class="fluid-portrait-crop">
                                                                <img src="https://kuber.s3.amazonaws.com/users/profile_pic/3756645638de.jpeg"
                                                                     alt="Duarte Harris Cruz">
                                                            </div>
                                                        </span>
    </a>
</div>
<div class="portrait-col">
    <a href="/u/28764" title="Duarte Harris Cruz's Class Central profile" class="fluid-portrait"
       onmousedown="ga('send','event','User Profile Click - Course Page','Software as a Service','28764')">
                                                        <span class="fluid-portrait-image">
                                                            <div class="fluid-portrait-crop">
                                                                <img src="https://kuber.s3.amazonaws.com/users/profile_pic/3756645638de.jpeg"
                                                                     alt="Duarte Harris Cruz">
                                                            </div>
                                                        </span>
    </a>
</div>
<div class="portrait-col">
    <a href="/u/28764" title="Duarte Harris Cruz's Class Central profile" class="fluid-portrait"
       onmousedown="ga('send','event','User Profile Click - Course Page','Software as a Service','28764')">
                                                        <span class="fluid-portrait-image">
                                                            <div class="fluid-portrait-crop">
                                                                <img src="https://kuber.s3.amazonaws.com/users/profile_pic/3756645638de.jpeg"
                                                                     alt="Duarte Harris Cruz">
                                                            </div>
                                                        </span>
    </a>
</div>
<div class="portrait-col">
    <a href="/u/28764" title="Duarte Harris Cruz's Class Central profile" class="fluid-portrait"
       onmousedown="ga('send','event','User Profile Click - Course Page','Software as a Service','28764')">
                                                        <span class="fluid-portrait-image">
                                                            <div class="fluid-portrait-crop">
                                                                <img src="https://kuber.s3.amazonaws.com/users/profile_pic/3756645638de.jpeg"
                                                                     alt="Duarte Harris Cruz">
                                                            </div>
                                                        </span>
    </a>
</div>
<div class="portrait-col">
    <a href="/u/28764" title="Duarte Harris Cruz's Class Central profile" class="fluid-portrait"
       onmousedown="ga('send','event','User Profile Click - Course Page','Software as a Service','28764')">
                                                        <span class="fluid-portrait-image">
                                                            <div class="fluid-portrait-crop">
                                                                <img src="https://kuber.s3.amazonaws.com/users/profile_pic/3756645638de.jpeg"
                                                                     alt="Duarte Harris Cruz">
                                                            </div>
                                                        </span>
    </a>
</div>
<div class="portrait-col">
    <a href="/u/28764" title="Duarte Harris Cruz's Class Central profile" class="fluid-portrait"
       onmousedown="ga('send','event','User Profile Click - Course Page','Software as a Service','28764')">
                                                        <span class="fluid-portrait-image">
                                                            <div class="fluid-portrait-crop">
                                                                <img src="https://kuber.s3.amazonaws.com/users/profile_pic/3756645638de.jpeg"
                                                                     alt="Duarte Harris Cruz">
                                                            </div>
                                                        </span>
    </a>
</div>
<div class="portrait-col">
    <a href="/u/28764" title="Duarte Harris Cruz's Class Central profile" class="fluid-portrait"
       onmousedown="ga('send','event','User Profile Click - Course Page','Software as a Service','28764')">
                                                        <span class="fluid-portrait-image">
                                                            <div class="fluid-portrait-crop">
                                                                <img src="https://kuber.s3.amazonaws.com/users/profile_pic/3756645638de.jpeg"
                                                                     alt="Duarte Harris Cruz">
                                                            </div>
                                                        </span>
    </a>
</div>
<div class="portrait-col">
    <a href="/u/28764" title="Duarte Harris Cruz's Class Central profile" class="fluid-portrait"
       onmousedown="ga('send','event','User Profile Click - Course Page','Software as a Service','28764')">
                                                        <span class="fluid-portrait-image">
                                                            <div class="fluid-portrait-crop">
                                                                <img src="https://kuber.s3.amazonaws.com/users/profile_pic/3756645638de.jpeg"
                                                                     alt="Duarte Harris Cruz">
                                                            </div>
                                                        </span>
    </a>
</div>
<div class="portrait-col">
    <a href="/u/28764" title="Duarte Harris Cruz's Class Central profile" class="fluid-portrait"
       onmousedown="ga('send','event','User Profile Click - Course Page','Software as a Service','28764')">
                                                        <span class="fluid-portrait-image">
                                                            <div class="fluid-portrait-crop">
                                                                <img src="https://kuber.s3.amazonaws.com/users/profile_pic/3756645638de.jpeg"
                                                                     alt="Duarte Harris Cruz">
                                                            </div>
                                                        </span>
    </a>

    <div class="portrait-col">
        <a href="/u/28764" title="Duarte Harris Cruz's Class Central profile" class="fluid-portrait"
           onmousedown="ga('send','event','User Profile Click - Course Page','Software as a Service','28764')">
                                                            <span class="fluid-portrait-image">
                                                                <div class="fluid-portrait-crop">
                                                                    <img src="https://kuber.s3.amazonaws.com/users/profile_pic/3756645638de.jpeg"
                                                                         alt="Duarte Harris Cruz">
                                                                </div>
                                                            </span>
        </a>

        <div class="portrait-col">
            <a href="/u/28764" title="Duarte Harris Cruz's Class Central profile" class="fluid-portrait"
               onmousedown="ga('send','event','User Profile Click - Course Page','Software as a Service','28764')">
                                                                <span class="fluid-portrait-image">
                                                                    <div class="fluid-portrait-crop">
                                                                        <img src="https://kuber.s3.amazonaws.com/users/profile_pic/3756645638de.jpeg"
                                                                             alt="Duarte Harris Cruz">
                                                                    </div>
                                                                </span>
            </a>
        </div>
        <div class="portrait-col">
            <a href="/u/28764" title="Duarte Harris Cruz's Class Central profile" class="fluid-portrait"
               onmousedown="ga('send','event','User Profile Click - Course Page','Software as a Service','28764')">
                                                                <span class="fluid-portrait-image">
                                                                    <div class="fluid-portrait-crop">
                                                                        <img src="https://kuber.s3.amazonaws.com/users/profile_pic/3756645638de.jpeg"
                                                                             alt="Duarte Harris Cruz">
                                                                    </div>
                                                                </span>
            </a>
        </div>
        <div class="portrait-col">
            <a href="/u/28764" title="Duarte Harris Cruz's Class Central profile" class="fluid-portrait"
               onmousedown="ga('send','event','User Profile Click - Course Page','Software as a Service','28764')">
                                                                <span class="fluid-portrait-image">
                                                                    <div class="fluid-portrait-crop">
                                                                        <img src="https://kuber.s3.amazonaws.com/users/profile_pic/3756645638de.jpeg"
                                                                             alt="Duarte Harris Cruz">
                                                                    </div>
                                                                </span>
            </a>
        </div>
        <div class="portrait-col">
            <a href="/u/28764" title="Duarte Harris Cruz's Class Central profile" class="fluid-portrait"
               onmousedown="ga('send','event','User Profile Click - Course Page','Software as a Service','28764')">
                                                                <span class="fluid-portrait-image">
                                                                    <div class="fluid-portrait-crop">
                                                                        <img src="https://kuber.s3.amazonaws.com/users/profile_pic/3756645638de.jpeg"
                                                                             alt="Duarte Harris Cruz">
                                                                    </div>
                                                                </span>
            </a>
        </div>
        <div class="portrait-col">
            <a href="/u/28764" title="Duarte Harris Cruz's Class Central profile" class="fluid-portrait"
               onmousedown="ga('send','event','User Profile Click - Course Page','Software as a Service','28764')">
                                                                <span class="fluid-portrait-image">
                                                                    <div class="fluid-portrait-crop">
                                                                        <img src="https://kuber.s3.amazonaws.com/users/profile_pic/3756645638de.jpeg"
                                                                             alt="Duarte Harris Cruz">
                                                                    </div>
                                                                </span>
            </a>
        </div>
        <div class="portrait-col">
            <a href="/u/28764" title="Duarte Harris Cruz's Class Central profile" class="fluid-portrait"
               onmousedown="ga('send','event','User Profile Click - Course Page','Software as a Service','28764')">
                                                                <span class="fluid-portrait-image">
                                                                    <div class="fluid-portrait-crop">
                                                                        <img src="https://kuber.s3.amazonaws.com/users/profile_pic/3756645638de.jpeg"
                                                                             alt="Duarte Harris Cruz">
                                                                    </div>
                                                                </span>
            </a>
        </div>
        <div class="portrait-col">
            <a href="/u/28764" title="Duarte Harris Cruz's Class Central profile" class="fluid-portrait"
               onmousedown="ga('send','event','User Profile Click - Course Page','Software as a Service','28764')">
                                                                <span class="fluid-portrait-image">
                                                                    <div class="fluid-portrait-crop">
                                                                        <img src="https://kuber.s3.amazonaws.com/users/profile_pic/3756645638de.jpeg"
                                                                             alt="Duarte Harris Cruz">
                                                                    </div>
                                                                </span>
            </a>
        </div>
        <div class="portrait-col">
            <a href="/u/28764" title="Duarte Harris Cruz's Class Central profile" class="fluid-portrait"
               onmousedown="ga('send','event','User Profile Click - Course Page','Software as a Service','28764')">
                                                                <span class="fluid-portrait-image">
                                                                    <div class="fluid-portrait-crop">
                                                                        <img src="https://kuber.s3.amazonaws.com/users/profile_pic/3756645638de.jpeg"
                                                                             alt="Duarte Harris Cruz">
                                                                    </div>
                                                                </span>
            </a>
        </div>
    </div>
</div>
</div>
</div>
<!-- /.media-card__portraits -->
</div>
<!-- /.media-card__media -->
</div>
</div>
</div>
<!-- /.mini-slider__slides -->

<div class="mini-slider__controls js-mini-slider-controls">
    <span class="mini-slider-control-bullet js-mini-slider-control"></span>
    <span class="mini-slider-control-bullet js-mini-slider-control"></span>
    <span class="mini-slider-control-bullet js-mini-slider-control"></span>
</div>
<!-- /.mini-slider__controls -->

</div>
<!-- /.mini-slider -->
</div>
<div class="modal-base__col modal-base__col--right">
    <div class="modal-base__header">
        <a class="sign-in-with-facebook" href="#">
            <span class="icon-facebook2-png"></span>
            <svg class="icon icon-facebook2" viewBox="0 0 32 32">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook2"></use>
            </svg>
            <span class="sign-in-with-facebook__text">Sign up with Facebook</span>
        </a>
    </div>

    <div class="or-separator or-separator--black or-separator--reduce-margin">
        <span>OR</span>
    </div>

    <form action="#">

        <div class="basic-field-group">
            <label for="" class="basic-field-group__label"></label>
            <input type="text" class="basic-input" placeholder="Your Email">
        </div>

        <div class="basic-field-group">
            <label for="" class="basic-field-group__label"></label>
            <input type="text" class="basic-input" placeholder="Full name">
        </div>

        <div class="basic-field-group">
            <label for="" class="basic-field-group__label"></label>
            <input type="text" class="basic-input" placeholder="Choose password">
        </div>

        <div class="basic-field-group">
            <input type="submit" class="basic-input-button" value="Free sign up">
        </div>

        <div class="basic-field-note">
            Already have an account? <a href="#">Sign in</a>
        </div>


    </form>

</div>
</div>
</div>
<a href="#" class="modal-close-button" data-dismiss="modal" aria-label="Close">
    <svg class="modal-close-button__icon">
        <use xlink:href="#icon-close"></use>
    </svg>
    Not right now, thanks.
</a>
</div>

</div>
</div>