{% extends 'ClassCentralSiteBundle::base.html.twig' %}


{% block contentheader %}

<div class="cc-form-box">
    <h3>Sign Up for MOOC tracker</h3>
    {{ form(form) }}

</div>

<style type="text/css">
    .cc-page {
        display: none;
    }
</style>
{% endblock %}