{% extends 'ClassCentralSiteBundle:Layouts:standard.html.twig' %}

{% block headmeta %}
    <title> MOOC Tracker Courses </title>
{% endblock %}

{%  block content %}
  <div class="classcentral-style">
    <section class="width-centered padding-horz-large margin-top-large" style="max-width: 1250px;">
      {% include 'ClassCentralSiteBundle:Helpers:course.table.nav.html.twig' %}
      <div class="row">
        <div class="col width-100 large-up-width-1-4 large-up-padding-right-xlarge filters-wrap">
          {% include 'ClassCentralSiteBundle:Helpers:filters.html.twig' with { 'offSubjects': allSubjects} %}
        </div>
        <div class="col width-100 large-up-width-3-4 tables-wrap">
          {% include 'ClassCentralSiteBundle:Helpers:course.table.html.twig' with{ 'results': results, 'tableId': 'providertable'} %}
        </div>
      </div>
    </section>
  </div>
{% endblock %}
