{% extends 'ClassCentralSiteBundle:Layouts:standard.html.twig' %}

{% block headmeta %}
    <title>Trending free online courses/MOOCs | Class Central</title>
    <meta name="description" content="List of Trending free online courses/MOOCs aggregated by Class Central"/>

    <meta property="og:title" content="List of Trending free online courses/MOOCs | Class Central" />
    <meta property="og:url" content="{{ path('trending') }}" />
    <meta property="og:image" content="https://www.class-central.com/bundles/classcentralsite/slashpixel/images/ccprofilepic.png">
    <meta property="og:description" content="List of trending free online courses/MOOCs aggregated by Class Central." />
    <meta property="og:type" content="website" />

{% endblock %}

{%  block content %}

  <div class="classcentral-style">
    <header class="width-centered padding-horz-large margin-top-large" style="max-width: 1250px;">
      <div class="row">
        <div class="col width-3-5 padding-right-large">

          <h1 class="margin-vert-medium">
            <strong class="head-1 text--bold">Trending Courses</strong>
          </h1>
        </div>
      </div>
    </header>

    <section class="width-centered padding-horz-large" style="max-width: 1250px;">
      {% include 'ClassCentralSiteBundle:Helpers:course.table.nav.html.twig' %}
      <div class="row">
        <div class="col width-100 large-up-width-1-4 large-up-padding-right-xlarge filters-wrap">
          {% include 'ClassCentralSiteBundle:Helpers:filters.html.twig' with { 'offSubjects': allSubjects, 'offLanguages': allLanguages } %}
        </div>
        <div class="col width-100 large-up-width-3-4 tables-wrap">
          {% include 'ClassCentralSiteBundle:Helpers:course.table.html.twig' with{ 'results': results, 'tableId': 'trending', 'allowSorting': false, hideLoadMore: true } %}
        </div>
      </div>
    </section>
  </div>
{% endblock %}
