{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{% block content %}
<h1>Offering creation</h1>

<form action="{{ path('offering_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('offering') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}

{%  block beforeClosingBody %}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.1/chosen.min.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.1/chosen.jquery.min.js"/>


{% endblock %}

{% block customJS %}
    $(document).ready(function () {
        $('#classcentral_sitebundle_offeringtype_course').chosen();
    });
{% endblock %}