{% extends 'ClassCentralSiteBundle::base.html.twig' %}


{%  block content %}
    <div id="filter-wrap">
        {% include 'ClassCentralSiteBundle:Helpers:filters.html.twig' with {'offSubjects':allSubjects,'offLanguages':allLanguages } %}
        <div class="tables-wrap">
            {% include 'ClassCentralSiteBundle:Helpers:course.table.html.twig' with{'results':results,'tableId':'recent'} %}
        </div>
    </div>
{% endblock %}