{% if breadcrumbs is defined and breadcrumbs is not empty %}
  <ul class="margin-bottom-medium">
      <li class="inline" itemscope itemtype="http://data-vocabulary.org/Breadcrumb" >
          <a href="/" class="text--gray" onmousedown="ga('send','event','Breadcrumbs','Home');" itemprop="url">
              <span itemprop="title">Home</span>
          </a>
      </li>

      {% for b in breadcrumbs %}
          <li class="inline" itemscope itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="child">
              <i class="icon-chevron-right icon--xxsmall transparent"></i>
              {% set pageUrl = b.url %}
              {% if pageUrl is empty %}
                  {% set pageUrl = path(app.request.attributes.get('_route'),
                  app.request.attributes.get('_route_params'))  %}
              {% endif %}
              <a href="{{ pageUrl }}" class="text--gray" itemprop="url" onmousedown="ga('send','event','Breadcrumbs','{{ b.name }}');">
                  <span itemprop="title">{{ b.name }}</span>
              </a>
          </li>
      {% endfor %}
  </ul>    
{% endif %}
