{% if breadcrumbs is defined and breadcrumbs is not empty %}
    <div class="breadcrumb-wrap">
        <ul class="breadcrumbs">
            <li><a href="/"  onmousedown="_gaq.push(['_trackEvent','Breadcrumbs','Home']);">Home</a></li>

            {% for b in breadcrumbs %}
                <li>
                    <span class="arrow-right">
                         <svg class="icon icon-cc-arrow-right" viewBox="0 0 32 32"><use xlink:href="#icon-cc-arrow-right"></use></svg>
                    </span>
                    <a href="{{ b.url }}" onmousedown="_gaq.push(['_trackEvent','Breadcrumbs','{{ b.name }}']);">{{ b.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}