<section class="bg-cc-gradient text-center padding-xxlarge margin-vert-large">
  <div class="padding-vert-large">
    <header class="margin-bottom-large">
      <h2 class="symbol-classcentral-blue sybmol--large">Class Central</h2>
      <h1 class="head-2 margin-top-medium width-centered" style="max-width: 600px;">Stay up to date. Follow us on</h1>
    </header>
    <a
      target="_blank"
      data-track-click="{{ ts.event('INTERLUDE_CLICK') }}"
      data-track-props='{ "type": "Follow", "title": "Facebook" }'
      href="https://facebook.com/classcentral"
      class="btn-white icon-facebook btn--large margin-right-xsmall icon--center btn-circle"
    >
      Facebook
    </a>
    <a
      target="_blank"
      data-track-click="{{ ts.event('INTERLUDE_CLICK') }}"
      data-track-props='{ "type": "Follow", "title": "Twitter" }'
      href="https://twitter.com/classcentral"
      class="btn-white icon-twitter btn--large margin-left-xsmall icon--center btn-circle"
    >
      Twitter
    </a>
  </div>
</section>
