<!-- signup -->
<section class="bg-cc-gradient text-center padding-xxlarge margin-vert-large">
  <div class="padding-vert-large">
    <header class="margin-bottom-large">
      <h2 class="symbol-classcentral-blue sybmol--large">Class Central</h2>
      <h1 class="head-2 margin-top-medium width-centered" style="max-width: 600px;">Get personalized course recommendations, track subjects and courses with reminders, and more.</h1>
    </header>
    <a
      data-track-click="{{ ts.event('INTERLUDE_CLICK') }}"
      data-track-props='{ "type": "Sign up" }'
      href="#"
      class="btn-blue btn--large"
      id="convincer-create-free-account"
    >
      Sign up for free
    </a>
  </div>
</section>
