<nav class="text-center margin-top-medium medium-up-margin-top-reset large-up-text-right border-bottom border--thin border--gray-dark">
  <div style="top: 1px" class="relative">
    {% if numCredentials is defined and numCredentials > 0 %}
      <a
        data-tab="credentials"
        href="#"
        class="head-4 medium-up-head-3 text--charcoal inline-block {% if app.request.get('credential') == true %}bg-white{% else %}bg-gray{% endif %} border--thin border-top border-left border-right border--gray-dark padding-vert-xsmall padding-horz-small large-up-padding-horz-xxlarge margin-right-xsmall"
      >{{ numCredentials }} Credentials</a>
    {% endif %}
    <a
      data-tab="courses"
      href="#"
      class="head-4 medium-up-head-3 text--bold text--charcoal inline-block {% if app.request.get('credential') == true %}bg-gray{% else %}bg-white{% endif %} border--thin border-top border-left border-right border--gray-dark padding-vert-xsmall padding-horz-small large-up-padding-horz-xxlarge margin-right-medium"
    >Online Courses</a>
  </div>
</nav>
