<div class="row">
    <div class="faq-wrap col-md-7">
        <h5 class="faq-heading">Frequently Asked Questions</h5>

        <div class="faq-item">
            <div class="faq-question">
                <span>What are MOOCs?</span>
                        <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                “MOOC” stands for Massive Open Online Course. They are online courses. Some of them are made by universities all around the world (e.g. Stanford; Princeton; Harvard; Yonsei University; Leiden University; and <a href="https://www.class-central.com/universities">many more</a>). Others are made by companies like Google or Facebook. Sometimes, universities and companies team up to make a MOOC.
                <br/><br/>
                MOOCs are available for anyone with an internet connection.
                <br/><br/>
                Several popular MOOC provider platforms (or websites) have emerged. These platforms include Coursera, edX, Udacity, and FutureLearn. They partner with universities, companies, and professors to provide MOOCs.
                <br/><br/>
                Many MOOCs are one course on one given topic. Most of them take 4–6 weeks to complete, and each will require a number of hours’ work per week. You can find these details for any given MOOC on their introductory page (e.g. one example is <a href="https://www.coursera.org/learn/learning-how-to-learn">this page</a>).
                <br/><br/>
                However, some MOOC platforms provide groups or series of courses. Examples of these would be Coursera’s “<a href="https://www.class-central.com/certificate?credentials=specialization">Specializations</a>,” in which you complete multiple related courses and then a “capstone” project at the end; edX’s “<a href="https://www.class-central.com/certificate?credentials=xseries">XSeries</a>,” which are high-level and challenging courses in specific fields aimed at helping you develop your career; and Udacity’s “<a href="https://www.class-central.com/certificate?credentials=nanodegree">Nanodegrees</a>,” which is a curriculum built in partnership with leading companies, and which Udacity hopes will be seen as a real credential. You can browse all of these credentials here.
                <br/><br/>
                NOTE: Class Central does not offer any MOOCs and is not involved in the running of any MOOCs. What we do is enable you to browse MOOCs from all MOOC providers right now and here on Class Central.

                {#
                <div class="question">Was this helpful to you?
                    <span class="yes-no">
                        <a href="#">YES</a> | <a href="#">NO</a>
                    </span>
                </div>
                #}
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question">
                <span>How much do they cost?</span>
                           <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                There is no one standard answer to this question. The course materials (e.g. video lectures, discussions) of the MOOCs are free, but certain features like graded assignments, certificates, and mentorship are paid features.
                <br/><br/>
                Course and/or certificate costs vary for each MOOC provider. If you are considering enrolling in a specific MOOC and are wondering if there are any costs involved, we recommend looking at the MOOC’s introductory page on its MOOC provider platform. (E.g. one example <a href="https://www.class-central.com/mooc/442/edx-cs50x-introduction-to-computer-science">is this page</a>.)
                <br/><br/>
                For further information on costs, we recommend you read these very relevant articles:
                <br/>
                <a href="https://www.class-central.com/report/death-of-free-certificates/">MOOC Trends in 2015: The Death of Free Certificates</a>
                <br/>
                <a href="https://www.class-central.com/report/mooc-business-model/">MOOC Trends in 2015: Big MOOC Providers Find Their Business Models</a>
                <br/>

            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question">
                <span>Who can signup for MOOCs?</span>
                           <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                Anyone can signup!

            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <span>How do these MOOCs or free online courses work?</span>
                        <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                MOOCs are designed for an online audience, teaching primarily through short (5-20 min.) pre recorded video lectures, that you watch on weekly schedule when convenient for you.  They also have student discussion forums, homework/assignments, and online quizzes or exams.
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <span>How do I receive/access my course?</span>
                        <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                Most MOOCs are 100% on the internet*. This means you find and use all of the course material on the internet. Each MOOC has its own webpage, and that is where you will find all of the materials for learning that course. This material is usually some combination of text to read, videos to watch, quizzes to complete, and assignments to work on. <br/><br/>

                To find your course online, search for it here on Class Central using the search box at the top of the page. Then scroll down the results and click on the course name you seek. It will load a page about your course: look for a green "go to class" button on the right hand side of the page. Click on that and it will take you to the MOOC's webpage. From there you will be able to sign up (if you haven't already done so) and access the course materials. <br/><br/>

                Tip: make sure to bookmark your course's webpage for easy access later. <br/><br/>

                *for most MOOCs, course materials are all accessed by you online. This means they are not sent to you physically, nor will you have to go somewhere in the real world to do the class. <br/><br/>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <span>How do I register for a course?</span>
                        <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                To register for a MOOC, scroll down the MOOC’s page (e.g. <a href="https://www.class-central.com/mooc/2860/coursera-a-life-of-happiness-and-fulfillment">one like this</a>) on Class Central and click on the “Go to Class” button on the right-hand side. This will take you to the MOOC provider’s website where you can register / enroll for the MOOC.
            </div>
        </div>


        <div class="faq-item">
            <div class="faq-question">
                <span>Will I receive a certificate for completing a MOOC?</span>
                        <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                You will not automatically receive a certificate for completing a MOOC because at present none of the MOOC providers offer free certificates. <br/><br/>

                However, most MOOC providers still offer certificates that you have to pay for in many of their MOOCs. Each MOOC provider (e.g. Coursera, edX, FutureLearn, etc.) has a different system in place regarding these paid certificates. You can read a summary of each of the <a href="https://www.class-central.com/report/death-of-free-certificates/">MOOC providers' systems here</a>. We also recommend that you carefully read the individual information about any certificates available, and the costs involved, for whichever MOOC(s) you are thinking of enrolling in. That information is usually found on a MOOC's introductory page (i.e. the page on which you enroll in the MOOC — one random example would be <a href="https://www.coursera.org/learn/learning-how-to-learn">this page</a>). <br/><br/>

                Lastly, please be aware that some MOOC providers might offer financial aid to students wishing to receive a paid certificate. Again, each MOOC provider's financial aid system is different. To find out if you qualify for financial aid for a MOOC, you will need to visit the MOOC provider's website and check their FAQ section for details on paid certificates and/or financial aid.
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <span>Will I receive any course credit for completing a class?</span>
                        <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                At the time of updating this FAQ (February 2016), the answer is: “generally, no, you will not receive course credit for completing a MOOC.”
                <br/><br/>
                However, this is starting to change, and we may soon see MOOCs that do provide course credit. You can read more about this topic in the following articles.
                <br/><br/>
                <a href="https://www.class-central.com/report/edx-bennett-university/">Why edX signed an agreement with India’s Bennett University </a> <br/>
                <a href="https://www.class-central.com/report/moocs-global-credit-transfer/">Six Universities in Talks to Pilot Credits for MOOCs </a> <br/>
                <a href="http://www.nst.com.my/news/2016/01/122766/malaysia-become-first-country-develop-credit-recognition-policy-online-courses">Malaysia MOOCs For Credit</a>  <br/>
                <a href="https://www.class-central.com/report/high-school-courses/">MOOC Trends in 2015: MOOC Providers Target High School Demographic</a>  <br/>
                <br/>
                It is also worth noting that Udacity intend their “Nanodegrees” (longer, more in-depth, and paid-for courses) to act as real credentials, and also that some Nanodegrees <a href="https://www.class-central.com/report/udacitys-nanodegree-plus-comes-job-guarantee/">come with a job guarantee</a>.

            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <span>What types of courses are offered?</span>
                        <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                There are MOOCs in any subject you can imagine.
                <br/><br/>
                You can find MOOCs about programming, sciences, business, medicine, or any other more “traditional” subject you might think of, but there are even MOOCs about learning and happiness.
                <br/><br/>
                New MOOCs become available every day.  <a href="https://www.class-central.com/subjects">Click here to browse</a> MOOCs by subject, or <em>Never Miss a Course</em> by signing up for our <a href="https://www.class-central.com/newsletters/subscribe/mooc-report">monthly newsletter</a>.
                <br/><br/>
                What do you want to learn?

            </div>
        </div>


        <div class="faq-item">
            <div class="faq-question">
                <span>What is Class Central’s role in all of this?</span>
                        <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                Class Central curates MOOC listings and reviews from students who have taken MOOCs.
                <br/><br/>
                Our goal is to help you find courses you want to take from reputable MOOC providers. We do not play favorites: you will find MOOCs of all sorts of subjects and from many different reputable universities and MOOC providers, not just the “biggest” ones.
                <br/><br/>
                We provide multiple ways to find new MOOCs that might interest you. We recommend browsing MOOCs by subject: <a href="https://www.class-central.com/subjects">click here to do that</a>. Alternatively, you might simply use the search bar; you might browse by one of the links in the top menu; or you might use MOOC Tracker, which is a tool that helps you track MOOCs that you are interested in. <a href="https://www.class-central.com/report/mooc-tracker/">Read more about it here</a>.

            </div>
        </div>
    </div>
    <div class="col-md-3 pull-right faq-sidebar">
        {# uservoice widget #}
        <div data-uv-embed="contact"></div>
    </div>
</div>