<div class="row">
    <div class="faq-wrap col-md-7">
        <h5 class="faq-heading">Frequently Asked Questions</h5>

        <div class="faq-item">
            <div class="faq-question">
                <span>What are MOOCs?</span>
                        <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                MOOCs stand for Massive Open Online Courses. These are<span style="text-decoration: underline;"> <em>free online courses</em></span> from universities around the world (eg. <a title="Stanford University MOOCs" href="https://www.class-central.com/university/stanford" target="_blank">Stanford</a> <a title="Harvard University MOOCs" href="https://www.class-central.com/university/harvard" target="_blank">Harvard</a> <a title="MIT MOOCs" href="https://www.class-central.com/university/mit" target="_blank">MIT</a>) offered to anyone with an internet connection.

                Several popular MOOC provider platforms have emerged, such as <a title="Coursera" href="https://www.coursera.org/" target="_blank">Coursera</a>, <a title="Udacity" href="https://www.udacity.com/" target="_blank">Udacity</a>, <a title="edX" href="https://www.edx.org/" target="_blank">EdX</a>, and <a title="NovoEd" href="https://novoed.com/" target="_blank">NovoEd</a>, that partner with universities and professors to offer MOOCs on their platforms.
                {#
                <div class="question">Was this helpful to you?
                    <span class="yes-no">
                        <a href="#">YES</a> | <a href="#">NO</a>
                    </span>
                </div>
                #}
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question">
                <span>How much do they cost?</span>
                           <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                They are free!

            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question">
                <span>Who can signup for MOOCs?</span>
                           <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                Anyone can signup!

            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <span>How do these MOOCs or free online courses work?</span>
                        <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                MOOCs are designed for an online audience, teaching primarily through short (5-20 min.) pre recorded video lectures, that you watch on weekly schedule when convenient for you.  They also have student discussion forums, homework/assignments, and online quizzes or exams.
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <span>How do I receive/access my course?</span>
                        <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                Most MOOCs are 100% on the internet*. This means you find and use all of the course material on the internet. Each MOOC has its own webpage, and that is where you will find all of the materials for learning that course. This material is usually some combination of text to read, videos to watch, quizzes to complete, and assignments to work on. <br/><br/>

                To find your course online, search for it here on Class Central using the search box at the top of the page. Then scroll down the results and click on the course name you seek. It will load a page about your course: look for a green "go to class" button on the right hand side of the page. Click on that and it will take you to the MOOC's webpage. From there you will be able to sign up (if you haven't already done so) and access the course materials. <br/><br/>

                Tip: make sure to bookmark your course's webpage for easy access later. <br/><br/>

                *for most MOOCs, course materials are all accessed by you online. This means they are not sent to you physically, nor will you have to go somewhere in the real world to do the class. <br/><br/>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <span>How do I register for a course?</span>
                        <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                To register for a course, click on "Go to Class" button on the course page. This will take you to the providers website where you can register for the course.
            </div>
        </div>


        <div class="faq-item">
            <div class="faq-question">
                <span>Will I receive a certificate for completing a MOOC?</span>
                        <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                Most MOOCs offer a certificate of completion upon achieving a certain grade in the course. You will need to see the details for each MOOC to see whether they offer a certificate. Note that this certificate is usually issued in the name of the MOOC platform provider (e.g. Coursera, edX, Udacity, etc.), and not the university of the professor who is teaching the MOOC. Some platform providers also offer a verified certificate for an extra fee, which validates your identity, and thus might be a better proof of course completion. But again, these are not issued by the universities themselves, and please check the details of each course to see what types of certificates, if any, they offer.
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <span>Will I receive any course credit for completing a class?</span>
                        <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                Generally not. Although universities sponsor most MOOCs, students are not registered with the university, but are taking the course through the platform provider (e.g. Coursera, edX, Udacity, etc.). Some courses offer a ‘Statement of Accomplishment’ (sometimes with ‘Distinction’), but these are issued in the name of the MOOC provider. With some courses, Coursera offers a ‘Signature Track’ and edX offers a 'Verified Certificate of Achievement', which, for a fee, verifies that the student has completed the course. Note that although taking MOOCs usually does not result in college credit, many individuals list MOOCs they have completed as training experience on their profiles or resumes.
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <span>What types of courses are offered?</span>
                        <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                Although initially many MOOCs were focused on computer science and engineering, MOOCs have expanded and now a wide range of subjects are being offered, in fields such as business, medicine, music, social science, literature, the humanities, and more. New courses are being added everyday!
            </div>
        </div>


        <div class="faq-item">
            <div class="faq-question">
                <span>What is Class Central’s role in all of this?</span>
                        <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                Class Central is an aggregator of MOOC course listings and continually looks for and bring you high-quality MOOCs from reputable providers (and not just from the major providers).

            </div>
        </div>
    </div>
    <div class="col-md-3 pull-right faq-sidebar">
        {# uservoice widget #}
        <div data-uv-embed="contact"></div>
    </div>
</div>