<!-- Learn More modal content -->
<div id="learnmore" class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal" >&times;</a>
        <h3>Learn more</h3>
    </div>
    <div class="modal-body">
        <h4>What are MOOCs?</h4>
        MOOCs stand for Massive Open Online Courses. These are<span style="text-decoration: underline;"> <em>free online courses</em></span> from universities around the world (eg. <a title="Stanford University MOOCs" href="https://www.class-central.com/university/stanford" target="_blank">Stanford</a> <a title="Harvard University MOOCs" href="https://www.class-central.com/university/harvard" target="_blank">Harvard</a> <a title="MIT MOOCs" href="https://www.class-central.com/university/mit" target="_blank">MIT</a>) offered to anyone with an internet connection.

        Several popular MOOC provider platforms have emerged, such as <a title="Coursera" href="https://www.coursera.org/" target="_blank">Coursera</a>, <a title="Udacity" href="https://www.udacity.com/" target="_blank">Udacity</a>, <a title="edX" href="https://www.edx.org/" target="_blank">EdX</a>, and <a title="NovoEd" href="https://novoed.com/" target="_blank">NovoEd</a>, that partner with universities and professors to offer MOOCs on their platforms.

        <h4>Q. How much do they cost?</h4>

        They are free!

        <h4>Q. Who can signup for MOOCs?</h4>

        Anyone can signup!

        <h4>Q. How are MOOCs different from MIT Open Courseware or any of the other free online courses?</h4>
        MOOCs are designed for an online audience, teaching primarily through short (5-20 min.) pre recorded video lectures, that you watch on weekly schedule when convenient for you.  They also have student discussion forums, homework/assignments, and online quizzes or exams.

        <h4>Q. Will I receive any course credit for completing a class?</h4>
        Generally not.  Although universities may sponsor a MOOC course, online students are not registered with the university directly, but are taking the course through the course provider.  Some courses offer a ‘Statement of Accomplishment’ (sometimes with ‘Distinction’), but these are issued in the name of the MOOC provider, with only mention of the professor and university.  Recently, Coursera has offered a ‘Signature Track’, which, for a fee, verifies that the student has actually completed the course.

        Note that although MOOCs generally do not result in college credit, many individuals who have completed MOOCs list them as training experiences on their profiles or resumes.

        <h4>Q. What types of courses are offered?</h4>
        Although initially many MOOCs were focused on computer science and engineering, MOOCs have expanded and now a wide range of subjects are being offered, in fields such as business, medicine, music, social science, literature, the humanities, and more. New courses are being added everyday!

        <h4>Q. What is Class Central’s role in all of this?</h4>
        Class Central is an aggregator of MOOC course listings and continually looks for and bring you high-quality MOOCs from reputable providers (and not just from the major providers).

    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal" >Close</a>
    </div>
</div>
