<!-- Learn More modal content -->
<div id="learnmore" class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal" >&times;</a>
        <h3>Learn more</h3>
    </div>
    <div class="modal-body">
        <p>A number of different initiatives are offering university-level education for free. Class Central aggregates these free online courses or MOOCs (Massive Open Online Course). Some of the bigger initiatives covered by Class Central are as follows:</p>

        <ul>
            <li><a href="http://www.coursera.org" title="Coursera" target="_blank">Coursera</a> founded by Stanford Professors Daphne Koller and Andrew Ng.

            <li><a href="http://www.udacity.com" title="Udacity" target="_blank">Udacity</a> founded by three roboticists, including Sebastian Thrun, a research professor of computer science at Stanford University and currently leads the development of Google’s driverless car.

            <li><a href="https://www.edx.org" title="edX" target="_blank">EdX</a> is a not-for-profit enterprise of its founding partners Harvard University and the Massachusetts Institute of Technology. Anant Agarwal, former Director of MIT's Computer Science and Artificial Intelligence Laboratory, serves as the first president of edX
        </ul>

        <h4>What are MOOCs?</h4>
        <p>From <a href="http://en.wikipedia.org/wiki/Massive_open_online_course" title="Massive open online course" target="_blank">Wikipedia</a> - A massive open online course (MOOC) is a type of online course aimed at large-scale participation and open access via the web. MOOCs are a recent development in the area of distance education, and a progression of the kind of open education ideals suggested by open educational resources.</p>

        <h4>Q. How is this different than MIT Open Courseware or any of the previously offered free online courses?</h4>
        <p>The courses provided by these online learning initiatives have an element of feedback, student-to-student and student-to-professor communication and provide structured deadlines like a university course. By engaging students in quizzes and exams they go above the normal methodology of online courses</p>

        <h4>Q. What type of the courses are offered?</h4>
        <p>A wide range of courses are being offered belong to fields of computer science, medicine, music, humanities, business, management and more!</p>

        <h4>Q. Do I get university credit?</h4>
        <p>No, university credits can not be earned but you might be able to get a statement of accomplishment or a certificate. </p>

    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal" >Close</a>
    </div>
</div>
