<!-- Learn More modal content -->
<div id="learnmore" class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal" >&times;</a>
        <h3>Learn more</h3>
    </div>
    <div class="modal-body">
        <p>Three online learning initiatives are offering university-level education for free. Class Central unifies available courses from these different platforms in to a single page overview.</p>

        <ul>
            <li><a href="http://www.coursera.org" title="Coursera" target="_blank">Coursera</a> founded by Stanford Professors Daphne Koller and Andrew Ng.

            <li><a href="http://www.udacity.com" title="Udacity" target="_blank">Udacity</a> founded by three roboticists, including Sebastian Thrun, a research professor of computer science at Stanford University and currently leads the development of Google’s driverless car.

            <li><a href="http://www.mitx.mit.edu" title="MITx" target="_blank">MITx</a> created by MIT and led by MIT Professor Anant Agrawal.
        </ul>

        <h4>Q. How is this different than MIT Open Courseware or any of the previously offered free online courses?</h4>
        <p>The courses provided by these online learning initiatives have an element of feedback, student-to-student and student-to-professor communication and provide structured deadlines like a university course. By engaging students in quizzes and exams they go above the normal methodology of online courses</p>

        <h4>Q. What type of the courses are offered?</h4>
        <p>Currently the courses are focused in the field of Computer Science but the following fields of study are also offered: Civil Engineering, Complex Systems, Electrical Engineering, Entrepreneurship and Medicine.</p>

        <h4>Q. Do I get university credit?</h4>
        <p>No, university credits can not be earned but each initiative provides a statement of accomplishment or a certificate</p>

    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal" >Close</a>
    </div>
</div>
