<div class="navbar {% if page is defined %} navbar-fixed-top {% endif %} ">
    <div class="navbar-inner">
        <div class="container">
            
<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
	    <div class="nav-collapse">
            <ul class="nav">
                <!-- 
		<li {% if page is defined and page=='home' %}class="active"{% endif %}><a href="{{ path('ClassCentralSiteBundle_homepage')}}">Home</a></li> 
		-->                          
                <li {% if page is defined and page=='faq' %}class="active"{% endif %}><a data-toggle="modal" href="#learnmore">Learn More</a></li>                           
                <li><a href="https://plus.google.com/{{plusPageUrl}}/" target="_blank">News</a></li>
            </ul>
            {% if app.environment == 'prod' and page is defined %}
		    <ul class="nav pull-right">
			<li class="social-btn-nav">
			    <div id='addThisButton'>
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style ">
					<a class="addthis_button_facebook_like" fb:like:layout="button_count" fb:like:href="http://www.class-central.com"></a>
					<a class="addthis_button_tweet" addthis:title="Class Central • List of free online courses offered by Stanford's @coursera, MITs @MyMITx, & @udacity" tw:url="http://www.class-central.com" tw:via="classcentral"></a>
					<a class="addthis_button_google_plusone" g:plusone:size="medium" g:plusone:href="http://www.class-central.com"></a>
				    </div>
				    <!-- AddThis Button END -->
			    </div>                          
			</li>
			<li class="social-btn-nav"><iframe src="http://markdotto.github.com/github-buttons/github-btn.html?user=dhawalhshah&repo=class-central&type=watch&count=true"
				  allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe></li>
		    </ul>
	    </div>
            {% endif %}
        </div>
    </div>
</div>
