<div class='cc-home-form'>
    <form action="{{ path('ClassCentralSiteBundle_search') }}" method="get" name="search">
        <div class="input-append">
            <input class="span2 input-xxxlarge input-large cc-search-box" placeholder="What do you want to learn?" {% if keywords is not null %} value="{{keywords}}" {% endif %} id="st-search-input" type="text" name="q">
            <button><span class="add-on"><i class="icon-search"></i></span></button>
        </div>
    </form>
</div>