<ul class="socialmedia nav nav-pills">
    <li><a href="https://plus.google.com/{{plusPageUrl}}" class="social1"></a></li>
    <li><a href="http://www.facebook.com/classcentral" class="social2"></a></li>
    <li><a href="https://twitter.com/#!/classcentral" class="social3"></a></li>
    <li><a href="http://fusion.google.com/add?source=atgs&feedurl=https%3A//www.facebook.com/feeds/page.php%3Fid%3D305891199451158%26format%3Drss20"" class="social4"></a></li>
</ul>