
<a href="http://www.facebook.com/classcentral"><img src="{{ asset('bundles/classcentralsite/images/fb.png') }}" alt="Class Central Facebook page" style="border:0;width:20px;height:20px;margin-right: 5px;"/></img></a>

<a href="https://twitter.com/classcentral" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" data-width="60px" >Follow @classcentral</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<a href="https://plus.google.com/{{plusPageUrl}}?prsrc=3" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:20px;height:20px;margin-left: 5px;"/></a>
        
