{% if app.request.get('sort') == '' and page != 'user-library' and app.request.get('page') == '' %}

    {% set ad = random(2) %}

    {% if ad == 0 %}
        <tr>

            <td class="add-column">
                <span class="label label-warning">Ad</span>
            </td>


            <td class="course-name-column">
                <a class="course-name" rel="nofollow"  target="_blank" href="https://historychannel.ou.edu/" onmousedown="ga('send','event', 'Table Ad', 'History Channel - {{ tableId }}', 'US, 1865 to the Present')" title="US, 1865 to the Present"><span itemprop="name">US, 1865 to the Present.</span></a>
                <ul class="table-uni-list">
                    <li>
                        <a class="uni-name" href="/university/ou" title="List of The University of Oklahoma MOOCs" onclick="ga('send','event', 'Inbound Clicks - University', 'The University of Oklahoma', 'US, 1865 to the Present.')">The University of Oklahoma</a>

                    </li>
                    <span class="via">via</span>
                    <a rel="nofollow" href="https://historychannel.ou.edu/" target="_blank" class="initiativelinks" title="US, 1865 to the Present" onclick="ga('send','event', 'Table Ad - Provider', 'History Channel', 'US, 1865 to the Present.')">History Channel</a>
                </ul>
            </td>

            {% if page is defined and page != 'stream' and page=='home' %}
                <td class="subject-column"> <a class="subject" href="/subject/history" title="List of History MOOCs" onclick="ga('send','event', 'Inbound Clicks - Stream', 'History', 'US, 1865 to the Present.')" data-category="History">History</a>
                </td>
            {% endif %}

            <td class="start-date">7th July, 2015</td>

            <td data-timestamp="5" class="course-rating-column">
                <div class="rating-and-count-wrap">
                    <div class="course-rating" data-score="5" ></div>
                </div>
            </td>

        </tr>

    {% elseif ad == 1 %}
    <tr>

        <td class="add-column">
            <span class="label label-warning">Ad</span>
        </td>

        <td class="course-name-column">
            <a rel="nofollow" class="course-name" target="_blank" href="https://novoed.com/philanthropy-university-leadership?referral_token=PLCC0005" onmousedown="ga('send','event', 'Table Ad', 'NovoEd - {{ tableId }}', 'Leadership: Ten Rules for Impact and Meaning')" title="Leadership: Ten Rules for Impact and Meaning"><span itemprop="name">Leadership: Ten Rules for Impact and Meaning</span></a>
            <ul class="table-uni-list">
                <li>
                    <a class="uni-name" href="https://novoed.com/philanthropy-initiative?referral_token=PLCC0005" title="List of Philanthropy University MOOCs" onclick="ga('send','event', 'Inbound Clicks - University', 'Philanthropy University', 'Leadership: Ten Rules for Impact and Meaning')">Philanthropy University</a>
                </li>
                
                <span class="via">via</span>
                <a rel="nofollow" href="https://novoed.com/?referral_token=PLCC0005" target="_blank" class="initiativelinks" onclick="ga('send','event', 'Table Ad - Provider', 'NovoEd', 'Leadership: Ten Rules for Impact and Meaning')">NovoEd</a>
            </ul>
        </td>

        {% if page is defined and page != 'stream' and page=='home' %}
            <td class="subject-column"> <a class="subject" href="/subject/business" title="List of Business & Management MOOCs" onclick="ga('send','event', 'Inbound Clicks - Stream', 'Business & Management', 'Leadership: Ten Rules for Impact and Meaning')" data-category="Business & Management">Business & Management</a>
            </td>
        {% endif %}

        <td class="start-date">6th Oct, 2015</td>

        <td data-timestamp="5" class="course-rating-column">
            <div class="rating-and-count-wrap">
                <div class="course-rating" data-score="5" ></div>
            </div>
        </td>

    </tr>
    {% else %}
    <tr>

        <td class="add-column">
            <span class="label label-warning">Ad</span>
        </td>

        <td class="course-name-column">
            <a rel="nofollow" class="course-name" target="_blank" href="https://www.masterclass.com/classes/dustin-hoffman-teaches-acting" onmousedown="ga('send','event', 'Table Ad', 'MasterClass - {{ tableId }}', 'Dustin Hoffman Teaches Acting')" title="Dustin Hoffman Teaches Acting"><span itemprop="name">Dustin Hoffman Teaches Acting</span></a>
            <ul class="table-uni-list">

                <span class="via">via</span>
                <a rel="nofollow" href="https://www.masterclass.com/" target="_blank" class="initiativelinks" onclick="ga('send','event', 'Table Ad - Provider', 'MasterClass', 'Dustin Hoffman Teaches Acting')">MasterClass</a>
            </ul>
        </td>

        {% if page is defined and page != 'stream' and page=='home' %}
            <td class="subject-column"> <a class="subject" href="/subject/film-and-theatre" title="List of Film & Theatre MOOCs" onclick="ga('send','event', 'Inbound Clicks - Stream', 'Film & Theatre', 'Dustin Hoffman Teaches Acting')" data-category="Film & Theatre">Film & Theatre</a>
            </td>
        {% endif %}

        <td class="start-date">Self Paced</td>

        <td data-timestamp="5" class="course-rating-column">
            <div class="rating-and-count-wrap">
                <div class="course-rating" data-score="5" ></div>
            </div>
        </td>

    </tr>
    {% endif %}

{% endif %}