{#
    <div class="ad-wrap">
        <div class="ad-content">
            <span class="ad-title">MacBook Pro</span>
            <a class="ad-link" href="#">www.apple.com</a>
            <p class="ad-text">with retina display. More power behind every pixel. Learn More</p>
        </div>
        <span class="ad-note">Advertisement</span>
</div>
#}