<aside class="margin-vert-xxlarge">
  <h3 class="head-3 medium-up-head-2 margin-bottom-medium">Related Articles</h3>
  <ul>
    <li class="margin-vert-small">
      <a href="#" class="text-1 text--blue">What are Coursera Specializations?</a>
    </li>
    <li class="margin-vert-small">
      <a href="#" class="text-1 text--blue">What are Coursera Specializations?</a>
    </li>
    <li class="margin-vert-small">
      <a href="#" class="text-1 text--blue">What are Coursera Specializations?</a>
    </li>
    <li class="margin-vert-small">
      <a href="#" class="text-1 text--blue">What are Coursera Specializations?</a>
    </li>
  </ul>
<asdie>
