<tr>
  <td align="center" valign="top" style="padding: 0px 20px 0px 20px;">
    <table border="0" cellpadding="10" cellspacing="0" width="100%" id="templateFooter">
      <tr>
        <td valign="top" class="footerContent">
          <table border="0" cellpadding="30" cellspacing="0" width="100%">
            <tr>
              <td valign="top" width="350">
                <div style="text-align: center; font-family: 'Myriad Pro', 'Myriad', 'Helvetica', sans-serif; font-size: 12px; padding: 0px 0px 0px 0px;">
                <p style="text-align: center; color: #454545;">
                  <a href="http://www.class-central.com" style="color: #5074E9; text-decoration: none;"><span style="color: #5074E9;">Class Central</span></a> &bull;
                  <a href="https://www.twitter.com/classcentral" style="color: #5074E9; text-decoration: none;"><span style="color: #5074E9;">Twitter</span></a> &bull;
                  <a href="https://www.facebook.com/classcentral" style="color: #5074E9; text-decoration: none;"><span style="color: #5074E9;">Facebook</span></a>
                </p>
                <p style="font-weight: 100; padding: 3px 0px 0px 0px; text-align: center; color: #454545;">
                  <span class="font-weight: bold;">Class Central, Inc.</span> 922 San Leandro Ave Unit-C Mountain View, CA 94043
                </p>
                <p style="text-align: center;">
                  <a href="http://www.class-central.com" style="color: #5074E9; text-decoration: none;"><span style="color: #5074E9;">www.class-central.com</span></a>
                </p>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
