<tr>
  <td valign="top" align="center" style="text-align: center;" class="bodyHeader">
    <div style="border-bottom: 1px solid #E2E3E4; padding: 10px 0px 20px 0px;">
      <img src="https://d3r3mog6nu8pt4.cloudfront.net/cc-email-logo.png" alt="Class Central, Never Stop Learning" />
    </div>
  </td>
</tr>
