<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
  <style>
    .text--blue:hover {
      text-decoration: underline !important;
    }
    .btn-blue:hover {
      background-color: #1639a8 !important;
    }
    @media only screen and (max-width: 700px) {
      .bodyContentMiddle img {
        height: auto !important;
        max-width: 100% !important;
        width: auto !important;
      }
    }
    @media only screen and (max-width: 600px) {
      .small-text-center {
        text-align: center !important;
      }
      .small-text-left {
        text-align: left !important;
      }
      .small-padding-horz-small {
        padding-left: 20px !important;
        padding-right: 20px !important;
      }
      .table-column {
        display:block !important;
        width:100% !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
      }
      #template-container-td {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }
    }
  </style>
</head>
<body style="padding:0; margin:0" leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="background-color: #E4EFFF;">
  <div style="background-color: #E4EFFF; width: 100%;">
    <div style="max-width: 700px; width: 100%; Margin: 0 auto;">
      <center>
        <table border="0" cellspacing="0" height="100%" width="100%">
          <tr>
            <td align="center" valign="top">
              <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding: 20px 0px 0px 0px;" id="templateContainer">
                <tr>
                  <td align="center" valign="top" style="padding: 0px 20px 0px 20px;" id="template-container-td">
                    <p style="font-weight: 400; color: #29374a; text-align: right; margin-bottom: 10px; font-family: 'Helvetica', sans-serif; font-size: 14px;">March 2018 Edition</p>
                    <table style="text-align: center; font-family: 'Helvetica', sans-serif; font-size: 14px; box-shadow: 0 0 10px 0 #c3d7f3; border-radius: 10px; border: 1px solid #c3d7f3; padding: 25px 0px; background-color: #ffffff;" border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
                      <tr>
                        <td valign="top" align="center" style="text-align: center;" class="header">
                          <table width="100%" style="border-bottom: 1px solid #E2E3E4; padding: 10px 0px 20px 0px;">
                            <tr>
                              <td width="50%" valign="top" align="left" style="text-align: left; padding-left: 30px;" class="small-text-center table-column">
                                <a href="https://www.class-central.com">
                                  <img width="80%" src="https://d3r3mog6nu8pt4.cloudfront.net/cc-email-logo.png" border="0" alt="Class Central, Never Stop Learning" />
                                </a>
                              </td>
                              <td width="50%"  valign="top" align="right" style="text-align: right; padding-right: 30px;" class="small-text-center table-column">
                                <a href="https://www.class-central.com/report">
                                  <img src="https://d3r3mog6nu8pt4.cloudfront.net/mooc-report.png" border="0" alt="MOOC Report" width="120" />
                                </a>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td valign="top">
                          <table
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            id="templateContent"
                            style="padding: 0px 0px 0px 0px;">
                            {% block content %}
                            {% endblock %}
                          </table>
                          <table id="templateContent" style="padding: 20px 20px 0px 20px;" class="small-padding-horz-small">
                            <tr>
                              <td valign="top" style="padding: 0px 50px 20px 50px;" align="center" class="small-padding-horz-small">
                                <table style="border-radius: 10px; padding: 10px 10px 10px 10px; background-color: #F3F6F9;" border="0" cellpadding="10" cellspacing="0" width="100%">
                                  <tr>
                                    <td valign="middle" align="center">
                                      <h3 style="color: #454545; text-decoration: none; font-size: 16px; font-weight: bold; margin: 0px 0px 10px 0px;">
                                        About Class Central
                                      </h3>
                                      <p style="padding: 0px; margin: 0px; color: #454545; font-size: 14px; line-height: 18px;">
                                        Love to learn? Discover thousands of FREE online courses and MOOCs from top universities and companies on Class Central.<br><br>
                                        <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.class-central.com&text=Love%20to%20learn%3F%20You%20can%20find%20thousands%20of%20FREE%20online%20courses%20from%20top%20universities%20and%20companies%20on%20@classcentral&" style="color: #5074E9; text-decoration: none;">
                                          <span style="color: #5074E9;">Click to tweet the above line</span>
                                        </a>
                                      </p>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td valign="top" class="bodyContentBottom">
                                <div style="background: #ffffff; border-top: 1px solid #E2E3E4; padding: 20px 30px 10px 30px; font-size: 12px; line-height: 16px;">
                                  We hope you found this message to be useful. If you'd rather not receive future MOOC Report e-mails from Class Central, please <a href="%mailing_list_unsubscribe_url%" style="color: #5074E9; text-decoration: none;"><span style="color: #5074E9;">unsubscribe here</span></a>.
                                </div>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                {% include 'ClassCentralSiteBundle:Mail:layout/_footer.html.twig' %}
              </table>
            </td>
          </tr>
        </table>
      </center>
    </div>
  </div>
</body>
</html>
