<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <style>
      .text--blue:hover {
        text-decoration: underline;
      }
      .btn-blue:hover {
        background-color: #1639a8;
      }
    </style>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="background-color: #E4EFFF;">
  <center>
    <table border="0" cellspacing="0" height="100%" width="100%" style="background-color: #E4EFFF;">
      <tr>
        <td align="center" valign="top">
          <table border="0" cellpadding="0" cellspacing="0" width="640" style="padding: 20px 0px 0px 0px;" id="templateContainer">
            <tr>
              <td align="center" valign="top" style="padding: 0px 20px 0px 20px;">
                <table style="text-align: center; font-family: 'Myriad Pro', 'Myriad', 'Helvetica', sans-serif; font-size: 14px; box-shadow: 0 0 10px 0 #c3d7f3; border-radius: 10px; border: 1px solid #c3d7f3; padding: 25px 50px; background-color: #ffffff;" border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
                  {% include 'ClassCentralSiteBundle:Mail:layout/_header.html.twig' %}
                  <tr>
                    <td valign="top">
                      <table id="templateContent">
                        {% block content %}
                        {% endblock %}
                        {% include 'ClassCentralSiteBundle:Mail:layout/auto-signin.html.twig' %}
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            {% include 'ClassCentralSiteBundle:Mail:layout/_footer.html.twig' %}
          </table>
        </td>
      </tr>
    </table>
</center>
</body>
</html>
