{% extends 'ClassCentralSiteBundle:Layouts:standard.html.twig' %}

{% block headmeta %}
  <title>Third Party Service Providers and Cookies | Class Central</title>
  <meta name="description" content="Privacy policy for Class Central"/>
{% endblock %}

{%  block content %}
  <section class="classcentral-style">
    <div class="about width-centered margin-top-medium" style="max-width: 750px;">
      <header class="margin-bottom-large">
        <h1 class="head-1 margin-bottom-xsmall">Third Party Service Providers and Cookies</h1>
        <p class="text--italic text-1">Last updated: May 22, 2018</p>
      </header>

      <div class="wysiwyg margin-bottom-xlarge">
        <p>For more information on how we use these cookies, please refer to our <a href="https://www.class-central.com/about/cookies-policy">Cookies Policy</a>. Below is a list of service providers that Class Central user, some of whom might also place cookies to perform these services. We will update this list from time to time.</p>
        <p>&nbsp;</p>
        <p><strong>Analytics Service Providers</strong></p>
        <ul>
          <li>Google Analytics: <a href="https://tools.google.com/dlpage/gaoptout">Page about tracking and how to opt-out</a></li>
          <li>Clicky: <a href="https://clicky.com/optout">Opt-out</a></li>
          <li>Keen IO: <a href="https://keen.io/privacy-policy/">Privacy policy</a></li>
        </ul>
        <p>&nbsp;</p>
        <p><strong>Marketing and Support Service Providers</strong></p>
        <ul>
          <li>GetSiteControl: <a href="https://getsitecontrol.com/privacy/">Privacy Policy</a></li>
          <li>Front (customer support via email): <a href="https://frontapp.com/privacy-policy">Privacy Policy</a>.</li>
        </ul>
        <p>&nbsp;</p>
        <p><strong>Authentication Services</strong></p>
        <ul>
          <li>Google Sign-In</li>
          <li>Facebook Login</li>
        </ul>
        <p>&nbsp;</p>
        <p><strong>Site Enachments</strong></p>
        <ul>
          <li>Disqus (for comments): <a href="https://help.disqus.com/terms-and-policies/disqus-privacy-policy">Privacy Policy</a></li>
          <li>Typekit (for fonts): <a href="https://www.adobe.com/privacy/policies/typekit.html">Privacy Policy</a></li>
          <li>Youtube (embedding videos): <a href="https://support.google.com/youtube/answer/7671399?hl=en">Privacy Policy</a></li>
        </ul>
        <p>&nbsp;</p>
        <p><strong>Hosting and Backend Infrastructure</strong></p>
        <ul>
          <li>Amazon Web Services</li>
          <li>Rackspace</li>
          <li>Google Cloud Computing</li>
          <li>Imgix</li>
          <li>Mailchimp</li>
          <li>Mailgun</li>
          <li>Github</li>
          <li>Uptime Robot</li>
          <li>PagerDuty</li>
        </ul>
      </div>
    </div>
  </section>
{% endblock %}
