@import "~classcentral-style/dist/reset.css";
@import "~classcentral-style/dist/display.css";
@import "~classcentral-style/dist/tables.css";
@import "~classcentral-style/dist/borders.css";
@import "~classcentral-style/dist/buttons.css";
@import "~classcentral-style/dist/grid.css";
@import "~classcentral-style/dist/forms.css";
@import "~classcentral-style/dist/position.css";
@import "~classcentral-style/dist/icons.css";
@import "~classcentral-style/dist/symbols.css";
@import "~classcentral-style/dist/checkbox.css";
@import "~classcentral-style/dist/backgrounds.css";
@import "~classcentral-style/dist/spacing.css";
@import "~classcentral-style/dist/util.css";
@import "~classcentral-style/dist/typography.css";
@import "~classcentral-style/dist/unit.css";
@import "~classcentral-style/dist/arrows.css";
@import "~classcentral-style/dist/animation.css";
@import "~classcentral-style/dist/symbol-classcentral-gray.css";
@import "~classcentral-style/dist/symbol-coursera-blue.css";
@import "~classcentral-style/dist/icon-chevron-right.css";
@import "~classcentral-style/dist/icon-share.css";
@import "~classcentral-style/dist/icon-random.css";
@import "~classcentral-style/dist/icon-arrow-right.css";
@import "~classcentral-style/dist/icon-arrow-down.css";
@import "~classcentral-style/dist/icon-dollar.css";
@import "~classcentral-style/dist/icon-expand.css";
@import "~classcentral-style/dist/icon-question.css";
@import "~classcentral-style/dist/icon-degree.css";
@import "styles/header";
@import "styles/auth";
@import "styles/home";
@import "styles/cards";
@import "styles/review";
@import "styles/listing";
@import "styles/follow-button";
@import "styles/landing";
@import "styles/course";

.classcentral-style .bg-cc-gradient,
.bg-cc-gradient {
  background: rgba(213,223,255,1);
  background: -moz-linear-gradient(-45deg, rgba(213,223,255,1) 0%, rgba(239,252,255,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(213,223,255,1)), color-stop(100%, rgba(239,252,255,1)));
  background: -webkit-linear-gradient(-45deg, rgba(213,223,255,1) 0%, rgba(239,252,255,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(213,223,255,1) 0%, rgba(239,252,255,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(213,223,255,1) 0%, rgba(239,252,255,1) 100%);
  background: linear-gradient(135deg, rgba(213,223,255,1) 0%, rgba(239,252,255,1) 100%);
}
.classcentral-style {
  font-family: 'Myriad Pro', 'myriad-pro', Myriad, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.45;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  .cc-gradient-yellow {
    background: #FDB640;
    background: -moz-linear-gradient(-90deg, #ffe588 0%, #ffe588 45%, #FDB640 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #ffe588), color-stop(45%, #ffe588), color-stop(100%, #FDB640));
    background: -webkit-linear-gradient(-90deg, #ffe588 0%, #ffe588 45%, #FDB640 100%);
    background: -o-linear-gradient(-90deg, #ffe588 0%, #ffe588 45%, #FDB640 100%);
    background: -ms-linear-gradient(-90deg, #ffe588 0%, #ffe588 45%, #FDB640 100%);
    background: linear-gradient(-90deg, #ffe588 0%, #ffe588 -45%, #FDB640 100%);
  }
  .cc-gradient-gold {
    background: #fffddc;
    background: -moz-linear-gradient(left, #fffddc 0%, #fffddc 50%, #fce4b4 51%, #fce4b4 100%);
    background: -webkit-linear-gradient(left, #fffddc 0%,#fffddc 50%,#fce4b4 51%,#fce4b4 100%);
    background: linear-gradient(to right, #fffddc 0%,#fffddc 50%,#fce4b4 51%,#fce4b4 100%);
  }
  .cc-gradient-2012,
  .cc-gradient-2013,
  .cc-gradient-2014 {
    background: #D1D7EC;
    background: -moz-linear-gradient(left, #CDEAFE 0%, #CDEAFE 50%, #C6EDED 51%, #C6EDED 100%);
    background: -webkit-linear-gradient(left, #CDEAFE 0%, #CDEAFE 50%, #C6EDED 51%, #C6EDED 100%);
    background: linear-gradient(to right, #CDEAFE 0%, #CDEAFE 50%, #C6EDED 51%, #C6EDED 100%);
  }
  .cc-gradient-2015 {
    background: #D1D7EC;
    background: -moz-linear-gradient(left, #D1D7EC 0%, #D1D7EC 50%, #E7FEEB 51%, #E7FEEB 100%);
    background: -webkit-linear-gradient(left, #D1D7EC 0%, #D1D7EC 50%, #E7FEEB 51%, #E7FEEB 100%);
    background: linear-gradient(to right, #D1D7EC 0%, #D1D7EC 50%, #E7FEEB 51%, #E7FEEB 100%);
  }
  .cc-gradient-2016 {
    background: #C4E0E0;
    background: -moz-linear-gradient(left, #C4E0E0 0%, #C4E0E0 50%, #D9C4E2 51%, #D9C4E2 100%);
    background: -webkit-linear-gradient(left, #C4E0E0 0%, #C4E0E0 50%,#D9C4E2 51%,#D9C4E2 100%);
    background: linear-gradient(to right, #C4E0E0 0%, #C4E0E0 50%, #D9C4E2 51%, #D9C4E2 100%);
  }
  .cc-gradient-2017 {
    background: #ffffff;
    background: -moz-linear-gradient(left, #c3d9ec 0%, #c3d9ec 50%, #dcc1e3 51%, #dcc1e3 100%);
    background: -webkit-linear-gradient(left, #c3d9ec 0%, #c3d9ec 50%, #dcc1e3 51%, #dcc1e3 100%);
    background: linear-gradient(to right, #c3d9ec 0%, #c3d9ec 50%, #dcc1e3 51%, #dcc1e3 100%);
  }
  .shadow--blue {
    -webkit-box-shadow: 0px 0px 10px 0px #D7E7FC;
    -moz-box-shadow: 0px 0px 10px 0px #D7E7FC;
    box-shadow: 0px 0px 10px 0px #D7E7FC;
  }
}
.minimal-footer {
  background: transparent;
  height: auto;
}
.basic-footer {
  border-top: 1px solid #F2F2F2 !important;
  width: 100% !important;
  max-width: 100% !important;
  height: auto;
}
.radius.bg-red-light {
  .icon-x {
    width: 25px;
    height: 25px;
  }
}

html.sticky-footer {
  height: 100%;

  body {
    height: 100%;
  }
  .contain-page {
    min-height: 100%;
    margin-bottom: -81px;

    &:after {
      content: " ";
      display: block;
      height: 81px;
    }
  }
  footer {
    height: 81px;
  }
}

.checkbox--icon {
  box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
}

.main-filter-dropdown {
  display: none;
}
.active .main-filter-dropdown {
  display: block;
}
.dropdown.active:before {
  content: " ";
  display: block;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
}
