@import "~classcentral-style/dist/reset.css";
@import "~classcentral-style/dist/display.css";
@import "~classcentral-style/dist/borders.css";
@import "~classcentral-style/dist/buttons.css";
@import "~classcentral-style/dist/grid.css";
@import "~classcentral-style/dist/forms.css";
@import "~classcentral-style/dist/position.css";
@import "~classcentral-style/dist/icons.css";
@import "~classcentral-style/dist/symbols.css";
@import "~classcentral-style/dist/backgrounds.css";
@import "~classcentral-style/dist/spacing.css";
@import "~classcentral-style/dist/util.css";
@import "~classcentral-style/dist/typography.css";
@import "~classcentral-style/dist/unit.css";
@import "~classcentral-style/dist/arrows.css";
@import "~classcentral-style/dist/animation.css";
@import "~classcentral-style/dist/symbol-classcentral-gray.css";
@import "~classcentral-style/dist/icon-chevron-right.css";
@import "styles/header";
@import "styles/auth";
@import "styles/home";
@import "styles/cards";
@import "styles/review";

.classcentral-style .bg-cc-gradient,
.bg-cc-gradient {
  background: rgba(213,223,255,1);
  background: -moz-linear-gradient(-45deg, rgba(213,223,255,1) 0%, rgba(239,252,255,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(213,223,255,1)), color-stop(100%, rgba(239,252,255,1)));
  background: -webkit-linear-gradient(-45deg, rgba(213,223,255,1) 0%, rgba(239,252,255,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(213,223,255,1) 0%, rgba(239,252,255,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(213,223,255,1) 0%, rgba(239,252,255,1) 100%);
  background: linear-gradient(135deg, rgba(213,223,255,1) 0%, rgba(239,252,255,1) 100%);
}
.classcentral-style {
  font-family: 'Myriad Pro', 'myriad-pro', Myriad, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.45;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.minimal-footer {
  background: transparent;
  height: auto;
}
.basic-footer {
  border-top: 1px solid #F2F2F2 !important;
  width: 100% !important;
  max-width: 100% !important;
  height: auto;
}
.radius.bg-red-light {
  .icon-x {
    width: 25px;
    height: 25px;
  }
}
