Hello,

<p>Thank you for signing up for the Class Central <a href="https://www.class-central.com/mooc-tracker">MOOC Tracker</a>. The MOOC phenomenon is growing rapidly and new courses are being added every day.  Class Central is the best source online to find these MOOCs--we don’t just scrape listings, we manually add them to make sure they are organized and categorized in the most helpful way possible.</p>

<p>The MOOC Tracker is a new free service to help you keep track of MOOCs even better. You can use MOOC Tracker to:
    <ul>
        <li>Keep track of MOOCs that you are interested in, and get notified of any changes--for example, changes to the start date or when the course is offered again.
        <li>Keep a list of MOOCs you have taken or are interested in taking, for easy reference.
        <li>Save search terms you are interested in--whether it be subjects, universities, platforms, etc. (e.g., “Python”, “architecture”, “Stanford”) and MOOC Tracker will alert you when new courses that match your search terms are announced.
    </ul>
</p>
<p>
    To start using MOOC Tracker, you can do the following:
    <ol>
        <li> On any course detail page, click on the ‘track this course’’ button that is near the course title.
        <li> After performing a keyword search, click on the ‘add search term to MOOC Tracker’ button above the results.
    </ol>
    You can then click on ‘MOOC Tracker’ on the upper-right of the screen (or use this link:
    https://www.class-central.com/mooc-tracker) to see the courses and search terms you have saved. You will receive a notification via email if any course details or new search term matches are found.
</p>
<p>Also, look out for our newsletter which lists courses <a href="http://www.blog.class-central.com/mooc-course-report-november-2013/">starting in that month</a>.</p>

<p>We are in the early stages of development of MOOC Tracker and value your feedback on it. Please reply to this email if you have any questions, feedback, or feature requests.</p>

Thank you <br/><br/>

Dhawal Shah <br/>
Founder, <a href="https://www.class-central.com">Class Central</a>
