Hello,

<p>Thank you for signing up for <a href="https://www.class-central.com/">Class Central</a>, a MOOC Discovery platform. MOOCs are growing rapidly and new ones are being added every day. Class Central is the best source online to find these MOOCs--we categorize them into 30 different subject areas.</p>

<b>Discover the best courses</b><br/>
Class Central is the most comprehensive directory of MOOCs. Leverage reviews and ratings from the Class Central community to discover the best courses. Help out your peers by leaving feedback on courses you have taken.<br/>
<br/>
<b>Build you own catalogue</b><br/>
Build your own searchable catalogue of courses. Add courses to different lists i.e. "Interested", "Enrolled", "Completed","Audited" etc. Once added, you can find them in the My Courses section.<br/>
<br/>
<b>Never miss a course with MOOC Tracker</b><br/>
Get notified when a course in your catalogue is about to start, the start date changes, or if the course is offered again. Add search keywords to MOOC Tracker and we will alert you when new courses that match those keywords are announced.<br/>
Also, look out for our newsletter which lists courses <a href="http://www.blog.class-central.com/mooc-course-report-january-2014/">starting in that month</a>.

<p>Reply to this email if you have any questions, feedback, or feature requests. We would love to hear from you.</p>

Thank you,<br/><br/>

Dhawal Shah
Founder, <a href="https://www.class-central.com">Class Central</a>
