Hello,

<p>Thank you for signing up for <a href="https://www.class-central.com/">Class Central</a>. The MOOC phenomenon is growing rapidly and new courses are being added every day. Class Central is the best source online to find these MOOCs- we manually categorize them into <a href="https://www.class-central.com/subjects">30 different subjects</a>.</p>

<p>You can now build your personal searchable catalogue of courses. Courses can be added as "Plan to take", "Enrolled", "Completed", and "Audited". Once added these courses can be found in the "<a href="https://www.class-central.com/user/courses">My Courses</a>" section.</p>
<p>Additionaly, MOOC Tracker is a new free service to help you keep track of MOOCs even better. You can use MOOC Tracker to:
    <ul>
        <li>Get notifications of any changes in "Plan To Take" courses -for example, changes to the start date or when the course is offered again.
        <li>Save search terms you are interested in-whether it be subjects, universities, platforms, etc. (e.g., “Python”, “architecture”, “Stanford”) and MOOC Tracker will alert you when new courses that match your search terms are announced.
    </ul>
    You can disable MOOC Tracker notifications by visitng <a href="https://www.class-central.com/user/preferences">preferences.</a>
</p>

<p>Also, look out for our newsletter which lists courses <a href="http://www.blog.class-central.com/mooc-course-report-november-2013/">starting in that month</a>.</p>

<p>Please reply to this email if you have any questions, feedback, or feature requests.</p>

Thank you <br/><br/>

Dhawal Shah <br/>
Founder, <a href="https://www.class-central.com">Class Central</a>
