{% if is_granted('ROLE_ADMIN') and review.id is not empty %}
<section class="margin-top-large padding-large radius margin-bottom-large" style="background-color: #E6F4FF;">
  <h1 class="head-3 margin-bottom-medium">Quick approve/reject</h1>
  <a class="btn-white icon-checkmark icon--left review-status-update margin-right-medium" href="{{ path('reviews_status_update', {statusId: 2, reviewId: review.id}) }}">Approve</a>
  <a class="btn-white icon-ban icon--left review-status-update" href="{{ path('reviews_status_update', {statusId: 100, reviewId: review.id}) }}">Don't Show</a>
</section>
{% endif %}

{% include 'ClassCentralSiteBundle:Review:helpers/requiredReviewFields.html.twig' %}
{% include 'ClassCentralSiteBundle:Review:helpers/optionalFields.html.twig' %}
{% include 'ClassCentralSiteBundle:Review:helpers/reviewText.html.twig' with { number: 6 } %}
{% include 'ClassCentralSiteBundle:Review:helpers/staffFields.html.twig' %}
