<!DOCTYPE html>

{% set showProfileEditModal = false %}
{% for flashMessage in app.session.flashbag.get('show_post_signup_profile_modal') %}
    {% set showProfileEditModal = true %}
{% endfor %}

<html lang="en" {% if page is defined and page == "auth" %}class="bg-cc-gradient"{% endif %} class="sticky-footer">

{% include 'ClassCentralSiteBundle:Layouts:_head.html.twig' %}

<body>

<div {% if page is not defined or page != "auth" %}class="siteWrap contain-page"{% endif %}>

{% include 'ClassCentralSiteBundle:Helpers:sprites.svg.twig' %}

{% if contextBar is not defined  %}
    {% set contextBar = null %}
{% endif %}
{% set navbarData = apiService.getNavbarData(contextBar) %}

<div id="header" {% if navbarStyle is defined and navbarStyle == "simple" %}class="simple"{% endif %}>{{ reactService.component('header', '', navbarData)|raw }}</div>

{%  block contentheader %}
{% endblock %}


{% block ccfullcontent %}
{% endblock %}

{% if page is not defined or page != "auth" %}
  {% if page is defined and page == "home" %}
    {%  block homecontent %}
    {% endblock %}
  {% else %}
    <div class="container cc-body-content">
      {%  block contentoutsideofccpage %}
      {% endblock %}

      <div class="cc-page">
          {# Content pages go here #}
          {% if breadcrumbs is defined and showDefaultBreadcrumb is not defined %}
              {% include 'ClassCentralSiteBundle:Helpers:breadcrumbs.html.twig' with {'breadcrumbs': breadcrumbs }%}
          {% endif %}
          {%  block content %}
          {% endblock %}
      </div>
      {%  block contentfooter %}
      {% endblock %}
    </div> <!-- /container -->
    {% block abovefooter %}
    {% endblock %}
  {% endif %}
{% endif %}



{% block beforeClosingBody %}
{% endblock %}

{# Rating popup box #}
{% include 'ClassCentralSiteBundle:Helpers:rating.popup.html.twig' %}

</div>

{# Footer #}
{% include 'ClassCentralSiteBundle:Layouts:_footer.html.twig' %}
{# Footer scripts #}
{% include 'ClassCentralSiteBundle:Layouts:_scripts.html.twig' %}
{# Tracking / Analytics #}
{% include 'ClassCentralSiteBundle:Layouts/Tracking:footer.html.twig' %}
</body>
</html>
