{% extends 'ClassCentralSiteBundle::base.html.twig' %}


{% block contentheader %}
<div class="cc-form-box">
    <h3>MOOC tracker Login</h3>
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />

        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}

        <button class="btn btn-primary btn-course-cc" type="submit">Login</button>
    </form>
</div>
<style type="text/css">
    .cc-page {
        display: none;
    }
</style>
{% endblock %}