<div id="modal-nextcourse-loading" class="relative">
  <header class="text-center padding-top-large padding-horz-large">
    <h4 class="head-2 text--bold">Generating Recommendations</h4>
    <p class="head-4 margin-bottom-medium">
      We're building your recommendations...
    </p>
  </header>

  <div class="relative padding-horz-large border-bottom border--thin border--gray-xxlight">
    <div class="next-course-loading margin-bottom-large">
      <img
        src="/bundles/classcentralsite/slashpixel/images/next-course-loading.gif"
        style="max-height: inherit; margin-left: auto; margin-right: auto; display: block"
      />
    </div>
  </div>

  <div class="bg-gray padding-vert-medium text-center border-box" style="max-height: 70px;">
    <span
      class="bg-white inline-block radius shadow relative"
      data-ob-meterbar
      style="width: 300px; height: 20px;">
      <span class="bg-yellow absolute left top radius" style="height: 100%; width: 0px;"></span>
    </span>
  </div>
</div>
