
body {
    background-color:#efeff0;
}

/** Class Central styles for modal */
.cc-modal {
    border-radius: 0px;
}

.cc-modal .modal-header {
    border-bottom: 0px;
}

.cc-modal .modal-footer {
    background-color: #ffffff;
    border-top: 0px;
}

/** Class Central styles for form **/
.cc-form {

}

.cc-form input[type=text]{
    border-radius: 0px;
}

.cc-form label {
    color: #066666;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.cc-form label .label-req {
    color: red;
    margin-left: 5px;
}

.cc-page {
    margin-bottom: 50px;
    padding-bottom: 10px;
    background-color: #ffffff;
    margin-top: 50px;
    clear: both;
}

.cc-page h1 {
    font-family: 'Nixie One';
    color: #0662a1;
    font-weight: normal;
    line-height:1.5;
    padding-top: 40px;
    margin-left: 20px;
    font-size: 30px;
}

.cc-page h2 {
    font-size:24px;
    font-family: "Open Sans",sans-serif;
    color: #066666;
    font-weight: 600;
    padding: 20px 0 10px 20px;
}

/* Remove rounded corners */
.table {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.main-background {
    background: url("/bundles/classcentralsite/slashpixel/images/bkg_img_02.jpg") no-repeat scroll 0 0 transparent;
    height: 500px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    background-size: 100%;
}

.hero-unit {
  background: none;
  padding: 0;
  margin: 0 0 20px 0;
  padding-top: 20px;
}

:root .hero-unit {
 padding-bottom: 0px;
}

.hero-unit h1{
    font-family: 'Open Sans';
    color: #ffffff;
    font-size:18px;
    font-weight: 600;
    line-height:1.75;
    padding-top:0px;
    padding-bottom:20px;
    -webkit-font-smoothing: antialiased;
    max-width: 570px;
}

.hero-unit h1 span{
    text-decoration: underline;
}

.hero-unit a {
    color: #FFFFFF;
}

.hero-unit .free-online-ed {
    font-family: "Nixie One";
    font-size: 50px;
    color: #ffffff;
    margin: 10px 0px 30px 0px;
}

a {
  color: #0088cc;
  text-decoration: none;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}
.learnmorelink {
  font-weight:normal;
  font-size:16px;
  color: #ffffff;
  padding:10px;
  cursor:pointer;
}
.btn {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a.learnmorelink{
  color: #ffffff;
  text-decoration: none;
}
a.learnmorelink:hover {
  color: #ffffff;
  text-decoration: underline;
}
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.table-striped tbody tr:nth-child(even) td, .table-striped tbody tr:nth-child(even) th {
  background-color: #ffffff;
}
.tabletitle {
  font-family: "Open Sans",sans-serif;
  color: #066666;
  font-weight: 600;
  padding: 20px 0 10px 20px;
}
thead {
  background-color:white;
}
.modal {
  max-height: 700px;
  overflow: auto;
  width: 760px;
  margin: -250px 0 0 -380px;
}
.news {
  background-color: #010101;
  -webkit-border-radius:  0 4px 4px;
  -moz-border-radius:  0 4px 4px;
  border-radius: 0 0 4px 4px;
  margin:-40px;
  padding:20px 50px 10px 50px;
  margin-top:20px;
  margin-bottom:-60px;  
}
p.newstitle {
  color: white;
  text-decoration: none;
  padding-right:10px;
  margin-top:8px;
  font-size:14px;
  margin-top:2px;
}
.news .span9 {
  margin-left:-10px;
}


.nav-pills > li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:14px;
}
.nav-pills > li > a {
  color:white;
}

.nav-pills > li > a:hover {
  color:#0088cc;
}

.nav-stacked > li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:14px;
}
.nav-stacked > li > a {
  color:#0088cc;
}

.nav-stacked > li > a:hover {
  color:#ffffff;
  background-color:#0088cc;
}

.navbar .btn {
    background-image: none;
    border-radius: 0px;
    background-color: transparent;
}

.navbar .btn:hover,
.navbar .btn:active {
    background-image: none;
    border-radius: 0px;
    background-color: transparent;
}

.navbar .nav-right-list > li {
  margin-top: 20px;
}

.navbar .nav-right-list li.dropdown.open > .dropdown-toggle {
  background: none;
  color: #FFFFFF;
}

.navbar .nav>li>a {
    padding-left: 0px;
    padding-right: 25px;
}

.nav-title {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0.5px 0.866px 1px rgb( 6, 102, 102 );
}

.navbar .nav-right-list > li > form {
  margin-top: 5px;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret, .navbar .nav li.dropdown.open > .dropdown-toggle .caret {
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}

.navbar h1 {
    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    text-shadow: 0.5px 0.866px 1px rgb( 6, 102, 102 );
    -webkit-font-smoothing: antialiased;
}

.dropdown-menu {
    border-radius: 0px;
    font-family: 'Open Sans';
}

/* align the dropdown menu in the navbar with arrows*/
.navbar .pull-right>li>.dropdown-menu, .navbar .nav>li>.dropdown-menu.pull-right {
    right: 20px;
}

.socialmedia.nav-pills > li > a {
  width:30px;
  height:30px;
  padding:0;
  margin-right:8px;
  background-color:transparent;
}
a.social1{
  width: 30px;
  height: 30px;
  background: transparent url('/bundles/classcentralsite/slashpixel/images/socialmedia.png') no-repeat 0 0;
  display: block;
}
a.social1:hover {
  background-position: 0 -30px;
}
a.social2 {
  width: 30px;
  height: 30px;
  background: transparent url('/bundles/classcentralsite/slashpixel/images/socialmedia.png') no-repeat -30px 0;
  display: block;
}
a.social2:hover {
  background-position: -30px -30px;
}
a.social3 {
  width: 30px;
  height: 30px;
  background: transparent url('/bundles/classcentralsite/slashpixel/images/socialmedia.png') no-repeat -60px 0;
  display: block;
}
a.social3:hover {
  background-position: -60px -30px;
}
a.social4 {
  width: 30px;
  height: 30px;
  background: transparent url('/bundles/classcentralsite/slashpixel/images/socialmedia.png') no-repeat -90px 0;
  display: block;
}
a.social4:hover {
  background-position: -90px -30px;
}

.classcentralfooter {
  margin-bottom: 0;
  padding-top: 30px;
  text-align:center;
  list-style: none;
}

.classcentralfooter li {
  display: inline;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
}

.classcentralfooter li:after {
    content: " | ";
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #0662a1;
}

.classcentralfooter li:last-child:after {
    content: "";
}
.classcentralfooter a, .classcentralfooter a:hover {
    color: #0662a1;
    background: none;
}

.classcentralfooter .social{
    padding-top: 6px;
}

footer {
    background-color: #ffffff;
    height: 80px;
}

.pp_default{
    display: block;
    position: absolute;
}

.course-table-wrapper {
    float: left;
    overflow: auto;
    width: auto;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

table.table thead .sorting,
table.table thead .headerSortDown,
table.table thead .headerSortUp {
    cursor: pointer;
    *cursor: hand;
}
 
table.table thead .sorting { background: url('/bundles/classcentralsite/slashpixel/images/sort_both.png') no-repeat center right; }
table.table thead .headerSortDown { background: url('/bundles/classcentralsite/slashpixel/images/sort_asc.png') no-repeat center right; }
table.table thead .headerSortUp { background: url('/bundles/classcentralsite/slashpixel/images/sort_desc.png') no-repeat center right; }
 
.initiativelinks{ 
    color:#000000;
}

.tagline-initiative-links{color:#222}

.coursenametd{
    cursor: pointer;
}

.social-btn-nav {
    margin: 0;
}

.social-btn-nav li{
	float: left;
    width: auto;
    list-style: none;
    margin: 0;
}


/*Top navigation */
.navbar-inner {
    background: none;
    border: none;
}

.cc-navbar {
    background-color: #0662a1;
    min-height: 80px;
    color: #FFFFFF;
}

.navbar .nav > li > a {
    color: #FFFFFF;
    height: 100%;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    color: #FFFFFF;
}


/* Fix for tables not showing up in IE 8*/
.table {background-color:#ffffff;}

.introcolumn{
    width: 40px;
}

.searchresultsheader div{
    font-family: 'Nixie One', cursive;
    color:#000000;
    font-size:15px;
    margin-left: 20px;
}

.icon-link:hover{
    cursor: hand;
    cursor: pointer;
}

/* Search form */
.cc-home-form input[type="text"]{
    font-size: 20px;
    -moz-border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 38px;
    -moz-box-shadow:    0px 0px 1px 0px rgb( 6, 102, 102 );
    -webkit-box-shadow: 0px 0px 1px 0px rgb( 6, 102, 102 );
    box-shadow: 0px 0px 1px 0px rgb( 6, 102, 102 );
}

.cc-home-form .input-append .add-on:last-child{
    height: 38px;
    width: 60px;
    border-radius: 0px;
    background-color: #ffffff;
    border-left-color:#066666 ;
    -moz-box-shadow:    0px 0px 1px 0px rgb( 6, 102, 102 );
    -webkit-box-shadow: 0px 0px 1px 0px rgb( 6, 102, 102 );
    box-shadow: 0px 0px 1px 0px rgb( 6, 102, 102 );
}

.cc-home-form .input-append button:hover {
    opacity: 0.75;
}

.cc-home-form .input-append .add-on .icon-search {
    background-image: url("/bundles/classcentralsite/slashpixel/images/search-icon-big.png");
    background-position: 0px 0px;
    height: 22px;
    width: 22px;
    margin: 8px 19px;
}

.search-wrapper {
    margin-left: 20px;
}

.input-xxxlarge.input-large {
    width: 500px;
}

.cc-home-form button{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

input::-webkit-input-placeholder {
    font-family: 'Open Sans';
    color:  #066666;
    font-style: italic;
    font-size: 17px;
}

:-moz-placeholder { /* Firefox 18- */
    font-family: 'Open Sans';
    color: #066666;
    font-style: italic;
    font-size: 17px;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-family: 'Open Sans';
    color: #066666;
    font-style: italic;
    font-size: 17px;
}

:-ms-input-placeholder {
    font-family: 'Open Sans';
    color: #066666;
    font-style: italic;
    font-size: 17px;
}

.input-append button.add-on {
    height: inherit !important;
}

.add-on {
    border-radius: none;
}


/* Nav search form */
#nav-search-form input[type="text"]{
    font-size: 20px;
    -moz-border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-box-shadow:    0px 0px 1px 0px rgb( 6, 102, 102 );
    -webkit-box-shadow: 0px 0px 1px 0px rgb( 6, 102, 102 );
    box-shadow: 0px 0px 1px 0px rgb( 6, 102, 102 );
    width: 110px;
}

#nav-search-form .input-append .add-on:last-child{
    border-radius: 0px;
    background-color: #ffffff;
    border-left-color:#066666 ;
    -moz-box-shadow:    0px 0px 1px 0px rgb( 6, 102, 102 );
    -webkit-box-shadow: 0px 0px 1px 0px rgb( 6, 102, 102 );
    box-shadow: 0px 0px 1px 0px rgb( 6, 102, 102 );
}

#nav-search-form .input-append button:hover {
    opacity: 0.75;
}

#nav-search-form .input-append .add-on .icon-search {
    background-image: url("/bundles/classcentralsite/slashpixel/images/search-icon-navbar.png");
    background-position: 0px 0px;
    height: 15px;
    width: 15px;
    margin: 0px;
}

#nav-search-form #prependedInput {
    display: none;
}

#nav-search-form button{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/* MOOC/Course pages */
.course-block {
    padding: 20px 20px;
}

.course-block .course-title {
    font-family: 'Nixie One',sans-serif;
    color: #0662a1;
    font-weight: normal;
    margin-left: 0px;
    padding-top: 0px;
}

.course-block .course-instructors {
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    color: #066666;
    font-weight: 400;
    font-style: italic;
}

.course-secondline {
    margin-bottom: 5px;
}

.course-secondline ul{
    display: inline;
    list-style-type: none;
    margin-left: 0px;
}
.course-secondline ul:after {
    content: ' - ';
}

.course-secondline ul li {
    display: inline;
}

.course-secondline li:after {
    content: ', ';
}

.course-secondline li:last-child:after {
    content: "";
}

.course-secondline ul li a {
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    color: #066666;
    font-weight: 600;
}

.course-info-row {
    margin-bottom: 10px;
}
.course-info-row span {
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    color: #0662a1;
    font-weight: 600;
    display: inline-block;
    width: 80px;
}

.course-info-row a {
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    color: #066666;
    font-weight: 400;
}

.course-block .course-desc {
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #000000;
}

.course-offeringtype-block h4 {
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    color: #066666;
    font-weight: 600;
}

.course-offeringtype-block ul {
    list-style-type: none;
}

.course-offeringtype-block li {
    margin-bottom: 5px;
}

.offering-start-date {
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    color: #066666;
    font-weight: 400;
    display: inline-block;
    width: 100px;
}

.course-sessions {
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    color: #0662a1;
    font-weight: 600;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin-bottom: 20px;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn-course-cc {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background-image: none;
    background-color: #0662a1;
    border: 0px;
}

.btn-course-cc:hover {
    background-color: #666666;
}

.btn-mooc-tracker-add {
    background-color: #cd2127;
}

.btn-mooc-tracker-added {
    background-color: #5ca8a3;
}

.btn-mooc-tracker-added:hover {
    background-color: #5ca8a3;
}

/* Positioning for MOOC tracker button */
.btn-mooc-tracker-course-page {
    margin-left: -20px;
}

.course-block .course-share {
    margin-bottom: 10px;
}

.course-share a.twitter,
.course-share a.facebook,
.course-share a.gplus,
.course-share a.mail,
.course-share a.linkedin {
    background-image: url('/bundles/classcentralsite/images/social-share.png');
    display: inline-block;
    height: 28px;
    width: 30px;
}

.course-share-text {
    font-weight: bold;
    color: #0662a1;
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
    padding-right: 10px;
    font-family: "Open Sans",sans-serif;
 }

.course-share-button {
    display: inline-block;
}


.course-share a.twitter{
    background-position: 0px 0px;
}

.course-share a.gplus{
    background-position: -28px 0px;
}

.course-share a.facebook{
    background-position: -56px 0px;
}

.course-share a.linkedin{
    background-position: 60px;
}

.course-share a.mail{
    background-position: 30px 0px;
}



#sendMailModal {
    max-width: 315px;
}

#sendMailModal .modal-body h4 {
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    color: #0662a1;
    font-weight: bold;
    line-height: 0.5;
}

#sendMailModal .modal-body h3 {
    color: #0662a1;
    font-family: "Nixie One";
    font-weight: normal;
}

#sendMailModal input {
    width: 90%;
}

#share-course-form-error {
    font-size: 12px;
    font-family: "Open Sans";
    color: #066666;
    line-height: 1.5;
}

#sendMailModal .btn-course-cc{
    float: left;
    width: 90%;
}

/**
* MOOC tracker course box
*/
#mooc-tracker-courses-grid {
    overflow: hidden;
}
#mooc-tracker-course-box {
    /* width: 25%;
    padding-bottom: 25%; */
    width: 290px;
    height: 290px;
    position: relative;
    float: left;
}
#mooc-tracker-course-box-inner {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    top:10px;
    background: #3a759a;
    color: #ffffff;
}

#mooc-tracker-course-box-content {
    padding: 20px;
}
#mooc-tracker-course-box-content-title {
    font-size: 20px;
    font-family: "Open Sans";
    margin-top: 20px;
    line-height: 1.5;
}

#mooc-tracker-course-box-institution {
    margin-top: 10px;
    font-weight: 400;
    font-style: italic;
}

#mooc-tracker-course-box-bottom-row {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

#mooc-tracker-course-box-start-date {
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
}

.btn-mooc-tracker-box {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background-image: none;
    background-color: #3a759a;
    color: inherit;
    font-family: "Open Sans";
    font-weight: bold;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
}

.btn-mooc-tracker-box:hover {
    background-color: #666666;
}


.btn-mooc-tracker-search {
    float: left;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background-image: none;
    background-color: #5ca8a3;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: bold;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 270px;
    margin: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.btn-mooc-tracker-search:hover {
    background-color: #666666;
}

.mt-info-text {
    margin-left: 20px;
    font-style: italic;
}

/**
* Recently Viewed
*/

#recentlyViewed {
    margin-bottom: 20px;
}

#recentlyViewed h1 {
    font-family: 'Nixie One';
    font-weight: bold;
    line-height:1.5;
    font-size: 30px;
}
#recentlyViewed #mooc-tracker-course-box-inner {
    left: 0px;
}


/*
* Signup form page styling
*/
.signup-box {
    min-width: 1170px;
}
.signup-copy {
    margin: 50px 0px;
    height: 400px;
    width: 750px;
    display: inline-block;
    padding-right: 20px;
}

.signup-copy .signup-copy-line1 {
    font-family: "Open Sans",sans-serif;
    color: #3a759a;
    font-weight: 300;
    font-size: 50px;
    line-height: 1;
}

.signup-copy .signup-copy-line2 {
    font-family: "Open Sans",sans-serif;
    color: #5ca8a3;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
}

.signup-box .cc-form-box {
    display: inline-block;
    vertical-align: top;
}

.signup-copy ul li{
    color: #5ca8a3;
}

.signup-copy-desc {
    margin-top: 20px;
}

.signup-copy-desc span {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    line-height: 0;
    margin-top: 20px;
    padding-top: 10px;
}

.signup-copy-desc ul {
    margin-left: 40px;
}

/**
Newsletter subscribe pages
**/

#newsletter-subscribe .signup-copy {
    width: inherit;
}

#newsletter-subscribe-button {
    padding-left: 30px;
    padding-right: 30px;
}

#newsletter-subscribe .cc-form-input {
    width: 300px;
}

#newsletter-subscribe .cc-form-input::-webkit-input-placeholder {
    color: #dce1e7;
    font-size: 14px;
}

#newsletter-subscribe .cc-form-input:-moz-placeholder { /* Firefox 18- */
    color: #dce1e7;
    font-size: 14px;
}

#newsletter-subscribe .cc-form-input::-moz-placeholder {  /* Firefox 19+ */
    color: #dce1e7;
    font-size: 14px;
}

#newsletter-subscribe .cc-form-input:-ms-input-placeholder {
    color: #dce1e7;
    font-size: 14px;
}



/**
CC form box - for signup, login, forgot password
**/

.cc-form-input {
    border-radius: 0px !important;
}

.cc-form-box {
    padding: 20px;
    margin-top: 50px;
    background-color: #ffffff;
    width: 350px;
    margin: 50px auto;
    padding-bottom: 50px;
}

.cc-form-box h3 {
    color: #0662a1;
    font-family: "Nixie One";
    font-weight: normal;
}

.cc-form-box form input {
    width: 90%;
}
.cc-form-box form input {
    margin-top: 10px ;
}
.cc-form-box form input[type=text],
.cc-form-box form input[type=email],
.cc-form-box form input[type=password] {
    border-radius: 0px;

}

.cc-form-box form label {
    color: #066666;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.cc-form-box form label .label-req {
    color: red;
    margin-left: 5px;
}

.cc-form-box form .btn-course-cc{
    float: left;
    width: 95%;
    margin-top: 20px;
}

#cc-form-box-additional-link {
    color: #066666;
    padding-top: 50px;
}

#cc-form-box-additional-link a{
    color: #f38574;
    text-decoration: underline;
}

/* News page */

.mooc-news {
    padding: 0px 50px 50px;
}

.mooc-news-title a{
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    color: #066666;
    font-weight: 600;
}


.mooc-news-description {
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    color: #066666;
    font-weight: 400;
}

.mooc-news-item {
    margin-bottom: 20px
}

.mooc-news-description span {
    font-family: 'Nixie One';
    font-size: 14px;
    font-weight: bold;
    color: #0662a1;
}

.table-uni-list {
    margin-left: 0px;
}

.table-uni-list li {
    display: inline;
}

.table-uni-list li:after {
    content: ', ';
}

.table-uni-list li:last-child:after {
    content: "";
}

.table-uni-list li a {
    color: #333333;
}

table .course-name {
    font-weight: bold;
}

@media (max-width: 1201px) {
        .cc-home-form input{
           margin-left: 0px; 
        }
}

@media (max-width: 980px) {

    nav-collapse .pull-right > .dropdown > a,
   .nav-collapse .pull-right > li > a {
        font-weight: 300;
        color: #ffffff;
    }

    .nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a {
        color: #ffffff;
    }

    .nav-collapse .pull-right > .dropdown > a:hover,
    .nav-collapse .pull-right > li > a:hover {
        background-color: #0662a1;
    }

    /* "Class Central" in the navbar */
    .nav-collapse .nav>li>a:hover, .nav-collapse .dropdown-menu a:hover {
        background-color: #0662a1;
    }

    .tabletitle {
        font-size: 16px;
    }

    #nav-search-form {
        margin-left: 15px;
    }

    .navbar .nav>li>a {
        padding-left: 15px;
    }

    .cc-navbar {
        min-height: 20px;
    }

    .main-background {
        background-image: none;
    }

    .cc-page {
        margin-top: 40px;
    }

    .cc-page h1 {
        font-size: 28px;
    }

    .cc-page h2 {
        font-size: 24px;
    }

    .hero-unit h1 {
        color: #0662a1;
    }

    .hero-unit h1 a{
        color: #0662a1;
    }

    .hero-unit .free-online-ed {
        color: #000000;
    }

 }

 
 @media (max-width: 767px) {
     .input-xxxlarge{          
          width: 80%;          
            -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                    box-sizing: border-box;                    
     }

     .hero-unit h1 {
         max-width: 300px;
         font-size: 14px;
     }

     .hero-unit .free-online-ed {
         font-size: 30px;
         margin-bottom: 10px;
         margin-top: 0px;
     }

     input::-webkit-input-placeholder {
         font-size: 14px;
     }

     :-moz-placeholder { /* Firefox 18- */
         font-size: 14px;
     }

     ::-moz-placeholder {  /* Firefox 19+ */
         font-size: 14px;
     }

     :-ms-input-placeholder {
         font-size: 14px;
     }

     .cc-home-form .input-append .add-on .icon-search {
         margin: 0px;
     }

     .cc-home-form .input-append .add-on:last-child {
         height: 28px;
         width: 40px;
     }

     .cc-page {
         margin-top: 30px;
     }

     .cc-page h1 {
         font-size: 20px;
     }

     .cc-page h2 {
         font-size: 16px;
     }
     .mooc-news h1 {
         font-size: 30px;
     }


    .cc-home-form button{    
        margin-left: 0px;
        margin-bottom: 0px;            
    }

     
     .cc-home-form input{                  
         height: 30px;
         font-size: 14px;         
     }

 }
