{% extends 'ClassCentralSiteBundle:Layouts:Admin/standard.html.twig' %}

{% block content -%}
<div class="relative">
  <ul class="absolute top right padding-right-small medium-up-padding-right-xlarge">
    <li class="inline-block">
      <a class="btn-blue icon--left icon-plus-white" href="{{ path('help-guide-section_new') }}">Create Section</a>
    </li>
  </ul>

  <div class="padding-top-xxlarge">
    <table class="table table--small">
        <thead>
        <tr>
            <th class="text--gray text-4 text-center width-2-16"></th>
            <th class="text--gray text-4 text-left width-12-16">Title</th>
            <th class="text--gray text-4 text-center width-2-16">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
          <tr>
            <td>
              <i class="icon-{{ entity.slug }}"></i>
            </td>
            <td class="text-1 line--medium">{{ entity.name }}</td>
            <td class="text-center">
              <a class="btn-white padding-horz-medium icon--xsmall icon--center icon-pencil-charcoal" href="{{ path('help-guide-section_edit', { 'id': entity.id }) }}">Edit</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}
