{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{% block headmeta %}
{% endblock %}

{% block contentheader %}
    <div class="signup-box" id="newsletter-subscribe">
        <div class="signup-copy">
            <p class="signup-copy-line1">
                Thank you for subscribing
            </p>
            {% if newsletterEmail is not null %}
            <p class="signup-copy-line2">
                If you would like to track courses that match your interests <br>
                Sign up for MOOC Tracker
            </p>
            {% for flashMessage in  app.session.flashbag.get('newsletter_signup_invalid_password') %}
                <div>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <form action="{{ path('newsletter_mooc_tracker_signup') }}" method="post">
                {# Don't show the form to signed in user #}
                {% if not app.user %}
                    <input type="password" id="password" name="password" value="" class="cc-form-input" placeholder="Set your password"/>
                    <br/>
                    <button class="btn btn-primary btn-course-cc" type="submit" id="newsletter-subscribe-button">Signup for MOOC Tracker</button>
                {% endif %}
            </form>
            {% endif %}
        </div>
    </div>
    <style type="text/css">
        .cc-page {
            display: none;
        }
    </style>
{% endblock %}