{% for result in credentials %}
    {% set credential = result._source %}
    <div class="cred-col col-xs-6 col-sm-12 col-md-6 col-lg-4">
        {% include 'ClassCentralCredentialBundle:Credential:credentialcard.html.twig' %}
    </div>
{% endfor %}