<ul class="row medium-up-margin-top-medium">
{% for result in credentials %}
  {% set credential = result._source %}
    <li class="col small-width-100 medium-width-1-2 large-width-1-3 padding-medium">
      {% include 'ClassCentralCredentialBundle:Credential:credential.v2.card.html.twig' %}
    </li>
{% endfor %}
</ul>
