 <form class="color-scheme-brand form" action="#" method="post">
        <div class="padded-input-group padded-input-group--border-bot">
            <h2 class="heading-colored">Your profile.</h2>

            <div class="row">
                <div class="col-lg-6">
                    <span class="review-form-error" id="full-name-error" style="display:none;">
                            Should be atleast three letters
                   </span>
                    <div class="bordered-box bordered-box--input">
                        <label class="cc-input-label" for="edit-profile-full-name">Full Name</label>
                        <input class="plain-input" type="text" name="full-name" placeholder="Full name" id="edit-profile-full-name">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="bordered-box bordered-box--input">
                        <label class="cc-input-label" for="edit-profile-location">Location</label>
                        <input class="plain-input" type="text" name="location" placeholder="My location" id="edit-profile-location">
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="bordered-box bordered-box--input">
                        <label class="cc-input-label" for="edit-profile-qualifications">Highest Degree obtained</label>
                        <select class="plain-input plain-input--select js-colorize-select" name="highest-degree" id="edit-profile-qualifications">
                            <option value="" class="select-placeholder">Degrees</option>
                            {% for id,degree in degrees%}
                                <option value="{{ id }}">{{ degree }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="bordered-box bordered-box--input">
                        <label class="cc-input-label" for="edit-profile-field-of-study">Field of Study</label>
                        <input class="plain-input" type="text" name="field-of-study" placeholder="Add field of study" id="edit-profile-field-of-study">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="bordered-box bordered-box--input">
                        <label class="cc-input-label" for="edit-profile-about-me">About me</label>
                        <textarea class="plain-input plain-input--textarea" name="about-me" id="edit-profile-about-me" placeholder="A little about me..."></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="bordered-box bordered-box--input">
                        <label class="cc-input-label" for="edit-profile-photo">Profile Photo</label>
                        <img src="/bundles/classcentralsite/slashpixel/images/profile-pic-placeholder.png" class="photo-preview-thumb" id="edit-profile-photo-preview" alt="your image">
                        <input class="file-input file-input--photo" type="file" name="profile-photo" id="edit-profile-photo">
                    </div>
                </div>
            </div>
        </div>

        <div class="padded-input-group">
            <h2 class="heading-colored">Social links.</h2>

            <div class="row">
                <div class="col-lg-6">
                    <div class="bordered-box bordered-box--input">
                        <label class="cc-input-label" for="edit-profile-twitter">Twitter</label>
                        <input class="plain-input" type="text" name="profile-twitter" placeholder="@username" id="edit-profile-twitter">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="bordered-box bordered-box--input">
                        <label class="cc-input-label" for="edit-profile-facebook">Facebook</label>
                        <input class="plain-input" type="text" name="profile-facebook" placeholder="facebook.com/profile" id="edit-profile-facebook">
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="bordered-box bordered-box--input">
                        <label class="cc-input-label" for="edit-profile-website">My Website</label>
                        <input class="plain-input" type="text" name="profile-website" placeholder="mywebsite.com" id="edit-profile-website">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="bordered-box bordered-box--input">
                        <label class="cc-input-label" for="edit-profile-linkedin">Linkedin</label>
                        <input class="plain-input" type="text" name="profile-linkedin" placeholder="linkedin.comn/profile" id="edit-profile-linkedin">
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="bordered-box bordered-box--input">
                        <label class="cc-input-label" for="edit-profile-gplus">Google Plus</label>
                        <input class="plain-input" type="text" name="profile-gplus" placeholder="google.com/+profile" id="edit-profile-gplus">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="bordered-box bordered-box--input">
                        <label class="cc-input-label" for="edit-profile-coursera">Coursera</label>
                        <input class="plain-input" type="text" name="profile-coursera" placeholder="coursera.org/profile" id="edit-profile-coursera">
                    </div>
                </div>

            </div>
        </div>

        <input class="full-width-button" type="submit" name="submit" id="save-profile" value="Update my public profile">
    </form>


