<nav class="text-center margin-top-medium medium-up-margin-top-reset large-up-text-right border-bottom border--thin border--gray-dark">
  <div style="top: 1px" class="relative">
    <button
      data-tab-family="{{ section }}"
      data-tab="{{ section }}-courses"
      class="head-5 medium-up-head-4 text--bold text--charcoal inline-block bg-white border--thin border-top border-left border-right border--gray-dark padding-vert-xsmall padding-horz-small large-up-padding-horz-xxlarge margin-right-xsmall">
      Courses
    </button>
  </div>
</nav>
