{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{% block headmeta %}
    <title>Subjects</title>
{% endblock %}

{% block content %}
    <div class="intro-wrap">
        <div class="description-wrap">
            <h1 class='cc-page-header'>Subjects</h1>
        </div>
    </div>
    <div id="subjects-wrap">
        <div id="subject-info-outer" style="background-color:#f15f45">
            <div id="subject-info-inner">
                <div id="subject-count">14</div>
                <div id="subject-count-courses-text">courses</div>
                <div id="subject-name">Computer Science</div>
                <a href="#" id="btn btn-primary">View all courses</a>
            </div>
        </div>
    </div>
{% endblock %}