{% extends 'ClassCentralSiteBundle:Layouts:basic.html.twig' %}

{% block headmeta %}
  {% if keywords is not null and keywords|length %}
      <title> {{keywords}} - free online courses/MOOC search results | Class Central</title>
      <meta name="description" content="{{keywords}} - free online courses/MOOC search results | Class Central"/>
      <meta name="robots" content="noindex, follow" />
      {# paginated content #}
      {% include 'ClassCentralSiteBundle:Helpers:paginationRelTags.html.twig' with
          { 'pageNo': pageNo, 'totalCourses': results.hits.total }
      %}
  {% else %}
      <title>Search for free online courses/MOOCs | Class Central</title>
      <meta name="description" content="Free MOOC (Massive Open Online Course) Search"/>

  {% endif %}
{% endblock %}

{% block content %}
  <div id="search-container" class="classcentral-style">
    <div class="text-center border-box padding-horz-xlarge small-width-6-7 large-width-2-3 width-centered" style="max-width: 1000px">
      <header>
        <div class="margin-top-large">
          {% if keywords is null or keywords|length == 0 %}
            <h1 class="head-2 medium-up-head-1 padding-top-xxlarge margin-bottom-medium">What do you want to learn?</h1>
          {% elseif total == 0 %}
            <h1 class="head-2 medium-up-head-1 padding-top-xxlarge margin-bottom-medium">No results were found for your search "{{keywords}}"</h1>
            <p class="text-3 medium-up-text-1">Double check the spelling of your search, or try a different keyword.</p>
          {% endif %}
        </div>
      </header>
      <div class="margin-bottom-large">
        <form method="get" action="/search" class="form padding-vert-medium">
          <fieldset class="relative">
            <input type="text" value="{{keywords}}" autocomplete="off" name="q" class="width-100 input--medium icon-search-charcoal icon--right">
          </fieldset>
          <div class="text-center margin-top-large">
            <button
              type="submit"
              class="btn-blue xsmall-only-width-100 small-up-margin-horz-xsmall margin-bottom-small">
              Search Class Central
            </button>
            <a href="/random" class="btn-white xsmall-only-width-100 small-up-margin-horz-xsmall small-margin-horz-reset"><span class="icon--left icon-random-blue">Random Course</span></a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
