<div id="modal-nextcourse-subjects" class="relative">
  <header class="text-center padding-top-large padding-horz-large">
    <h4 class="head-2 text--bold">What do you want to learn?</h4>
    <p class="head-4">
      Pick all the subjects you are interested in. It'll help us find courses you'll love
    </p>
  </header>

  <div class="relative border-bottom border--thin border--gray-xxlight">
    <div class="scrollable-y fade-bottom" style="height: 400px;">
      <div class="tagboard padding-bottom-xxlarge margin-bottom-xlarge padding-horz-xlarge padding-top-large">
          {% for subject in subjects.parent  %}
            <span class="block medium-up-inline-block margin-bottom-xxsmall">
              {% include 'ClassCentralSiteBundle:Follow:btn.follow.html.twig' with {
              item : followSubjectItem,
              item_id : subject.id,
              itemName: subject.name,
              followed: user_session.isItemFollowed(followSubjectItem,subject.id),
              simpleButton: true,
              hideNotification: true
              } %}
            </span>
          {% endfor %}

          {% for subject in childSubjects  %}
            <span class="block medium-up-inline-block margin-bottom-xxsmall">
              {% include 'ClassCentralSiteBundle:Follow:btn.follow.html.twig' with {
              item : followSubjectItem,
              item_id : subject.id,
              itemName: subject.name,
              followed: user_session.isItemFollowed(followSubjectItem,subject.id),
              simpleButton: true,
              hideNotification: true
              } %}
            </span>
          {% endfor %}
      </div>
      <div class="z-top width-100 absolute bottom text-center left">
        <p class="text--charcoal text-3 icon--left icon-arrow-down text--bold padding-small">
          Scroll for more
        </p>
      </div>
    </div>
  </div>

  <div class="bg-gray padding-vert-small text-center large-up-text-right row padding-horz-large">
    <div class="col width-10-16 relative padding-right-medium text-left medium-only-hidden small-only-hidden xsmall-only-hidden">
      <span
        class="width-1-3 bg-white relative radius shadow inline-block margin-right-small"
        data-ob-meterbar
        style="height: 20px; top: 5px;">
        <span class="bg-yellow absolute left top radius" style="height: 100%; width: 0px;"></span>
      </span>
      <span data-ob-info class="inline-block text-center line--small">
        Pick 5 or more subjects
      </span>
    </div>
    <div class="col width-100 large-up-width-6-16 large-up-text-right text-center">
      <button data-ob-action-next="loggedIn.providers" class="btn-white">Skip</button>
    </div>
  </div>
</div>
