<div class="modal fade" id="onboarding-follow-subjects-modal" tabindex="-1" role="dialog" aria-labelledby="write-modal-title-here" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog__large" role="document">
        <div class="modal-base-wrap">


            <div class="modal-base-layout">


                <div id="modal-pane-2" class="modal-pane">
                    <div class="on-modal-header">
                        <h1 class="on-modal-title">Follow 5 or more <i>subjets</i></h1>
                        <h2 class="on-modal-subtitle">It'll help us find courses you'll love</h2>
                    </div>

                    <div class="on-modal-body">
                        <div class="on-modal-body__tags">
                            <div class="on-modal-body__tagswrap js-custom-scrollbar">
                                <div class="tagboard">

                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil and environmental engineering Civil and environmental engineering">
                                        ASDfasdfa afa fas sa fasf as f
                                    </a>
                                    <a href="#" class="tagboard__tag active" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil and ering Civil and environmental engineering">
                                        ASDfasdfa afa fa
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil  engineering">
                                        asdffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffdfsfasfdasfasfdasfajsfasdfkaöskföalskföaskföaskföaskfaskföaskföaskfölsdakföäaskföakföaldfköakfakföaskfaöfkaöglsdfvlsöjbosfjgagjasjfgasidjfafjlaksfjalkdsjflakdsjflkadsdfladsfladsnasdv
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil Civil and environmental engineering">
                                        ASDfasdfa
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil and enviroonmental engineering">
                                        ASDfasdfa afa fas sa fasf as f
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil and environmental engineering Civil and environmental engineering">
                                        ASDfasdfa afa fas sa fasf as f
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil and ering Civil and environmental engineering">
                                        ASDfasdfa afa fa
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil  engineering">
                                        asdffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffdfsfasfdasfasfdasfajsfasdfkaöskföalskföaskföaskföaskfaskföaskföaskfölsdakföäaskföakföaldfköakfakföaskfaöfkaöglsdfvlsöjbosfjgagjasjfgasidjfafjlaksfjalkdsjflakdsjflkadsdfladsfladsnasdv
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil Civil and environmental engineering">
                                        ASDfasdfa
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil and enviroonmental engineering">
                                        ASDfasdfa afa fas sa fasf as f
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil and environmental engineering Civil and environmental engineering">
                                        ASDfasdfa afa fas sa fasf as f
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil and ering Civil and environmental engineering">
                                        ASDfasdfa afa fa
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil  engineering">
                                        asdffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffdfsfasfdasfasfdasfajsfasdfkaöskföalskföaskföaskföaskfaskföaskföaskfölsdakföäaskföakföaldfköakfakföaskfaöfkaöglsdfvlsöjbosfjgagjasjfgasidjfafjlaksfjalkdsjflakdsjflkadsdfladsfladsnasdv
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil Civil and environmental engineering">
                                        ASDfasdfa
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil and enviroonmental engineering">
                                        ASDfasdfa afa fas sa fasf as f
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil and environmental engineering Civil and environmental engineering">
                                        ASDfasdfa afa fas sa fasf as f
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil and ering Civil and environmental engineering">
                                        ASDfasdfa afa fa
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil  engineering">
                                        asdffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffdfsfasfdasfasfdasfajsfasdfkaöskföalskföaskföaskföaskfaskföaskföaskfölsdakföäaskföakföaldfköakfakföaskfaöfkaöglsdfvlsöjbosfjgagjasjfgasidjfafjlaksfjalkdsjflakdsjflkadsdfladsfladsnasdv
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil Civil and environmental engineering">
                                        ASDfasdfa
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil and enviroonmental engineering">
                                        ASDfasdfa afa fas sa fasf as f
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil and environmental engineering Civil and environmental engineering">
                                        ASDfasdfa afa fas sa fasf as f
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil and ering Civil and environmental engineering">
                                        ASDfasdfa afa fa
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil  engineering">
                                        asdffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffdfsfasfdasfasfdasfajsfasdfkaöskföalskföaskföaskföaskfaskföaskföaskfölsdakföäaskföakföaldfköakfakföaskfaöfkaöglsdfvlsöjbosfjgagjasjfgasidjfafjlaksfjalkdsjflakdsjflkadsdfladsfladsnasdv
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil Civil and environmental engineering">
                                        ASDfasdfa
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil and enviroonmental engineering">
                                        ASDfasdfa afa fas sa fasf as f
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil and environmental engineering Civil and environmental engineering">
                                        ASDfasdfa afa fas sa fasf as f
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil and ering Civil and environmental engineering">
                                        ASDfasdfa afa fa
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil  engineering">
                                        asdffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffdfsfasfdasfasfdasfajsfasdfkaöskföalskföaskföaskföaskfaskföaskföaskfölsdakföäaskföakföaldfköakfakföaskfaöfkaöglsdfvlsöjbosfjgagjasjfgasidjfafjlaksfjalkdsjflakdsjflkadsdfladsfladsnasdv
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil Civil and environmental engineering">
                                        ASDfasdfa
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil and enviroonmental engineering">
                                        ASDfasdfa afa fas sa fasf as f
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil and environmental engineering Civil and environmental engineering">
                                        ASDfasdfa afa fas sa fasf as f
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil and ering Civil and environmental engineering">
                                        ASDfasdfa afa fa
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil  engineering">
                                        asdffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffdfsfasfdasfasfdasfajsfasdfkaöskföalskföaskföaskföaskfaskföaskföaskfölsdakföäaskföakföaldfköakfakföaskfaöfkaöglsdfvlsöjbosfjgagjasjfgasidjfafjlaksfjalkdsjflakdsjflkadsdfladsfladsnasdv
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil Civil and environmental engineering">
                                        ASDfasdfa
                                    </a>
                                    <a href="#" class="tagboard__tag" data-toggle="tooltip" data-placement="top" title="" data-original-title="Civil and enviroonmental engineering">
                                        ASDfasdfa afa fas sa fasf as f
                                    </a>



                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="on-modal-footer">
                        <div class="on-modal-footer__bar">
                            <div class="meter">
                                <span class="meter__bar" style="width: 25%"></span>
                            </div>
                        </div>
                        <div class="on-modal-footer__button">
                            <a href="#" class="on-modal-button active">
                                <div class="on-modal-button__icon">
                                    <div class="u-scaling-svg">
                                        <svg class="u-scalingSvg__shape">
                                            <use xlink:href="#shape-arrow-right-thin" />
                                        </svg>
                                    </div>
                                </div>
                                Pick 2 more universities to unlock recommendations
                            </a>
                        </div>
                        <div class="on-modal-footer__nav">
                            <a href="#" class="on-modal-navbutton on-modal-navbutton-left">Back</a>
                            <a href="#" class="on-modal-navbutton on-modal-navbutton-right">Skip</a>
                        </div>
                    </div>
                </div><!-- /.modal-pane -->

            </div>

            <a href="#" class="modal-close-button" data-dismiss="modal" aria-label="Close">
                <svg class="modal-close-button__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
                </svg>
                Not right now, thanks.
            </a>

        </div>
    </div>
</div>